<article class="post col-xs-4 col-sm-2" 
	itemscope itemType="http://schema.org/BlogPosting">

	<div class="thumbnail">
        <div class="caption text-left">
		{{# getTotalMeGustas }}
			<span class="total-me-gustas titular">
				<i class=" fa fa-star"></i> <span class="cant">{{ getTotalMeGustas }}</span>
			</span>
		{{/ getTotalMeGustas }}		
        </div>
        
		<a href="{{getUrl}}" title="{{{getTitulo}}}">			
			{{#getThumbnails}}
				{{#medium}}
					<img class="img-responsive" src="{{medium}}" />
				{{/medium}}
				{{^medium}}
					<img class="img-responsive sin-thumbnail"/>
				{{/medium}}
			{{/getThumbnails}}
			{{^getThumbnails}}
				<img class="img-responsive sin-thumbnail"/>
			{{/getThumbnails}}
		</a>
    </div>
    <h2 class="post-title titular">
		<a href="{{getUrl}}" title="{{{getTitulo}}}">{{{getTituloCorto}}}</a>
    </h2>	
</article>