<div class="fila bs-callout">	
	<a href="{{getPerfilUrl}}">
		<span class="avatar col-xs-2">
			<img src="{{getAvatar}}" alt="{{display_name}} avatar">
		</span>
		<span class="col-xs-10">{{display_name}}</span>
	</a>
</div>