<div id="page" class="container-fluid">
	<h1>Analítica y seguimiento de usuarios </h1>
	<p>Analítica de usuarios por día</p>
	<div>
		<table class="table table-bordered">
			<tr>
				<th>ID</th>
				<th>user_id</th>
				<th>created_id</th>
				<th>updated_id</th>
			</tr>
		{{#analiticas}}
			<tr>
				<td>{{ ID }}</td>
				<td>{{ user_id }}</td>
				<td>{{ created_at }}</td>
				<td>{{updated_at }}</td>
			</tr>
			<tr><td colspan="4">
				<p>Seguimiento de Usuarios por post:</p>
				<table class="table table-bordered">
					<tr>
						<th>ID</th>
						<th>analitica_id</th>
						<th>post_id</th>
						<th>total</th>
						<th>ip</th>
						<th>created_id</th>
						<th>updated_id</th>
					</tr>
				{{# getSeguimientos }}
					<tr>
						<td>{{ ID }}</td>
						<td>{{ analitica_id }}</td>
						<td>{{ post_id }}</td>
						<td>{{ total }}</td>
						<td>{{ ip }}</td>
						<td>{{ created_at }}</td>
						<td>{{ updated_at }}</td>
					</tr>
				{{/ getSeguimientos }}
				</table>
				</td>
			</tr>
			{{/analiticas}}
		</table>
	</div>
</div>