<div id="page" class="container-fluid">
	<h1><i class="fa fa-terminal"></i> Analítica y seguimiento de usuarios </h1>
	
	<h3><i class="fa fa-area-chart"></i> Total de usuarios registrados por día</h3>
	<div id="total-users" style="height: 250px; margin-bottom:70px;"></div>
	
	<h3><i class="fa fa-line-chart"></i> Total de visitas por usuario logueado por día</h3>
	<div id="total-visitas" style="height: 300px;"></div>

</div>


<script src="{{public_directory}}/third/raphael/raphael.min.js"></script>
<script src="{{public_directory}}/third/morris/morris.js"></script>
<script src="{{public_directory}}/js/analitica.js"></script>

<script>
	$(document).ready(function() {
		var url = "{{template_url}}/admin_ajax.php?submit=analitica&tabla=total-users&cant=50";
		pintarMorris("total-users", url);
		
		url = "{{template_url}}/admin_ajax.php?submit=analitica&tabla=total-visitas&cant=50";
		pintarMorris("total-visitas", url);
		
	});
</script>
