<div id="page" class="container-fluid">
<h1>Tus favoritos {{ current_user.display_name }}</h1>
{{#total}}
<p>Estas son las entradas que te gustan. En total: <span class="badge">{{total}}</span></p>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">

	{{#favoritos_tab}}
		<li {{#activo}}class="active"{{/activo}}><a href="#{{clave}}" role="tab" data-toggle="tab">{{valor}}</a></li>	  
	{{/favoritos_tab}}

	</ul>

	<!-- Tab panes -->
	<div class="tab-content posts">
	{{# favoritos }}

		{{#bandas}}
		<div class="tab-pane {{#activo}}active{{/activo}}" id="bandas">
			{{#lista}}
				{{> home/_post }}
			{{/lista}}
		</div>
		{{/bandas}}

		{{#videos}}
		<div class="tab-pane {{#activo}}active{{/activo}}" id="videos">
			{{#lista}}
				{{> home/_post }}
			{{/lista}}
		</div>
		{{/videos}}

		{{#entrevistas}}
		<div class="tab-pane {{#activo}}active{{/activo}}" id="entrevistas">
			{{#lista}}
				{{> home/_post }}
			{{/lista}}
		</div>
		{{/entrevistas}}

		{{#noticias}}
		<div class="tab-pane {{#activo}}active{{/activo}}" id="noticias">
			{{#lista}}
				{{> home/_post }}
			{{/lista}}
		</div>
		{{/noticias}}

		{{#conciertos}}
		<div class="tab-pane {{#activo}}active{{/activo}}" id="conciertos">
			{{#lista}}
				{{> home/_post }}
			{{/lista}}
		</div>
		{{/conciertos}}

	{{/ favoritos }}
	</div>

</div>
{{/total}}
{{^total}}
<p>Aún no marcaste ninguna entrada como favorita. <br>
	Entra ya a una entrada y dale al botón de "<i class="fa fa-star"></i> Me gusta" 
	para ver el listado completo en esta sección.</p>
</div>
{{/total}}