<div id="page" class="container-fluid">
	
	{{# hay_pendientes }}
	<h2> Usuarios pendientes <small></small></h2>
	<table class="table table-hover table-condensed table-responsive">
		<thead>
			<tr>
				<th class="col-xs-4">Usuario</th>
				<th class="col-xs-4">Fecha</th>
				<th class="col-xs-4">Acciones</th>
			</tr>
		</thead>
		<tbody>
		{{# pendientes }}
		  	<tr>
				<td><a href="{{ getUser.getPerfilUrl }}"
				target="_blank">{{ getUser.user_login }}</a></td>
				<td>{{ updated_at }}</td>
				<td>
					<button class="btn btn-success btn-xs btn-block hacer-colaborador"
					 		url="{{template_url}}/admin_ajax.php" que="hacer-colaborador"
							user="{{user_id}}" editor="{{user.ID}}">
						Aceptar
					</button>
					<button class="btn btn-warning btn-xs btn-block hacer-colaborador"
					 		url="{{template_url}}/admin_ajax.php" que="rechazar-colaborador"
							user="{{user_id}}" editor="{{user.ID}}">
						Rechazar
					</button>
				</td>
			</tr>
	   	{{/ pendientes }}
	   	</tbody>
	</table>
	{{/ hay_pendientes }}
	
	<hr>
	
	{{# hay_aceptados }}
	<h2> Usuarios pendientes<small> Aceptados</small></h2>
	<table class="table table-hover table-condensed table-responsive">
		<thead>
			<tr>
				<th class="col-xs-4">Usuario</th>
				<th class="col-xs-4">Fecha</th>
				<th class="col-xs-4">Editor</th>
			</tr>
		</thead>
		<tbody>
		{{# aceptados }}
		  	<tr>
				<td><a href="{{ getUser.getPerfilUrl }}"
				target="_blank">{{ getUser.user_login }}</a></td>
				<td>{{ updated_at }}</td>
				<td><a href="{{ getEditor.getPerfilUrl }}"
				target="_blank">{{ getEditor.user_login }}</a></td>				
			</tr>
	   	{{/ aceptados }}
	   	</tbody>
	</table>
	{{/ hay_aceptados }}
	
	{{# hay_rechazados }}
	<h2> Usuarios pendientes<small> RECHAZADOS</small></h2>
	<table class="table table-hover table-condensed table-responsive">
		<thead>
			<tr>
				<th class="col-xs-4">Usuario</th>
				<th class="col-xs-4">Fecha</th>
				<th class="col-xs-4">Editor</th>
			</tr>
		</thead>
		<tbody>
		{{# rechazados }}
		  	<tr>
				<td><a href="{{ getUser.getPerfilUrl }}"
				target="_blank">{{ getUser.user_login }}</a></td>
				<td>{{ updated_at }}</td>
				<td><a href="{{ getEditor.getPerfilUrl }}"
				target="_blank">{{ getEditor.user_login }}</a></td>				
			</tr>
	   	{{/ rechazados }}
	   	</tbody>
	</table>
	{{/ hay_rechazados }}
	
</div>