<div class="row login">
	<div class="col-sm-12">	
		<form name="loginform" id="loginform" action="{{login_url}}"
			method="post" role="form" class="form">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-2">
					<input type="text" name="log" id="user_login"
						data-toggle="tooltip" data-placement="top" title="{{#transu}}usuario_title{{/transu}}"
						class="form-control" value="" size="20" placeholder="{{#transu}}user{{/transu}}">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2">
				 <input type="password" name="pwd" id="user_pass"
				 	data-toggle="tooltip" data-placement="top" title="{{#transu}}contrasena{{/transu}}"
				 	class="form-control" value="" size="20" placeholder="{{#transu}}contrasena{{/transu}}">
				</div>
				<div class="login-submit col-xs-6 col-sm-3 col-md-2">
					<button type="submit" name="wp-submit" id="wp-submit"
						class="btn btn-danger form-control">
						<i class="fa fa-sign-in"></i> {{#transu}}acceder{{/transu}}
					</button>
				</div>
				 <div class="checkbox col-xs-6 col-sm-3 col-md-2">
				 	<label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> 
				 		<span class="hidden-md">{{#transu}}recuerdame{{/transu}}</span>
				 		<span class="visible-md">{{#transu}}recuerda{{/transu}}</span>
					</label>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2">
					<a class="btn btn-default col-xs-12" href="/wp-login.php?action=register" 
				 		data-toggle="tooltip" data-placement="top" title="{{#transu}}registrarse_title{{/transu}}">
						{{#transu}}registrarse{{/transu}}</a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2">
					<a class="btn btn-default col-xs-12" href="/wp-login.php?action=lostpassword" 
				 		data-toggle="tooltip" data-placement="top" title="{{#transu}}contrasena_perdida{{/transu}}">
						{{#transu}}contrasena{{/transu}}?</a>
				</div>	
			</div>
		</form>
	</div>
</div>