{{#current_user}}
<div class="row">

	<div class="avatar col-xs-4 col-sm-2 col-md-1">
		<a href="{{getPerfilUrl}}" alt="{{display_name}}">
			<img alt="{{display_name}}" src="{{getAvatar}}" width="90" height="90">
		</a>
	</div>

	<div class="menu-acciones col-xs-8 col-sm-10 col-md-11">
		<div class="title text-center col-xs-8 col-sm-12 col-md-3">
			
			<span class="col-xs-9 col-md-12 text-center title-user-name">{{#transu}}bienvenido{{/transu}} <br class="visible-md visible-lg">
				<a href="{{getPerfilUrl}}">{{display_name}}</a>
			</span> <br class="visible-md visible-lg">
			
			<a class="col-xs-3 col-md-12" href="/wp-login.php?action=logout&amp;redirect_to={{redirect_to}}" target="_blank">
				<span class="hidden-lg"><i class="fa fa-exclamation-circle"></i> {{#transu}}salir{{/transu}}</span>
				<span class="visible-lg"><i class="fa fa-exclamation-circle"></i> {{#transu}}cerrar_sesion{{/transu}}</span>
			</a>
		</div>

		<div class="acciones text-center col-xs-12 col-sm-12 col-md-9">
			<div class="list-group">
			{{#isSuscriptor}}
				{{^isSuscriptorRechazado}}
				  <a class="list-group-item col-xs-12 col-sm-6" href="/tutorial#publica">
					<i class="fa fa-pencil"></i> {{#trans}}user.quieres_escribir{{/trans}}
				  </a>
				{{/isSuscriptorRechazado}}
			{{/isSuscriptor}}
			{{#canColaborador}}
			  <a class="list-group-item col-xs-12 col-sm-3" href="/wp-admin/edit.php" target="_blank">
			  	<i class="fa fa-files-o"></i> posts
				</a>	
				
			  <a class="list-group-item col-xs-12 col-sm-3" href="/wp-admin/post-new.php" target="_blank">
				<span class="hidden-lg"><i class="fa fa-pencil"></i> {{#transu}}escribir{{/transu}}</span>
				<span class="visible-lg"><i class="fa fa-pencil"></i> {{#transu}}nueva_entrada{{/transu}}</span>
			  </a>
			{{/canColaborador}}
			
			  <a class="list-group-item col-xs-12 {{^isSuscriptorRechazado}}col-sm-3{{/isSuscriptorRechazado}}
			  		{{#isSuscriptorRechazado}}col-sm-6{{/isSuscriptorRechazado}}" href="/wp-admin/admin.php?page=favoritos" target="_blank">  	
			  	<span class="hidden-md hidden-sm"><i class="fa fa-star"></i> {{#transu}}favoritos{{/transu}}</span>
				<span class="visible-md visible-sm"><i class="fa fa-star"></i> {{#transu}}favs{{/transu}}</span>
				</a>
	
			  <a class="list-group-item col-xs-12 {{^isSuscriptorRechazado}}col-sm-3{{/isSuscriptorRechazado}}
			  		{{#isSuscriptorRechazado}}col-sm-6{{/isSuscriptorRechazado}}" href="/wp-admin/profile.php" target="_blank">
				<span class="hidden-lg"><i class="fa fa-user"></i> {{#transu}}perfil{{/transu}}</span>
				<span class="visible-lg"><i class="fa fa-user"></i>{{#transu}}ver_perfil{{/transu}}</span>
				</a>

			</div>
		</div>
	</div>
</div>
{{/current_user}}