<div class="row ">
	<div class="avatar col-xs-4 col-sm-2 col-md-2">
		{{#current_user.url}}
			<a href="{{current_user.url}}" title="{{#transu}}entradas_de [nombre:current_user.display_name]{{/transu}}" 
				alt="avatar de {{current_user.display_name}}">{{{user_avatar}}}</a>
		{{/current_user.url}}
		{{^current_user.url}}
			{{{user_avatar}}}
		{{/current_user.url}}
	</div>

	<div class="title text-center col-xs-8 col-sm-10 col-md-3">
		<h3>{{#transu}}bienvenido{{/transu}}
		{{#current_user.url}}
			<a href="{{current_user.url}}" title="{{#transu}}entradas_de [nombre:current_user.display_name]{{/transu}}">
			{{current_user.display_name}}</a>
		{{/current_user.url}}
		{{^current_user.url}}
			{{current_user.display_name}}
		{{/current_user.url}}
		</h3>
	</div>

	<div class="acciones text-center col-xs-12 col-sm-10 col-md-7">
		<div class="list-group">
		  <a class="list-group-item col-xs-12 col-sm-3" href="/wp-admin/" target="_blank">		  	
		  	<span class="visible-md"><i class="fa fa-home"></i> {{#transu}}panel{{/transu}}</span>
			<span class="hidden-md"><i class="fa fa-home"></i> {{#transu}}escritorio{{/transu}} </span>
			</a>

		  <a class="list-group-item col-xs-12 col-sm-3" href="/wp-admin/post-new.php" target="_blank">
			<span class="hidden-lg"><i class="fa fa-pencil"></i> {{#transu}}escribir{{/transu}}</span>
			<span class="visible-lg"><i class="fa fa-pencil"></i> {{#transu}}nueva_entrada{{/transu}}</span>
			</a>

		  <a class="list-group-item col-xs-12 col-sm-3" href="/wp-admin/profile.php" target="_blank">
			<span class="hidden-lg"><i class="fa fa-user"></i> {{#transu}}perfil{{/transu}}</span>
			<span class="visible-lg"><i class="fa fa-user"></i>{{#transu}}ver_perfil{{/transu}}</span>
			</a>

		  <a class="list-group-item col-xs-12 col-sm-3" href="/wp-login.php?action=logout&amp;redirect_to={{redirect_to}}" target="_blank">
			<span class="hidden-lg"><i class="fa fa-exclamation-circle"></i> {{#transu}}salir{{/transu}}</span>
			<span class="visible-lg"><i class="fa fa-exclamation-circle"></i> {{#transu}}cerrar_sesion{{/transu}}</span>
			</a>
		</div>
	</div>

</div>