{{< base }}

	{{$ content }}
	<div id="amigas" class="pagina">
		<h1 class="col-xs-12 titular">{{#transu}}partners.webs_amigas_y_partners{{/transu}}</h1>
		<div class="col-xs-12 col-sm-4">
			<h3 class="titular">Return to my blood</h3>
			<a title="Return to my blood" href="http://blstru.blogspot.com" target="_blank">
				Return to my blood
			</a> | {{#transu}}musica{{/transu}}
		</div>
		
		<div class="col-xs-12 col-sm-4">
			<h3 class="titular">Black On Frame</h3>		
			<a title="Brutal family" href="http://www.blackonframe.com/" target="_blank">
				Black On Frame
			</a> | {{#transu}}partners.producción_audiovisual{{/transu}}
		</div>
		
		<div class="col-xs-12 col-sm-4">
			<h3 class="titular">{{#transu}}partners.quieres_ser_tu{{/transu}}</h3>
			<a title="NextShow" href="/contacto?to=publicidad" target="_blank">
				{{#transu}}partners.escribenos{{/transu}}
			</a> | {{#transu}}contacto{{/transu}}
		</div>
	</div>
	{{/ content }}
	
{{/ base }}