{{< base }}
	{{$ content }}
	<div id="contacto" class="pagina">
		<div class="col-xs-12">
			<div class="col-xs-12">
				<h1 class="titular">Contacto</h1>
				
				<p>Para cualquier necesidad de contacto siempre podréis escribirnos a 
					través de nuestro correo nuevametal[@]outlook.com</p>
				<ul class="errores">
				{{# errores }}
					<li class="error">{{.}}</li>
				{{/ errores }}
				</ul>
				{{# mostrarFormulario }}
					<form class="form-horizontal" role="form" method="post">
						<input type="hidden" name="nonce" value="{{nonce}}">
						<div class="form-group">
							<label for="email" class="col-md-2 control-label">Email</label>
							<div class="col-md-10">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" 
								{{#current_user}}value="{{getEmail}}"{{/current_user}}>
							</div>
						</div>
						<div class="form-group">
							<label for="departamento" class="col-md-2 control-label">Departamento</label>
							<div class="col-md-10">
								<select class="form-control" id="departamento" name="departamento">
									<option value="general">General</option>
									<option value="publicidad">Publicidad</option>
									<option value="desarrollo">Desarrollo web</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="mensaje" class="col-md-2 control-label">Mensaje</label>
							<div class="col-md-10">
					 			<textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
					 		</div>
						</div>
						<div class="form-group">
							<label for="captcha" class="col-md-2 control-label">Introduce el captcha</label>
							<div class="col-md-10">
								<div>{{captcha}}</div>
					 			<input type="text" class="form-control" id="captcha" name="captcha" placeholder="***********">
					 		</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
					    		<button type="submit" class="btn btn-default">Enviar mensaje</button>
					 		</div>
						</div>
					</form>
				{{/ mostrarFormulario }}
				{{^ mostrarFormulario }}
					<p>Mensaje enviado con éxito. En breves recibirás respuesta al email indicado. 
						Un saludo y gracias por confiar en NuevaMetal.</p>
				{{/ mostrarFormulario }}
			</div>
		</div>	
	</div>
	{{/ content }}
{{/ base }}