<div class="pagina redes">
	<h1 class="col-xs-12 titular">Aviso legal</h1>
	<div class="col-xs-12 col-sm-6">
		<h3 class="titular">Cookies</h3>
		<p>Nosotros utilizamos cookies para rastrear el uso que los usuarios hacen del sitio
		 web y conocer cuáles son sus preferencias. Usamos cookies que nos proporcionan 
		 datos globales sobre el tráfico del sitio y la interacción con el mismo, a fin de 
		 identificar tendencias y elaborar estadísticas, etc., de manera que podamos 
		 ofrecerte una mejor navegación y nuevas herramientas en el futuro.</br>
		A través de las opciones de tu explorador, puedes elegir que tu ordenador 
		te avise cada vez que una cookie sea enviada, o incluso inhabilitar todas las cookies.</p>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3 class="titular">Creative Common</h3>
		<p>
			<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license"><img style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="Creative Commons License" /></a>
		NuevaMetal by <a href="http://chemaclass.com" rel="cc:attributionURL">Chemaclass</a> 
		is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" 
			target="_blank" rel="license">Creative Commons Attribution 4.0 International License</a>.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3 class="titular">Autores</h3>
		<dl class="dl-horizontal">
		  <dt>Programador</dt>
		  <dd>José María Valera Reales <code>@Chemaclass</code></dd>
		  <dt>Diseñador</dt>
		  <dd>Pedro Jesús Macanás <code>pjmacanass@gmail.com</code></dd>
		</dl>
	</div>
</div>