<div class="pagina redes">

	<h1 class="col-xs-12 titular">{{#transu}}aviso_legal{{/transu}}</h1>
	
	<div id="aviso-cookies" class="col-xs-12 col-sm-6">
		<h3 class="titular"><i class="fa fa-terminal"></i> Cookies</h3>
		<p>Nosotros utilizamos cookies para rastrear el uso que los usuarios hacen del sitio
		 web y conocer cuáles son sus preferencias. Usamos cookies que nos proporcionan 
		 datos globales sobre el tráfico del sitio y la interacción con el mismo, a fin de 
		 identificar tendencias y elaborar estadísticas, etc., de manera que podamos 
		 ofrecerte una mejor navegación y nuevas herramientas en el futuro.</br>
		A través de las opciones de tu explorador, puedes elegir que tu ordenador 
		te avise cada vez que una cookie sea enviada, o incluso inhabilitar todas las cookies.</p>
	</div>
	
	<div id="copy" class="col-xs-12 col-sm-6">
		<h3 class="titular"><i class="fa fa-copyright"></i> Creative Common</h3>
		<p>
			<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license"><img style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="Creative Commons License" /></a>
		NuevaMetal by <a href="http://chemaclass.com" rel="cc:attributionURL">Chemaclass</a> 
		is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" 
			target="_blank" rel="license">Creative Commons Attribution 4.0 International License</a>.
		</p>
	</div>
	
	<div id="aviso" class="col-xs-12 col-sm-6">
		<h3 class="titular"><i class="fa fa-info"></i> {{#transu}}aviso{{/transu}}</h3>
		<p>{{#trans}}sidebar.si_no_quieres_aparecer{{/trans}}
	</div>
	
	<div id="autores" class="col-xs-12">
		<h3 class="titular"><i class="fa fa-legal"></i> Obligaciones</h3>
		<p>Aceptando estas condiciones te comprometes a seguir unas reglas de conducta y cumplir las siguientes obligaciones:</p>
		<ol>
			<li>Estás obligado a hacer un uso razonable de la web.</li>
			<li>Deberás utilizar datos reales pero en ningún caso podrás suplantar la identidad de otra persona.</li>
			<li>Garantizas que las imágenes que utilizas son tuyas o en su defecto, cuentas con los pertinentes derechos 
			de autor, imagen, etc. Es decir, aceptas que eres el único responsable del contenido que publicas en NuevaMetal.</li>
			<li>Deberás abstenerte de publicar, transmitir o distribuir entre los usuarios cualquier contenido que sea 
			racista, ofensivo, discriminatorio, sexual, violento o ilegal, ya que aceptas que deberás indemnizarnos 
			y asumir los costes judiciales si algún usuario se siente ofendido o amenazado por sus publicaciones.</li>
			<li>Aceptas las consecuencias en el caso de que efectúes interferencias que perturben el normal desarrollo 
			de NuevaMetal, sea tanto intentos de hacking, ataques de fuerza bruta, uso de virus, gusanos, troyanos 
			u otros intentos.</li>
			<li>Te comprometes a no copiar, distribuir, transmitir o cobrar por el uso de datos personales ajenos sin 
			el consentimiento del propietario respectivo, por lo que nos eximiras de cualquier responsabilidad 
			derivada de estos actos.</li>
			<li>Entrando a formar parte de NuevaMetal, asume que su única finalidad es disfrutar de la música.</li>
		</p>
	</div>
	
	<div id="autores" class="col-xs-12">
		<h3 class="titular"><i class="fa fa-cogs"></i> Sanciones y consecuencias en caso del incumplimiento de 
		las obligaciones.</h3>
		<p>Con el fin de garantizar el suministro adecuado y fiable de nuestros servicios, y la paz y armonía de 
		todos nuestros usuarios, NuevaMetal podrá imponer sanciones, que variarán según la infracción cometida y 
		el impacto de la misma respecto al resto de usuarios. Dichas sanciones son:
			<ol>			  
			  <li>Advertencia o eliminación de tu contenido.</li>
			  <li>Cancelación temporal o total de tu cuenta de usuario.</li>
			</ol>
		</p>
	</div>
		
	<div id="autores" class="col-xs-12">
		<h3 class="titular"><i class="fa fa-key"></i> Contraseñas</h3>
		<p>Tú eres el responsable de la custodia de la contraseña que emplees para acceder a los Servicios 
		y de cualquier actividad o acto que se lleve a cabo con tu contraseña. Recomendamos que protejas tu 
		cuenta con una contraseña difícil de descifrar (con combinaciones de letras mayúsculas y minúsculas, 
		números y símbolos). NuevaMetal no será responsable de ningún perjuicio o daño que resulte del 
		incumplimiento de lo mencionado con anterioridad.
		</p>
	</div>

	<div id="autores" class="col-xs-12">
		<h3 class="titular"><i class="fa fa-users"></i> {{#transu}}autores{{/transu}}</h3>
		<dl class="dl-horizontal">
		  <dt>{{#transu}}programador{{/transu}}</dt>
		  <dd>José María Valera Reales <code>@Chemaclass</code></dd>
		  <dt>{{#transu}}Diseñador{{/transu}}</dt>
		  <dd>Pedro Jesús Macanás <code>pjmacanass@gmail.com</code></dd>
		</dl>
	</div>
</div>