{{< base }}
	{{$ content }}
		<h1 id="nuevametal" class="pagina" class="col-xs-12 titular">NuevaMetal.com</h1>
	<div class="col-xs-12 ">
		<h3 class="titular">¿Qué es NuevaMetal?</h3>
		NuevaMetal es un buscador de bandas de Metalcore, Hardcore, Deathcore, Death Metal, Metal Melódico 
		y todas sus variantes, donde podrás encontrar cualquier discografía de las mejores bandas de Metal.
	Gracias a NuevaMetal podrás descubrir tanto a bandas internacionales de renombre como jóvenes bandas 
	(destacamos el apoyo a las bandas nóveles nacionales) que empiezan con ganas y merecen una oportunidad,
	para que todas las bandas de Metal puedan ser reconocidas por su esfuerzo, tiempo y gran trabajo.
	</div>
	<div class="col-xs-12 ">
		<h3 class="titular">¿Cómo y por qué nació NuevaMetal?</h3>
		
	Hará unos años que empezó a entusiasmarme este fantástico mundo de la cultura y música Metal y, 
	como cualquier joven en mi lugar, empecé a escuchar los grupetes más conocidos que me enseñaban 
	los colegas. Apenas conocía 10 o 20 bandas, y estas eran "las mías". Sin embargo, en afán de querer 
	escuchar más,de escuchar nuevos géneros, nuevas bandas, expandirme en este campo, empecé junto con 
	un gran amigo, Javi, a recopilar nuevas discografías todas las semanas,abordando todos los géneros.
	
	Cada semana Javi me pasaba 5 o 7 discografías completas de bandas muy poco conocidas; a esto le 
	denominábamos "nueva oleada del metal". Algunas de ellas eran asombrosas;en ocasiones me quedaba 
	atónito al pensar que antes no las conocía... Esto acabó generando una cantidad importante de 
	música en mi disco duro, de estilos muy variados, y que sin lugar a dudas, no podría quedar en 
	sólo dos personas.
	
	Por lo que un día, allá por abril de 2010, decidí crear un blog donde recopilaría y daría mi 
	opinión personal sobre estas bandas. En un principio no se me ocurrió poner esta facilidad (para 
	compartir la música a sólo un clic desde enlaces de descarga desde otros servidores); simplemente, 
	sería un blog informativo. Un blog personal llamado nuevaoleadadelmetal donde yo, Chema, daría mi 
	opinión, y Javi se encargaría de las búsquedas masivas de bandas (ya que por aquel entonces, yo no 
	disponía de Internet).
	
	Sin embargo, un día de lucidez, pensé en compartir, mediante enlaces de descarga gratuitos, del 
	mismo modo que informaba sobre la historia de las bandas, apoyando a todas y cada una de ellas, 
	pero, en especial, a las españolas. No por nada, sino porque cuando empecé en esto, apenas conocía 
	género nacional, no porque no lo hubiese, sino porque, simplemente, lo desconocía. Y ahora, consciente 
	de su existencia, es mi deber ayudar a estas a darse a conocer. Tenemos un género estupendo, por supuesto. 
	Y no podríamos quedárnoslo para nosotros, debemos compartirlo con el mundo y ayudarlas a seguir para adelante,
	¡que no se diga que vamos flojos!
	</div>
	
	<div class="col-xs-12">
		<h3 class="titular"></h3>
		Del mismo modo, varias cabezas piensan más que una, por ello la idea de pedir ayuda 
		y dar la posibilidad así de que otros usuarios puedan directamente subir sus bandas, 
		sus gustos y preferencias, fue una muy acertada.Cuantos más somos más variedad hay en NM, 
		ya que no todos tenemos los mismos gustos. Recordemos que <span class="titular">lo mas bello de la música es la hibridación</span>.
	Por tanto he de agradecer el gran trabajo que están haciendo nuestros colaboradores de NuevaMetal, así como a todas las bandas que han compartido, y siguen compartiendo, sus proyectos y trabajos con todos nosotros, enviándonos también cosas desde Chile, Perú, México, EEUU y otros muchos países, a los que desde aquí mando un gran saludo.
	Además, por supuesto, al gran trabajo de Macas, aportándonos el nuevo logo y fondo de NM.
	<br>
	<span class="titular">Gracias a todos por permitir que este proyecto siga hacia adelante.</span>
	</div>
	{{/ content }}
{{/ base }}