{{< base }}

	{{$ content }}	
		<div id="revisiones" class="padre">
			<h1 class="titular">{{#transu}}revisiones{{/transu}}</h1>
			
			<!-- Nav tabs -->
			<ul class="nav nav-tabs titular" role="tablist">
				<li class="active"><a href="#pendientes" role="tab" data-toggle="tab">
					{{#transu}}pendientes{{/transu}} {{#total_pendientes}}(<span class="cant">{{total_pendientes}}</span>){{/total_pendientes}}</a>
				</li>
				<li><a href="#corregidas" role="tab" data-toggle="tab">
					{{#transu}}corregidas{{/transu}} {{#total_corregidas}}(<span class="cant">{{total_corregidas}}</span>){{/total_corregidas}}</a>
				</li>
				{{# total_baneados }}
				<li><a href="#baneados" role="tab" data-toggle="tab">
					{{#transu}}baneados{{/transu}} (<span class="cant">{{total_baneados}}</span>)</a>
				</li>
				{{/ total_baneados }}
			</ul>
	
			<!-- Tab panes -->
			<div class="tab-content">			
				<div class="tab-pane active col-xs-12" id="pendientes">
					{{# pendientes }}
						{{> pages/revisiones/_tabla_revisiones }}
					{{/ pendientes }}
				</div>
				
				<div class="tab-pane col-xs-12" id="corregidas">
					{{# corregidas }}
						{{> pages/revisiones/_tabla_revisiones }}
					{{/ corregidas }}
				</div>
				
				<div class="tab-pane col-xs-12" id="baneados">
					<h2 class="titular">{{#transu}}baneos{{/transu}} <small>Impide a un usuario volver a enviar notificaciones</small></h2>
					{{# baneados }}
						<table class="table table-hover table-condensed table-responsive">
							<thead>
								<tr>
									<th class="col-xs-1">Nº</th>
									<th class="col-xs-3">{{#transu}}usuario{{/transu}}</th>
									<th class="col-xs-2">{{#transu}}fecha{{/transu}}</th>
									<th class="col-xs-4">{{#transu}}editor{{/transu}}</th>
									<th class="col-xs-2">{{#transu}}acciones{{/transu}}</th>
								</tr>
							</thead>
							<tbody>
							{{# lista }}
							  	<tr>
							  		<td>{{ num }}</td>
									<td>
										<span class="avatar">
											<a href="{{getUser.getPerfilUrl}}">
												<img src="{{getUser.getAvatarIco}}" alt="{{getUser.getAlias}} avatar">
											</a>
										</span>
										<a href="{{ getUser.getPerfilUrl }}" target="_blank">{{ getUser.user_login }}</a>
									</td>
									<td>{{ created_at }}</td>
									<td>
										<span class="avatar">
											<a href="{{getEditor.getPerfilUrl}}">
												<img src="{{getEditor.getAvatarIco}}" alt="{{getEditor.getAlias}} avatar">
											</a>
										</span>
										<a href="{{ getEditor.getPerfilUrl }}" target="_blank">{{ getEditor.user_login }}</a>
									</td>
									<td>
										<button class="btn btn-danger btn-xs btn-block dispara-revision"
												que_id="{{getUser.ID}}" submit="revision-ban" estado="{{ USER_DESBANEADO }}">
											{{#transu}}desbanear{{/transu}}
										</button>
									</td>
								</tr>
						   	{{/ lista }}
						   	</tbody>
						</table>
					{{/ baneados }}
				</div>
				
			</div><!-- /Tab panes -->
			
		</div>
	{{/ content }}
	
{{/ base }}