{{< base }}

	{{$ content }}
		<h1 class="titular">{{#transu}}user.usuarios_pendientes{{/transu}}</h1>	
		
		<!-- Nav tabs -->
			<ul class="nav nav-tabs titular" role="tablist">
				<li class="active"><a href="#pendientes" role="tab" data-toggle="tab">
					{{#transu}}pendientes{{/transu}} (<span class="cant">{{total_pendientes}}</span>)</a>
				</li>
				<li><a href="#aceptados" role="tab" data-toggle="tab">
					{{#transu}}aceptados{{/transu}} (<span class="cant">{{total_aceptados}}</span>)</a>
				</li>
				{{# total_rechazados }}
				<li><a href="#rechazados" role="tab" data-toggle="tab">
					{{#transu}}rechazados{{/transu}} (<span class="cant">{{total_rechazados}}</span>)</a>
				</li>
				{{/ total_rechazados }}				
			</ul>
	
			<!-- Tab panes -->
			<div class="tab-content">			
			
				<div class="tab-pane active col-xs-12" id="pendientes">
					<h4 class="titular">{{#trans}}user.usuarios_pendientes{{/trans}}</h4>
					{{^ total_pendientes }}
						<h3>Aún no hay usuarios pendientes para hacer colaboradores.</h3>
					{{/ total_pendientes }}
					
					{{# total_pendientes }}
					<table class="table table-hover table-condensed table-responsive">
						<thead>
							<tr>
								<th class="col-xs-4">{{#transu}}usuario{{/transu}}</th>
								<th class="col-xs-4">{{#transu}}fecha{{/transu}}</th>
								<th class="col-xs-4">{{#transu}}acciones{{/transu}}</th>
							</tr>
						</thead>
						<tbody>
						{{# pendientes }}
						  	<tr>
								<td>
									<span class="avatar">
										<a href="{{getUser.getPerfilUrl}}">
											<img src="{{getUser.getAvatarIco}}" alt="{{getUser.getAlias}} avatar">
										</a>
									</span> <a href="{{ getUser.getPerfilUrl }}" target="_blank">{{ getUser.user_login }}</a><br>
								</td>
								<td><i class="fa fa-clock-o"></i> {{ updated_at }}</td>
								<td>
									<button class="btn btn-success btn-xs hacer-colaborador col-xs-12 col-md-8"
									 		url="{{template_url}}/admin_ajax.php" que="hacer-colaborador"
											user="{{user_id}}" editor="{{current_user.ID}}">
										{{#transu}}aceptar{{/transu}}
									</button>
									<button class="btn btn-warning btn-xs hacer-colaborador col-xs-12 col-md-4"
									 		url="{{template_url}}/admin_ajax.php" que="rechazar-colaborador"
											user="{{user_id}}" editor="{{current_user.ID}}">
										{{#transu}}rechazar{{/transu}}
									</button>
								</td>
							</tr>
					   	{{/ pendientes }}
					   	</tbody>
					</table>
					{{/ total_pendientes }}
				</div>
				
				<div class="tab-pane col-xs-12" id="aceptados">
					<h4 class="titular">{{#trans}}user.usuarios_aceptados{{/trans}}</h4>
					{{^ total_aceptados }}
						<h3>Lista de usuarios aceptados vacía.</h3>
					{{/ total_aceptados }}
					
					{{# total_aceptados }}
					<table class="table table-hover table-condensed table-responsive">
						<thead>
							<tr>
								<th class="col-xs-4">Usuario</th>
								<th class="col-xs-4">Fecha</th>
								<th class="{{^isAdmin}}col-xs-4{{/isAdmin}}{{#isAdmin}}col-xs-2{{/isAdmin}}">Editor</th>
								{{#current_user.isAdmin}}
								<th class="col-xs-2">Acciones</th>
								{{/current_user.isAdmin}}
							</tr>
						</thead>
						<tbody>
						{{# aceptados }}
						  	<tr>
								<td>
									<span class="avatar">
										<a href="{{getUser.getPerfilUrl}}">
											<img src="{{getUser.getAvatarIco}}" alt="{{getUser.getAlias}} avatar">
										</a>
									</span> <a href="{{ getUser.getPerfilUrl }}" target="_blank">{{ getUser.user_login }}</a>
								</td>
								<td><i class="fa fa-clock-o"></i> {{ updated_at }}</td>
								<td>
									<span class="avatar">
										<a href="{{getEditor.getPerfilUrl}}">
											<img src="{{getEditor.getAvatarIco}}" alt="{{getEditor.getAlias}} avatar">
										</a>
									</span> <a href="{{ getEditor.getPerfilUrl }}" target="_blank">{{ getEditor.user_login }}</a>
								</td>	
								{{#current_user.isAdmin}}
								<td><button class="btn btn-info btn-xs btn-block hacer-colaborador"
									 		url="{{template_url}}/admin_ajax.php" que="hacer-pendiente"
											user="{{user_id}}" editor="{{current_user.ID}}">
										Pendiente
									</button>
									<button class="btn btn-danger btn-xs btn-block hacer-colaborador"
									 		url="{{template_url}}/admin_ajax.php" que="borrar"
											user="{{user_id}}" editor="{{current_user.ID}}">
										Borrar
									</button>
								</td>
								{{/current_user.isAdmin}}
							</tr>
					   	{{/ aceptados }}
					   	</tbody>
					</table>
					{{/ total_aceptados }}
				</div>
				
				<div class="tab-pane col-xs-12" id="rechazados">
					{{^ total_rechazados }}
						<h3>No hay usuarios rechazados.</h3>
					{{/ total_rechazados }}
					
					{{# total_rechazados }}
					<h3> Usuarios rechazados</h3>
					<table class="table table-hover table-condensed table-responsive">
						<thead>
							<tr>
								<th class="col-xs-4">{{#transu}}usuario{{/transu}}</th>
								<th class="col-xs-4">{{#transu}}fecha{{/transu}}</th>
								<th class="{{^isAdmin}}col-xs-4{{/isAdmin}}{{#isAdmin}}col-xs-2{{/isAdmin}}">Editor</th>
								{{#current_user.isAdmin}}
								<th class="col-xs-2">{{#transu}}acciones{{/transu}}</th>
								{{/current_user.isAdmin}}
							</tr>
						</thead>
						<tbody>
						{{# rechazados }}
						  	<tr>
								<td><a href="{{ getUser.getPerfilUrl }}"
								target="_blank">{{ getUser.user_login }}</a></td>
								<td>{{ updated_at }}</td>
								<td><a href="{{ getEditor.getPerfilUrl }}"
								target="_blank">{{ getEditor.user_login }}</a></td>
								{{#current_user.isAdmin}}
								<td><button class="btn btn-info btn-xs btn-block hacer-colaborador" que="hacer-pendiente"
											user="{{user_id}}" editor="{{current_user.ID}}"> Pendiente
									</button>
									<button class="btn btn-danger btn-xs btn-block hacer-colaborador"  que="borrar"
											user="{{user_id}}" editor="{{current_user.ID}}"> Borrar
									</button>
								</td>
								{{/current_user.isAdmin}}
							</tr>
					   	{{/ rechazados }}
					   	</tbody>
					</table>
					{{/ total_rechazados }}
				</div>
				
			</div>
		
	{{/ content }}
	
{{/ base }}