{{^ user.canEditor }}
	<div class="row" style="margin-top: 20px; margin-bottom: -11px;">
		<div class="col-xs-12 text-right panel-admin-user">		
			<button class="btn btn-default quitar-avatar"
					que="quitar-avatar" user="{{user.ID}}">Quitar avatar</button>
			<button class="btn btn-default quitar-header" 
					que="quitar-header" user="{{user.ID}}">Quitar header</button>
			{{^ user.isBloqueado }}
			<button class="btn btn-danger bloquear"
					que="bloquear" user="{{user.ID}}">Bloquear</button>
			{{/ user.isBloqueado }}
			{{# user.isBloqueado }}
			<button class="btn btn-warning bloquear" 
					que="desbloquear" user="{{user.ID}}">Desbloquear</button>
			{{/ user.isBloqueado }}
		</div>
	</div>
	<hr>
{{/ user.canEditor }}