<div class="alert alert-{{tipo}} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert">
	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{{#href}}<a href="{{{href}}}">{{/href}}{{#strong}}<strong>{{{.}}}</strong>{{/strong}} {{{mensaje}}}{{#href}}</a>{{/href}}
</div>