{{#posts}}
	<div id="post-{{id}}" class="post col-xs-12 col-sm-6 col-md-6 col-lg-3">
	    <h2><a href="{{permalink}}">{{{title}}}</a></h2>
	    <p>{{time}}</p>
	    {{#featured_image_url_medium}}
	    	<img src="{{featured_image_url_medium}}" />
	    {{/featured_image_url_medium}}
	    {{{excerpt}}}
	    {{> tags}}
	    {{> categories}}
	</div>
{{/posts}}