<button class="btn btn-default text-center titular col-xs-3 mostrar-menos" >
		<i class="fa fa-minus"></i>
		{{#transu}}leer_menos{{/transu}}
</button>
<button class="btn btn-default text-center titular col-xs-9 mostrar-mas" mostrar-mas="{{seccion}}" url="{{template_url}}/ajax.php" >
		<i class="fa  fa-plus"></i> 
		{{#transu}}leer_mas{{/transu}} 
		<i class="fa fa-refresh fa-spin hidden"></i>
</button>