<button class="btn btn-default text-center titular col-xs-12 mostrar-mas" 
		mostrar-mas="{{a_buscar}}" cant="{{cant}}" tipo="{{tipo}}">

	<i class="fa fa-plus icono-mas"></i>
	<i class="fa fa-refresh fa-spin hidden"></i>
	<span class="visible-xs">{{#transu}}leer_mas_movil{{/transu}}</span>
	<span class="hidden-xs">{{#transu}}leer_mas{{/transu}}</span>
	
</button>