<button class="btn btn-default text-center col-xs-12 
	mostrar-mas" mostrar-mas="{{seccion}}" url="{{template_url}}/ajax.php">
		Mostrar más <i class="fa fa-spinner fa-spin fa-2x hidden"></i>
</button>