<div class="header-seccion logo-cambiante">
	{{#url}}<a href="{{home_url}}{{url}}">{{/url}}
		<img src="{{template_url}}/public/img/NM_avatar_2.jpg"/>
		<span class="titular">{{ seccion | quitar_guiones | trans_palabras }}{{#que}}: {{.}}{{/que}}</span>
	{{#url}}</a>{{/url}}
</div>