<header class="page-header col-xs-12">
	 <h2>
		{{# header }} {{{header}}} {{/ header }}
		{{^ header }}
	     	Últimas entradas <small>Discografías, videoclips, entrevistas, etc</small>
	    {{/ header }} 
    </h2>
    {{# subheader }} {{{subheader}}} {{/ subheader }}
</header>

{{#posts}}
	{{> home/_post }}
{{/posts}}
