{{#reducido}}
<article class="post col-xs-12 col-sm-6">
{{/reducido}}
{{^reducido}}
<article class="post col-xs-12 col-sm-6 col-lg-3">
{{/reducido}}

	<div class="info">
    	<span class="post-time">{{time}} </span>
	    por <span class="post-author">{{{author}}} </span>
	</div>

	<div class="thumbnail">
        <div class="caption">
            <p><div class="tags">{{>tags}}</div> 
            <a href="{{permalink}}" type="button" class="btn btn-default btn-xs">Leer más</a>
            </p>
        </div>
	    <a href="{{permalink}}" title="{{{title}}}">
			{{#featured_image_url_medium}}
				<img class="img-responsive" src="{{featured_image_url_medium}}" />
			{{/featured_image_url_medium}}
			{{^featured_image_url_medium}}
				<img class="img-responsive sin-thumbnail" src="#" />
			{{/featured_image_url_medium}}
		</a>
    </div>

    <h2 class="post-title">
    	<a href="{{permalink}}" title="{{{title}}}">{{{title}}}</a>
    </h2>
	<p>
		{{{ excerpt }}}
	</p>
</article>