{{#getGenero}}
	<b class="titular">{{#transu}}genero{{/transu}}</b>: {{getGenero}} <br>
{{/getGenero}}
{{#getPais}}
	<b class="titular">{{#transu}}pais{{/transu}}</b>: {{getPais}} <br>
{{/getPais}}
{{^getGenero}}
	{{{ getExcerpt }}}
{{/getGenero}}