<article class="post col-xs-12 col-sm-6 {{^reducido}}col-lg-3{{/reducido}}" 
	itemscope itemType="http://schema.org/BlogPosting">

	<div class="thumbnail">
		<div class="info titular">
	    	<span class="post-time">{{time}} </span>
		    {{#trans}}por{{/trans}} <span class="post-author"><a href="{{autor.getPefilUrl}}">{{autor.display_name}}</a></span>
		</div>
        <div class="caption text-left">
		{{# total_me_gustas }}
			<span class="total-me-gustas titular">
				<i class=" fa fa-star"></i> <span class="cant">{{ total_me_gustas }}</span>
			</span>
		{{/ total_me_gustas }}

		{{# analitica }}
		<a href="{{permalink}}" title="{{{title}}}">
			<div class="analitica">
				{{#visitas_totales}}
				<span class=" total-visitas">
					<span class="col-xs-12 col-md-6 col-lg-12">{{#transu}}totales{{/transu}}: {{ totales }}</span>
					<span class="col-xs-12 col-md-6 col-lg-12">T. {{#transu}}hoy{{/transu}}: {{ totales_hoy }}</span>
				</span>
				{{/visitas_totales}}
	
				{{#visitas_user}}
				<span class=" unicas-por-user">
					<span class="col-xs-12 col-md-6 col-lg-12">{{#transu}}unicas{{/transu}}: {{ unicas }}</span>
					<span class="col-xs-12 col-md-6 col-lg-12">U. {{#transu}}hoy{{/transu}}: {{ unicas_hoy }}</span>
				</span>
				{{/visitas_user}}
			</div>
		</a>
		{{/ analitica }}

        </div>
		<a href="{{permalink}}" title="{{{title}}}">
			{{#featured_image_url_medium}}
				<img class="img-responsive" src="{{featured_image_url_medium}}" />
			{{/featured_image_url_medium}}
			{{^featured_image_url_medium}}
				<img class="img-responsive sin-thumbnail"/>
			{{/featured_image_url_medium}}
		</a>
    </div>
    <h2 class="post-title titular">
		<a href="{{permalink}}" title="{{{title}}}">{{{title_corto}}}</a>
    </h2>
	{{#genero}}
		<b class="titular">{{#transu}}genero{{/transu}}</b>: {{genero}} <br>
	{{/genero}}
	{{#pais}}
		<b class="titular">{{#transu}}pais{{/transu}}</b>: {{pais}} <br>
	{{/pais}}
	{{^genero}}
		{{{ excerpt }}
	{{/genero}}
</article>