<article class="post col-xs-12 col-sm-6 {{^reducido}}col-lg-3{{/reducido}}" 
		itemscope itemType="http://schema.org/BlogPosting">

	<div class="thumbnail">
		<div class="info titular" data-toggle="tooltip" data-placement="bottom" 
				title="{{#getAutor}}{{> home/_user_title }}{{/getAutor}}">
	    	<span class="post-time">{{getTime}} </span>
		    {{#trans}}por{{/trans}} 
		    <span class="post-author">
		    	<a href="{{getAutor.getPerfilUrl}}" >
		    		{{getAutor.display_name}}
		    	</a>
		    </span>
		</div>
        <div class="caption">
			<div class="col-xs-6 text-left">
				{{> home/_btn_estrella_me_gusta }}
			</div>
			<div class="col-xs-6 text-right">
				{{# getTotalComentarios }}
					<a href="{{getUrl}}#comments">
						<span class="total-comentarios titular">
							<i class=" fa fa-comment"></i> <span class="cant">{{getTotalComentarios | formatear_numero}}</span>
						</span>
					</a>
				{{/ getTotalComentarios }}
			</div>
        </div>
		<a href="{{getUrl}}" title="{{{getTitulo}}}">
			{{> post/_thumbnail_medium }}
		</a>
    </div>
    <h2 class="post-title titular">
		<a href="{{getUrl}}" data-toggle="tooltip" data-placement="top" title="{{{getTitulo}}}">
			{{{getTituloCorto}}}
		</a>
    </h2>
	{{#getGenero}}
		<b class="titular">{{#transu}}genero{{/transu}}</b>: {{getGenero}} <br>
	{{/getGenero}}
	{{#getPais}}
		<b class="titular">{{#transu}}pais{{/transu}}</b>: {{getPais}} <br>
	{{/getPais}}
	{{^getGenero}}
		{{{ getExcerpt }}}
	{{/getGenero}}
</article>