{{#me_gusta}}
	<button te-gusta="no" class="btn-me-gusta btn btn-default col-xs-12" nonce="{{nonce_me_gusta}}">
		<i class='fa fa-star-o'></i> {{#transu}}ya_no_me_gusta{{/transu}} <i class="fa fa-spinner fa-spin hidden"></i>
	</button>
{{/me_gusta}}
{{^me_gusta}}
	<button te-gusta="si" class="btn-me-gusta btn btn-danger col-xs-12" nonce="{{nonce_me_gusta}}">
		<i class='fa fa-star'></i> {{#transu}}me_gusta{{/transu}} <i class="fa fa-spinner fa-spin hidden"></i>
	</button>
{{/me_gusta}}