{{#me_gusta}}
	<button te-gusta="no" class="btn-me-gusta btn btn-warning col-xs-12" nonce="{{nonce_me_gusta}}">
		<i class='fa fa-thumbs-o-down'></i> {{#transu}}ya_no_me_gusta{{/transu}} <i class="fa fa-spinner fa-spin hidden"></i>
	</button>
{{/me_gusta}}
{{^me_gusta}}
	<button te-gusta="si" class="btn-me-gusta btn btn-primary col-xs-12" nonce="{{nonce_me_gusta}}">
		<i class='fa fa-thumbs-o-up'></i> {{#transu}}me_gusta{{/transu}} <i class="fa fa-spinner fa-spin hidden"></i>
	</button>
{{/me_gusta}}