<div id="comment-{{comment_ID}}" class="comment">
	<div class="author" id="user-{{user_id}}">
		<span class="name"><a href="{{comment_author_url}}">{{comment_author}}</a></span>
		<span class="date">{{comment_date_gmt}}</span>
	</div>
	<p>{{comment_content}}</p>
</div>
<hr>