<div id="informar" class="col-xs-12">
	<h3>{{#transu}}informar{{/transu}}</h3>
		<p><small> {{#transu}}reportar_info{{/transu}}</small></p>
	{{#current_user.ID}}
		<div class="formulario">
			<form action="{{template_url}}/ajax.php">
				<input type="hidden" name="post" value="{{post.ID}}">
				<input type="hidden" name="user" value="{{current_user.ID}}">
				<input type="hidden" name="nonce" value="{{getNonceNotificar}}">

				<button type="submit" name="submit" class="btn-notificar btn btn-danger col-xs-12" >
					{{#transu}}reportar{{/transu}} {{{getTitulo}}}
					<i class="fa fa-spinner fa-spin hidden"></i>
				</button>
			</form>
		</div>
	{{/current_user.ID}}
	{{^current_user.ID}}
		{{#trans}}user.debes_iniciar_sesion [para:{{#trans}}user.reportar_entrada{{/trans}}]{{/trans}}.
	{{/current_user.ID}}
</div>