<section class="col-xs-12">
	<h3>{{#transu}}informar{{/transu}}</h3>
		<p><small> {{#transu}}reportar_info{{/transu}}</small></p>
	{{#current_user}}
		<div class="formulario">
			<form action="{{template_url}}/ajax.php">
				<input type="hidden" name="post" value="{{post.ID}}">
				<input type="hidden" name="user" value="{{current_user.ID}}">
				<i class="fa fa-spinner fa-spin fa-2x hidden"></i>
				<input type="submit" id="btn-notificar" name="submit" 
					value="{{#transu}}reportar_entrada [titulo:{{{title}}}]{{/transu}}" 
					class="btn btn-danger col-xs-12">
			</form>
		</div>
	{{/current_user}}
	{{^current_user}}
		<a class="login-necesario form-control btn btn-default" 
		href="/wp-login.php" target="_blank">
		<i class='fa fa-flag'></i> 
		{{#transu}}user.login_necesario{{/transu}}
	</a>
	{{/current_user}}
</section>