<div class="info row">
	<div class="col-xs-9">
		<meta itemprop="datePublished" content="{{date_published}}"/>
		<span class="post-time">{{time}}</span>
		{{#trans}}por{{/trans}} <span class="post-author"><a href="{{user_posts_url}}">{{display_name}}</a></span>
		{{#has_categories}} {{#trans}}en{{/trans}} <span class="categories">{{> post/_categories}}</span>{{/has_categories}} 
	</div>
	<div class="col-xs-3 text-right">		
		{{> partials/_redes_sociales}}
	</div>
</div>

<div class="btn-me-gusta-y-editar row">
	{{#edit_post}}
	<div class="col-xs-4">
		<a href="{{{edit_post}}}" class="btn btn-default btn-editar col-xs-12">
			<i class="fa fa-edit"></i> {{#transu}}editar{{/transu}}
		</a>
	</div>
	{{/edit_post}}
	<div class="col-xs-2">
		<span class="btn btn-default total-me-gustas col-xs-12">
			<i class="fa fa-plus"></i> <span class="cant">{{ total_me_gustas }}</span>
		</span>
	</div>
	{{#edit_post}}<div class="col-xs-6"> {{/edit_post}}
	{{^edit_post}}<div class="col-xs-9"> {{/edit_post}}
		{{> post/_me_gusta}}
	</div>
</div>