<div class="info row">
	<div class="col-xs-12 col-sm-8 titular">
		<meta itemprop="datePublished" content="{{getTimeISO}}"/>
		<i class="fa fa-calendar"></i> <span class="post-time">{{getTime}}</span>
		{{#trans}}por{{/trans}} 
		<span class="post-author"><a href="{{getAutor.getPerfilUrl}}">{{getAutor.display_name}}</a></span>
		{{# getTotalCategorias }}
			{{#trans}}en{{/trans}} <span class="categories">{{> post/_categories}}</span>
		{{/ getTotalCategorias }} 
	</div>
	<div class="col-xs-12 col-sm-4 text-right">		
		{{> post/_redes_sociales}}
	</div>
</div>

{{# current_user.canEditor }}
<div class="btn-me-gusta-y-editar row">
	<p class="col-xs-12 titular">
		<a href="{{{getUrlEditar}}}" target="_blank" class="btn btn-default btn-editar col-xs-12">
			<i class="fa fa-edit"></i> {{#transu}}editar{{/transu}}
		</a>
	</p>	
</div>
{{/ current_user.canEditor }}