<div class="info row">
	<div class="col-xs-9 titular">
		<meta itemprop="datePublished" content="{{getTimeISO}}"/>
		<span class="post-time">{{getTime}}</span>
		{{#trans}}por{{/trans}} <span class="post-author"><a href="{{getAutor.getPerfilUrl}}">{{getAutor.display_name}}</a></span>
		{{#getTotalCategorias}} {{#trans}}en{{/trans}} <span class="categories">{{> post/_categories}}</span>{{/getTotalCategorias}} 
	</div>
	<div class="col-xs-3 text-right">		
		{{> post/_redes_sociales}}
	</div>
</div>

<div class="btn-me-gusta-y-editar row titular">
	{{#getUrlEditar}}
	<p class="col-xs-4">
		<a href="{{{getUrlEditar}}}" class="btn btn-default btn-editar col-xs-12">
			<i class="fa fa-edit"></i> {{#transu}}editar{{/transu}}
		</a>
	</p>
	{{/getUrlEditar}}
	<div class="col-xs-2">
		<span class="total-me-gustas col-xs-12">
			<i class="fa fa-star"></i> <span class="cant">{{ getTotalMeGustas }}</span>
		</span>
	</div>
	{{#getUrlEditar}}<div class="col-xs-6"> {{/getUrlEditar}}
	{{^getUrlEditar}}<div class="col-xs-9"> {{/getUrlEditar}}
		{{> post/_me_gusta}}
	</div>
</div>