{{#current_user}}
	
	<div class="formulario">
		<form action="{{template_url}}/ajax.php">
			<input type="hidden" name="post" value="{{post.ID}}">
			<input type="hidden" name="user" value="{{current_user.ID}}">
			<span class="btn-me-gusta-ajax">
			{{> post/_btn_me_gusta}}
			</span>
		</form>
	</div>
	
{{/current_user}}
{{^current_user}}
	<p><span class="login-necesario">{{#transu}}user.login_necesario{{/transu}}</span></p>
{{/current_user}}