{{#current_user}}	
	<div class="formulario">
		<form action="{{template_url}}/ajax.php">
			<input type="hidden" name="post" value="{{post.ID}}">
			<input type="hidden" name="user" value="{{current_user.ID}}">
			<span class="btn-me-gusta-ajax">
			{{> post/_btn_me_gusta}}
			</span>
		</form>
	</div>	
{{/current_user}}
{{^current_user}}
	
	<button class="login-necesario btn btn-default col-xs-12">
		<i class='fa fa-thumbs-o-up'></i> 
		{{#transu}}anadir_favoritos{{/transu}}. {{#transu}}user.login_necesario{{/transu}}
	</button>		

{{/current_user}}