<div class="post-meta page-header col-xs-12">
	<h2>
	<div class="col-xs-12 col-sm-8">
	  {{{user_avatar}}}  <a href="{{user_posts_url}}">{{display_name}}</a>  <small>{{user_rol}}</small>
	</div>
	{{#user_url}}
	<div class="col-sm-4">
		{{#edit_user_link}}<a href="{{edit_user_link}}" class="btn btn-info">Editar perfil</a>{{/edit_user_link}}
		{{#user_posts_url}}<a class="btn btn-info btn-md" role="button" href="{{user_url}}" target="_blank">Web</a>{{/user_posts_url}}
	</div>	
	{{/user_url}}
	</h2>
	
	<div class="col-xs-12">
		<blockquote>
			<p>
				{{#description}}
					<small>Bio</small>
					{{{description}}}
				{{/description}}
				{{^description}}
					{{#edit_user_link}}<p><a href="{{{edit_user_link}}}" class="btn btn-warning">Editar perfil</a></p>{{/edit_user_link}}
					<footer>Este usuario no ha compartido ninguna información de perfil :(</footer>
				{{/description}}
			</p>			
		</blockquote>
	</div>
</div>