{{#getAutor}}
<div id="post-meta" class="col-xs-12 " itemprop="author" itemscope itemtype="http://schema.org/Person" >
	<h3 class="titular">{{#transu}}autor{{/transu}}</h3>

	<div class="col-xs-12 col-sm-4 col-md-2 animated avatar" itemprop="image" >
		<a href="{{getPerfilUrl}}" title="{{#transu}}ver_perfil{{/transu}}">
			<img alt="{{getAlias}}" src="{{getAvatarPerfil}}" >
		</a>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-4 autor titular">
		<h3>
			<small itemprop="jobTitle">
				{{# isTipoUsuario }} {{getRol}} {{/ isTipoUsuario }}
				{{^ isTipoUsuario }} {{getTipo | transu}} {{/ isTipoUsuario }}
			</small><br>
			<a href="{{getPerfilUrl}}" title="{{#transu}}ver_perfil{{/transu}}">
				<span itemprop="name">{{getAlias}}</span>
			</a><br>
		</h3>
		<div>
			{{getTotalPosts | formatear_numero}} {{#trans}}entradas{{/trans}}<br>
			{{getTotalPuntos | formatear_numero}} {{#trans}}puntos{{/trans}}
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 descripcion animated" itemprop="description">
		<i class="fa fa-quote-left"></i> {{getDescripcionCorta | ucfirst}} <a href="{{getPerfilUrl}}">{{#transu}}ver_perfil{{/transu}}</a>
	</div>
</div>
{{/getAutor}}