{{# current_user.canSuscriptor }}
	{{> post/sidebar/_users_que_gustan }}
{{/ current_user.canSuscriptor }}
{{^ current_user.canSuscriptor }}
	{{# hayUsersQueGustan }}
		{{> post/sidebar/_users_que_gustan }}
	{{/ hayUsersQueGustan }}
{{/ current_user.canSuscriptor }}


{{# getTotalSimilares }}
<div class="sidebar-item col-xs-12 similares">
	<h3 class="titular refrescar" tipo="{{ENTRADAS_SIMILARES}}" nonce="{{getNonceEntradasSimilares}}"
			data-toggle="tooltip" data-placement="left" title="{{#transu}}mostrar_mas{{/transu}}">
		<i class="fa fa-circle-o-notch fa-spin hidden"></i><i class="fa fa-group"></i> {{#trans}}sidebar.entradas_similares{{/trans}}
	</h3>
	<hr>
	<section id="{{ENTRADAS_SIMILARES}}">
		{{!> post/sidebar/_similares }}
	</section>
</div>
{{/ getTotalSimilares }}

{{# getTotalRelacionadas }}
<div class="sidebar-item col-xs-12 similares">
	<h3 class="titular refrescar" tipo="{{ENTRADAS_RELACIONADAS}}" nonce="{{getNonceEntradasRelacionadas}}"
			data-toggle="tooltip" data-placement="left" title="{{#transu}}mostrar_mas{{/transu}}">
		<i class="fa fa-circle-o-notch fa-spin hidden"></i><i class="fa fa-code-fork "></i> {{#trans}}sidebar.entradas_relacionadas{{/trans}}
	</h3>
	<hr>
	<section id="{{ENTRADAS_RELACIONADAS}}">
		{{!> post/sidebar/_relacionadas }}
	</section>
</div>
{{/ getTotalRelacionadas }}


<div id="banner-post-sidebar" class="banner col-xs-12">
	{{> partials/banners/post_sidebar }}
</div>