{{#hayUsersQueGustan}}
<div class="sidebar-item col-xs-12 users-gustan">
	<h3 class="titular"><i class="fa fa-star"></i> {{#transu}}post.le_gusto_a{{/transu}}</h3>
	<hr>
	<section>
	{{#getUsersQueGustanLimitado}}
		{{#lista}}
			<div class="row">
				{{#isSuscriptor}}
					<div class="col-xs-3">
						<img alt="{{display_name}}" src="{{getAvatarIco}}" class="avatar">
					</div>
					<div class="col-xs-9">
						{{display_name}}	
					</div>
				{{/isSuscriptor}}
				{{^isSuscriptor}}
					<div class="col-xs-3">
						<a href="{{getPerfilUrl}}">
							<img alt="{{display_name}}" src="{{getAvatarIco}}" class="avatar">
						</a>
					</div>
					<div class="col-xs-9">
						<a href="{{getPerfilUrl}}">{{display_name}}</a>
					</div>
				{{/isSuscriptor}}
			</div>
		{{/lista}}
		{{#mas}}
			<div class="col-xs-12">
				{{#trans}}y{{/trans}} {{mas}} {{#trans}}mas{{/trans}}.
			</div>
		{{/mas}}
	{{/getUsersQueGustanLimitado}}
	</section>
</div>
{{/hayUsersQueGustan}}

{{#haySimilares}}
<div class="sidebar-item col-sm-12 similares">
	<h3 class="titular"><i class="fa fa-group"></i> {{#trans}}sidebar.entradas_similares{{/trans}}</h3>
	<hr>
	<section>
	{{#getSimilares}}
		{{> post/sidebar/_similares}}
	{{/getSimilares}}
	</section>
</div>
{{/haySimilares}}

{{#hayReferencias}}
<div class="sidebar-item col-sm-12 similares">
	<h3 class="titular"><i class="fa fa-code-fork "></i> {{#trans}}sidebar.entradas_relacionadas{{/trans}}</h3>
	<hr>
	<section>
	{{#getReferencias}}
		{{> post/sidebar/_similares}}
	{{/getReferencias}}
	</section>
</div>
{{/hayReferencias}}