<div class="col-xs-12 siguiente-anterior-post">
	<div class="col-xs-6 post-siguiente">
		<div class="row">
			{{#getPostSiguiente}}
			<div class="col-xs-4">
				{{> post/_thumbnail_medium }}
			</div>
			<div class="col-xs-8">
				<a href="{{getURL}}" data-placement="top" data-toggle="tooltip" 
						data-original-title="{{#transu}}por{{/transu}} {{getAutor.getAlias}}">
					{{#transu}}siguiente{{/transu}}: {{{getTitulo}}}
				</a>
			</div>
			{{/getPostSiguiente}}
		</div>
	</div>
	<div class="col-xs-6 post-anterior">
		<div class="row">
			{{#getPostAnterior}}
				<div class="col-xs-4">
					{{> post/_thumbnail_medium }}
				</div>
				<div class="col-xs-8">
				<a href="{{getURL}}" data-placement="top" data-toggle="tooltip" 
						data-original-title="{{#transu}}por{{/transu}} {{getAutor.getAlias}}">
					{{#transu}}anterior{{/transu}}: {{{getTitulo}}}
				</a>
			</div>
			{{/getPostAnterior}}
		</div>
	</div>	
</div>