<div class="col-xs-12 siguiente-anterior-post">
	<div class="col-xs-6 post-siguiente">
		<div class="row">
			{{#getPostSiguiente}}
			<a href="{{getURL}}" title="{{#transu}}por{{/transu}} {{getAutor.getAlias}}">
				<span class="col-xs-4">
					{{> post/_thumbnail_medium }}
				</span>
				<span class="col-xs-8">
					{{#transu}}siguiente{{/transu}}: {{{getTitulo}}}
				</span>
			</a>
			{{/getPostSiguiente}}
		</div>
	</div>
	<div class="col-xs-6 post-anterior">
		<div class="row">
			{{#getPostAnterior}}
			<a href="{{getURL}}" title="{{#transu}}por{{/transu}} {{getAutor.getAlias}}">
				<span class="col-xs-4">
					{{> post/_thumbnail_medium }}
				</span>
				<span class="col-xs-8">
					{{#transu}}anterior{{/transu}}: {{{getTitulo}}}
				</span>
			</a>
			{{/getPostAnterior}}
		</div>
	</div>	
</div>