{{# getThumbnailMedium }}				
	<img class="img-responsive" src="{{getThumbnailMedium}}" />				
{{/ getThumbnailMedium }}
{{^ getThumbnailMedium }}
	<img class="img-responsive sin-thumbnail"/>
{{/ getThumbnailMedium }}