{{# isTipoEntradaEditada}}
	{{> user/actividad/tipo/_entrada_editada }}
{{/ isTipoEntradaEditada}}
{{# isTipoMeGusta}}
	{{> user/actividad/tipo/_me_gusta }}
{{/ isTipoMeGusta}}
{{# isTipoNuevaEntrada}}
	{{> user/actividad/tipo/_nueva_entrada }}
{{/ isTipoNuevaEntrada}}
{{# isTipoNuevoComentario}}
	{{> user/actividad/tipo/_nuevo_comentario }}
{{/ isTipoNuevoComentario}}
{{# isTipoSeguimientoUser}}
	{{> user/actividad/tipo/_seguimiento_user }}
{{/ isTipoSeguimientoUser}}