<table class="table table-striped col-xs-12">
	<tr class="titular">
		<th>{{#transu}}tipo{{/transu}}</th>
		<th>{{#transu}}cantidad{{/transu}}</th>
		<th>{{#transu}}valor{{/transu}}</th>
		<th>{{#transu}}total{{/transu}}</th>
	<tr>
	{{# getPuntos }}
		<tr>
			<td class="titular"><i class="fa fa-2x {{getIcoByTipo}} col-xs-2"></i> <span class="col-xs-10">{{ getTipoTrans }}</span></td>
			<td>{{ total | formatear_numero}}</td>
			<td>{{ getPuntosByTipo }}</td>
			<td>{{ getTotalPuntosByTipo | formatear_numero}}</td>
		</tr>
	{{/ getPuntos }}
	{{^ getPuntos }}
		<tr>{{#trans}}actividad.sin_puntos{{/trans}}.</tr>
	{{/ getPuntos }}
</table>

<div class="col-xs-12 total-puntos">
	{{getTotalPuntos | formatear_numero}} {{#trans}}total{{/trans}}
</div>