{{# getTotalSeguidores }}
	<div class="col-xs-12 col-sm-6 col-md-12 seguidores">
		<h4 class="titular">{{#transu}}seguidores{{/transu}} ({{getTotalSeguidores}})</h4>
		{{# getSeguidores }}
			<div class="row">
				<a href="{{getPerfilUrl}}">
					<span class="col-xs-2">
							<img class="avatar" src="{{getAvatarIco}}">
					</span>
					<span class="col-xs-10">{{display_name}}</span>
				</a>
			</div>
		{{/ getSeguidores }}
	</div>
{{/ getTotalSeguidores }}

{{# getTotalSiguiendo }}
	<div class="col-xs-12 col-sm-6 col-md-12 siguiendo">
		<h4 class="titular">{{#transu}}siguiendo{{/transu}} ({{getTotalSiguiendo}})</h4>
		{{# getSiguiendo }}
			<div class="row">
				<a href="{{getPerfilUrl}}">
					<span class="col-xs-2">
							<img class="avatar" src="{{getAvatarIco}}">
					</span>
					<span class="col-xs-10">{{display_name}}</span>
				</a>
			</div>
		{{/ getSiguiendo }}
	</div>
{{/ getTotalSiguiendo }}