<form name="loginform" id="loginform" action="/wp-login.php"
	method="post" role="form" class="form">
	<div class="row">
		<div class=" col-sm-3 col-md-2">
			<input type="text" name="log" id="user_login"
				class="form-control" value="" size="20" placeholder="User">
		</div>
		<div class=" col-sm-3 col-md-2">
		 <input type="password" name="pwd" id="user_pass"
		 	class="form-control" value="" size="20"  placeholder="Password">
		</div>
		<div class="login-submit col-sm-3 col-md-2">
			<input type="submit" name="wp-submit" id="wp-submit"
				class="btn btn-default form-control" value="Acceder" >
			<input type="hidden" name="redirect_to" value="{{home_url}}" >
		</div>
		 <div class="checkbox col-sm-3 col-md-2">
		 	<label><input name="rememberme" type="checkbox" id="rememberme" 
		    	 value="forever"/> Recuérdame</label>
		</div>
		<div class="col-sm-6 col-md-2">
			<a class="form-control" href="/wp-login.php?action=lostpassword">¿Contraseña?</a>
		</div>	
		<div class="col-sm-6 col-md-2">
			<a class="form-control" href="/wp-login.php?action=register">Registro</a>
		</div>
	</div>
</form>