<div class="row">
	<div class="avatar col-xs-4 col-sm-2">
		{{{user_avatar}}}
	</div>
	
	<div class="title text-center col-xs-8 col-sm-10">
		<h3>Bienvenido {{current_user.display_name}}</h3>
	</div>
	<div class="col-xs-12 col-sm-10">	
		<ul class="list-group ">
			<li class="list-group-item col-xs-12 col-sm-3"><a href="/wp-admin/">Escritorio</a></li>
			<li class="list-group-item col-xs-12 col-sm-3"><a href="/wp-admin/post-new.php">Escribir</a></li>
			<li class="list-group-item col-xs-12 col-sm-2"><a href="/wp-admin/profile.php">Perfil</a></li>
			<li class="list-group-item col-xs-12 col-sm-4"><a href="/wp-login.php?action=logout&amp;redirect_to={{home_url}}">Cerrar sesión</a></li>
		</ul>	
	</div>
	
</div>