<footer id="footer" class="panel panel-default col-xs-12">
	<div class="panel-body">
		<a href="#link1">¿NuevaMetal?</a>
		<a href="#link1">¡Únete y Hazte colaborador!</a>
		<a href="#link1">Sitios de interés</a>
		<a href="#link1">Síguenos</a>
		<a href="#link1">Contacto</a>
		<a href="#link1">Aviso Legal</a>
	</div>
</footer>
