<nav class="navbar col-xs-12" role="navigation ">
	<ul class="nav nav-pills">
	  <li><a href="/nuevametal">{{#transu}}que_es_nm{{/transu}}</a></li>
	  <li><a href="/tutorial">{{#transu}}unete_y_colabora{{/transu}}</a></li>
	  <li><a href="/sitios-interes">{{#transu}}sitios_de_interes{{/transu}}</a></li>
	  <li><a href="/redes">{{#transu}}redes{{/transu}}</a></li>
	  <li><a href="/contacto">{{#transu}}contacto{{/transu}}</a></li>
	  <li><a href="/legal">{{#transu}}aviso_legal{{/transu}}</a></li>
	</ul>
</nav>

