<nav class="navbar col-xs-12 container" role="navigation ">
	<ul class="nav nav-pills">
	  <li><a href="/nuevametal">¿NuevaMetal?</a></li>
	  <li><a href="/tutorial">¡Únete y Hazte colaborador!</a></li>
	  <li><a href="/sitios-interes">Sitios de interés</a></li>
	  <li><a href="/redes">Síguenos</a></li>
	  <li><a href="/contacto">Contacto</a></li>
	  <li><a href="/legal">Aviso Legal</a></li>
	</ul>
</nav>

