{{#current_user}}
	{{> menu/lateral/_ya_logueado }}
{{/current_user}}
{{^current_user}}
	{{> menu/lateral/_login }}
{{/current_user}}
<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
