<div class="navbar-login">
	{{#current_user}}
		{{> menu/_ya_logueado }}
	{{/current_user}}
	{{^current_user}}
		{{> menu/_login }}
	{{/current_user}}
</div>

<nav class="navbar navbar-default navbar-principal" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{home_url}}">NuevaMetal</a>
	    </div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="visible-xs">
					<form action="/" method="get" class="form-horizontal" role="search">
					    <div class="input-group">
					      <input type="text" name="s" class="form-control" >
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Buscar</button>
					      </span>
					    </div>
					</form>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Metal <span class="caret"></span></a>
					   	<ul class="dropdown-menu" role="menu">
							<li ><a href="/tag/alternative-metal/">Alternative Metal</a></li>
							<li ><a href="/tag/black-metal/">Black Metal</a></li>
							<li ><a href="/tag/death-metal/">Death Metal</a></li>
							<li ><a href="/tag/melodic-death/">Melodic Death</a></li>
							<li><a href="/tag/folk-metal/">Folk Metal</a></li>
							<li class="divider"></li>
							<li><a href="/tag/gothic-metal-2/">Gothic Metal</a></li>
							<li ><a href="/tag/groove-metal/">Groove Metal</a></li>
							<li><a href="/tag/heavy-metal/">Heavy Metal</a></li>
							<li><a href="/tag/industrial-metal/">Industrial Metal</a></li>
							<li><a href="/tag/melodic-metal/">Melodic Metal</a></li>
							<li class="divider"></li>
							<li><a href="/tag/nu-metal/">Nu Metal</a></li>
							<li><a href="/tag/power-metal/">Power Metal</a></li>
							<li><a href="/tag/progressive-metal/">Progressive Metal</a></li>
							<li><a href="/tag/thrash-metal/">Thrash Metal</a></li>
							<li><a href="/tag/technical-death/">Technical Death</a></li>
						</ul>
					</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Core <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/tag/deathcore/">Deathcore</a></li>
						<li><a href="/tag/djent/">Djent</a></li>
						<li><a href="/tag/hardcore/">Hardcore</a></li>
						<li><a href="/tag/metalcore/">Metalcore</a></li>
						<li><a href="/tag/post-hardcore/">Post hardcore</a></li>
						<li><a href="/tag/trancecore/">Trancecore</a></li>
					</ul>
				</li>
				<li class="dropdown hidden-lg">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Secciones <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/categoria/bandas/">Bandas</a></li>
						<li><a href="/categoria/videos/">Vídeos</a></li>
						<li><a href="/categoria/entrevistas/">Entrevistas</a></li>
						<li><a href="/categoria/criticas/">Críticas</a></li>
						<li><a href="/categoria/cronicas/">Crónicas</a></li>
					</ul>
				</li>
				<li class="visible-lg"><a href="/categoria/bandas/">Bandas</a></li>
				<li class="visible-lg"><a href="/categoria/videos/">Vídeos</a></li>
				<li class="visible-lg"><a href="/categoria/entrevistas/">Entrevistas</a></li>
				<li class="visible-lg"><a href="/categoria/criticas/">Críticas</a></li>
				<li class="visible-lg"><a href="/categoria/cronicas/">Crónicas</a></li>					
				<li class="hidden-xs">
					<form action="/" method="get" class="navbar-form form-horizontal" role="search">
					    <div class="input-group">
					      <input type="text" name="s" class="form-control" >
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Buscar</button>
					      </span>
					    </div>
					</form>
				</li>
			</ul>
			<ul class="hidden-xs nav navbar-nav navbar-right navbar-principal-login hidden">
			    <li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 			      
			      <i class="fa fa-user"> 
			      {{#current_user}}{{current_user.user_login}}{{/current_user}}
				  {{^current_user}}Login{{/current_user}}
			      </i></a>
			      <ul class="dropdown-menu" role="menu">
			        <li class="text-center">
				        {{#current_user}}
							{{> menu/_principal_ya_logueado }}
						{{/current_user}}
						{{^current_user}}
							{{> menu/_principal_login }}
						{{/current_user}}
					 </li>
				  </ul>
			    </li>
			</ul>			
		</div>
	</div>
</nav>
