<nav class="navbar navbar-default navbar-principal titular" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	     
	      <a class="navbar-brand" href="{{home_url}}"><img src="{{template_url}}/public/img/NM_avatar_navbar_35_gris.jpg"></a>
	    </div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				 <li class="dropdown visible-xs">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 			      
				      <i class="fa fa-user"></i>
				      {{#current_user}}{{current_user.user_login}}{{/current_user}}
					  {{^current_user}}Login{{/current_user}}
				      <span class="caret"></span></a>
			      <ul class="dropdown-menu" role="menu" id="foo">
			        <li class="text-center">
				        {{#current_user}}
							{{> menu/principal/_ya_logueado }}
						{{/current_user}}
						{{^current_user}}
							{{> menu/principal/_login }}
						{{/current_user}}
					 </li>
				  </ul>
			    </li>
				<li class="visible-xs">
					<form action="/" method="get" class="form-horizontal" role="search">
					    <div class="input-group">
					      <input type="text" name="s" class="form-control" >
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="submit">{{#transu}}buscar{{/transu}}</button>
					      </span>
					    </div>
					</form>
				</li>				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Metal <span class="caret"></span></a>
					   	<ul class="dropdown-menu" role="menu">
							<li ><a href="/tag/alternative-metal/">{{#transu}}generos.alternative-metal{{/transu}}</a></li>
							<li ><a href="/tag/black-metal/">{{#transu}}generos.black-metal{{/transu}}</a></li>
							<li ><a href="/tag/death-metal/">{{#transu}}generos.death-metal{{/transu}}l</a></li>
							<li ><a href="/tag/melodic-death/">{{#transu}}generos.melodic-death{{/transu}}</a></li>
							<li><a href="/tag/folk-metal/">{{#transu}}generos.folk-metal{{/transu}}</a></li>
							<li class="divider"></li>
							<li><a href="/tag/gothic-metal-2/">{{#transu}}generos.gothic-metal-2{{/transu}}</a></li>
							<li ><a href="/tag/groove-metal/">{{#transu}}generos.groove-metal{{/transu}}</a></li>
							<li><a href="/tag/heavy-metal/">{{#transu}}generos.heavy-metal{{/transu}}</a></li>
							<li><a href="/tag/industrial-metal/">{{#transu}}generos.industrial-metal{{/transu}}</a></li>
							<li><a href="/tag/melodic-metal/">{{#transu}}generos.melodic-metal{{/transu}}</a></li>
							<li class="divider"></li>
							<li><a href="/tag/nu-metal/">{{#transu}}generos.nu-metal{{/transu}}</a></li>
							<li><a href="/tag/power-metal/">{{#transu}}generos.power-metal{{/transu}}</a></li>
							<li><a href="/tag/progressive-metal/">{{#transu}}generos.progressive-metal{{/transu}}</a></li>
							<li><a href="/tag/thrash-metal/">{{#transu}}generos.thrash-metal{{/transu}}</a></li>
							<li><a href="/tag/technical-death/">{{#transu}}generos.technical-death{{/transu}}</a></li>
						</ul>
					</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Core <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/tag/deathcore/">{{#transu}}generos.deathcore{{/transu}}</a></li>
						<li><a href="/tag/djent/">{{#transu}}generos.djent{{/transu}}</a></li>
						<li><a href="/tag/hardcore/">{{#transu}}generos.hardcore{{/transu}}</a></li>
						<li><a href="/tag/metalcore/">{{#transu}}generos.metalcore{{/transu}}</a></li>
						<li><a href="/tag/post-hardcore/">{{#transu}}generos.post-hardcore{{/transu}}</a></li>
						<li><a href="/tag/trancecore/">{{#transu}}generos.trancecore{{/transu}}</a></li>
					</ul>
				</li>
				<li class="dropdown hidden-lg">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{#transu}}secciones{{/transu}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/categoria/bandas/">{{#transu}}bandas{{/transu}}</a></li>
						<li><a href="/categoria/videos/">{{#transu}}videos{{/transu}}</a></li>
						<li><a href="/categoria/entrevistas/">{{#transu}}entrevistas{{/transu}}</a></li>
						<li><a href="/categoria/criticas/">{{#transu}}criticas{{/transu}}</a></li>
						<li><a href="/categoria/cronicas/">{{#transu}}cronicas{{/transu}}</a></li>
						<li><a href="/categoria/noticias/">{{#transu}}noticias{{/transu}}</a></li>
						<li><a href="/categoria/conciertos/">{{#transu}}conciertos{{/transu}}</a></li>
					</ul>
				</li>
				<li class="visible-lg"><a href="/categoria/bandas/">{{#transu}}bandas{{/transu}}</a></li>
				<li class="visible-lg"><a href="/categoria/videos/">{{#transu}}videos{{/transu}}</a></li>
				<li class="visible-lg"><a href="/categoria/entrevistas/">{{#transu}}entrevistas{{/transu}}</a></li>
				<li class="dropdown visible-lg">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{#transu}}mas{{/transu}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="visible-lg"><a href="/categoria/criticas/">{{#transu}}criticas{{/transu}}</a></li>
						<li class="visible-lg"><a href="/categoria/cronicas/">{{#transu}}cronicas{{/transu}}</a></li>
						<li class="visible-lg"><a href="/categoria/noticias/">{{#transu}}noticias{{/transu}}</a></li>
						<li class="visible-lg"><a href="/categoria/conciertos/">{{#transu}}conciertos{{/transu}}</a></li>					
					</ul>
				</li>
				<li class="hidden-xs">
					<form action="/" method="get" class="navbar-form form-horizontal" role="search">
					    <div class="input-group">
					      <input type="text" name="s" class="form-control" >
					      <span class="input-group-btn ">
					        <button class="btn btn-default" type="submit">
								<i class="fa fa-search"></i> <span class="hidden-sm">{{#transu}}buscar{{/transu}}</span>
							</button>
					      </span>
					    </div>
					</form>
				</li>
			</ul>
			<ul class="hidden-xs nav navbar-nav navbar-right navbar-principal-login hidden">
			    <li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 			      
			      <i class="fa fa-user"> 
			      {{#current_user}}{{current_user.user_login}}{{/current_user}}
				  {{^current_user}}{{#transu}}acceder{{/transu}}{{/current_user}}
			      </i></a>
			      <ul class="dropdown-menu" role="menu" id="foo">
			        <li class="text-center">
				        {{#current_user}}
							{{> menu/principal/_ya_logueado }}
						{{/current_user}}
						{{^current_user}}
							{{> menu/principal/_login }}
						{{/current_user}}
					 </li>
				  </ul>
			    </li>
			</ul>
		</div>
	</div>
</nav>