<!-- Docs master nav -->
<header
	class="navbar-static-top bs-docs-nav navbar navbar-fixed-top nav-main"
	id="top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target=".bs-navbar-collapse">
				<i class="fa fa-plus"></i>
			</button>
			<a href="{{home_url}}" class="navbar-brand">NuevaMetal</a>
		</div>
		<nav
			class="collapse navbar-collapse bs-navbar-collapse dropdown-toggle"
			role="navigation">
			<ul class="nav navbar-nav">
				<li class="menu-publicatusentradas"><a href="/tutorial/">¡Publica
						tus entradas!<i class="fa fa-caret-down"></i>
				</a>
					<ul class="sub-menu dropdown-menu">
						<li class="menu-subetusficherosamega"><a href="/mega/">Sube tus
								ficheros a Mega</a></li>
						<li class="menu-recursos"><a href="/recursos/">Recursos</a></li>
					</ul></li>
				<li class="menu-metal"><a href="#">Metal<i class="fa fa-caret-down"></i></a>
					<ul class="sub-menu dropdown-menu">
						<li class="menu-alternative"><a href="/tag/alternative-metal/">Alternative</a></li>
						<li class="menu-black"><a href="/tag/black-metal/">Black</a></li>
						<li class="menu-death"><a href="/tag/death-metal/">Death</a></li>
						<li class="menu-melodicdeath"><a href="/tag/melodic-death/">Melodic
								Death</a></li>
						<li class="menu-folk"><a href="/tag/folk-metal/">Folk</a></li>
						<li class="menu-gothic"><a href="/tag/gothic-metal-2/">Gothic</a></li>
						<li class="menu-groove"><a href="/tag/groove-metal/">Groove</a></li>
						<li class="menu-heavy"><a href="/tag/heavy-metal/">Heavy</a></li>
						<li class="menu-industrial"><a href="/tag/industrial-metal/">Industrial</a></li>
						<li class="menu-melodic"><a href="/tag/melodic-metal/">Melodic</a></li>
						<li class="menu-nu"><a href="/tag/nu-metal/">Nu</a></li>
						<li class="menu-power"><a href="/tag/power-metal/">Power</a></li>
						<li class="menu-progressive"><a href="/tag/progressive-metal/">Progressive</a></li>
						<li class="menu-thrash"><a href="/tag/thrash-metal/">Thrash</a></li>
						<li class="menu-technicaldeath"><a href="/tag/technical-death/">Technical
								Death</a></li>
					</ul></li>
				<li class="menu-core"><a href="#">Core <i class="fa fa-caret-down"></i></a>
					<ul class="sub-menu  dropdown-menu">
						<li class="menu-deathcore"><a href="/tag/deathcore/">Deathcore</a></li>
						<li class="menu-djent"><a href="/tag/djent/">Djent</a></li>
						<li class="menu-hardcore"><a href="/tag/hardcore/">Hardcore</a></li>
						<li class="menu-metalcore"><a href="/tag/metalcore/">Metalcore</a></li>
						<li class="menu-posthardcore"><a href="/tag/post-hardcore/">Post
								hardcore</a></li>
						<li class="menu-trancecore"><a href="/tag/trancecore/">Trancecore</a></li>
					</ul></li>

				<li class="menu-vdeos"><a href="/categoria/videos/">Vídeos</a></li>
				<li class="menu-entrevistas"><a
					href="/categoria/nuevametal/entrevistas/">Entrevistas</a></li>
				<li class="menu-crticas"><a href="/categoria/nuevametal/criticas/">Críticas</a></li>
			</ul>
		</nav>
	</div>
</header>