<article class="col-xs-6 col-sm-12 col-md-6 text-center post">
	<a href="{{getUrl}}" title="{{{getTitulo}}}" >
		{{> post/_thumbnail_medium }}
	</a>
	<a href="{{getUrl}}" data-toggle="tooltip" data-placement="top" title="{{{getTitulo}}}"> 
		<p class="titulo titular">{{{getTituloCorto}}}</p>
	</a>
</article>