<article class="col-xs-6 col-sm-12 col-md-6 text-center sidebar-post-similar">
    <a href="{{getUrl}}" title="{{{getTitulo}}}"> 
    	{{#getThumbnails}}
			{{#medium}}
				<img class="img-responsive" src="{{medium}}" />
			{{/medium}}
			{{^medium}}
				<img class="img-responsive sin-thumbnail"/>
			{{/medium}}
		{{/getThumbnails}}		
		{{^getThumbnails}}
			<img class="img-responsive sin-thumbnail"/>
		{{/getThumbnails}}
	</a>
	<p class="sidebar-post-similar-title titular">{{{getTituloCorto}}}</p>
</article>