<article class="col-xs-6 col-sm-12 col-md-6 text-center sidebar-post-similar">
	<a href="{{getUrl}}" title="{{{getTitulo}}}"> 
		{{> post/_thumbnail_medium }}
	</a>
	<p class="sidebar-post-similar-title titular">{{{getTituloCorto}}}</p>
</article>