<div class="row user-{{user_nicename}}">
	<a href="{{getPerfilUrl}}">
		<span class="col-xs-3"><img alt="{{getAlias}} avatar" src="{{getAvatarPequeno}}" class="avatar"></span>
		<span class="col-xs-9 nombre">{{getAlias}}</span>
	</a>
</div>