{{#user}}
	<div id="actividad">
		<h1>Actividad</h1>
		
		<p>Aquí podrás ver la actividad reciente de aquellos usuarios que sigues y la tuya.</p>
		<div class="row">
			<div class="col-xs-12 {{#conSidebar}}col-md-9 col-lg-10{{/conSidebar}}">
				{{# getActividades }}
					{{> actividad/_fila }}
				{{/ getActividades }}		
			</div>
			{{#conSidebar}}
			<div class="col-xs-12 col-md-3 col-lg-2">
				{{> actividad/_sidebar}}
			</div>
			{{/conSidebar}}
		</div>
	</div>
{{/user}}
{{^user}}
	{{> error }}
{{/user}}