{{#user}}
	<div id="actividad">
		<h1 class="titular">{{#transu}}actividad{{/transu}}</h1>
		
		<div class="col-xs-12 {{#conSidebar}}col-md-9{{/conSidebar}}">		
			<h4 class="titular">{{#trans}}user.aqui_ver_actividad{{/trans}}</h4>
			<div class="actividades"> 
				{{> actividad/_actividades }}
			</div>
			<button class="btn btn-default text-center titular col-xs-12 mostrar-mas">
					<i class="fa fa-refresh fa-spin fa-2x hidden"></i>
			</button>
		</div>
		
		{{#conSidebar}}
		<div class="sidebar col-xs-12 col-md-3">
			{{> actividad/_sidebar}}
		</div>
		{{/conSidebar}}
	</div>
{{/user}}
{{^user}}
	{{> error }}
{{/user}}