<div class="autor">
	{{#user}}
		{{#current_user.canEditor}}
			{{> admin/_autor }}
		{{/current_user.canEditor}}
		
		<div class="row img-header">
			<div class="col-xs-12">
				{{#getImgHeader}}
					<img alt="{{display_name}}" src="{{getImgHeader}}">
				{{/getImgHeader}}
				{{^getImgHeader}}
					<img class="sin-thumbnail">
				{{/getImgHeader}}
				{{#isCurrentUserOrAdmin}}
					<div class="text-right btn-img-header">
						<a class="btn btn-default btn-xs" href="/wp-admin/profile.php#img-header" target="_blank">
							<i class="fa fa-image"></i> {{#transu}}cambiar{{/transu}}</a>
					</div>
				{{/isCurrentUserOrAdmin}}
			</div>
		</div>
		<div class="content">
			<div class="col1 col-xs-12 col-sm-3">
				{{> autor/_col1}}
			</div>
			<div class="col2 col-xs-12 col-sm-9">
				{{> autor/_col2}}
			</div>
		</div>
	{{/user}}
	{{# getTotalPosts }}
		{{#posts}}
			{{> busqueda}}
		{{/posts}}
	{{/ getTotalPosts }}
</div>