<div class="autor">
	{{#user}}
		<div class="row img-header">
				{{#getImgHeader}}
					<img alt="{{display_name}}" src="{{{getImgHeader}}}" >
				{{/getImgHeader}}
				{{^getImgHeader}}
					<img alt="{{display_name}}" class="sin-thumbnail" >
				{{/getImgHeader}}
		</div>
		<div class="row content">
			<div class="col1 col-xs-12 col-sm-4">
				{{> autor/perfil/_col1}}
			</div>
		
			<div class="col2 col-xs-12 col-sm-8">
				{{> autor/perfil/_col2}}
			</div>
		</div>
	{{/user}}

	{{#posts}}
		{{> busqueda}}
	{{/posts}}
</div>