<section id="page" class="container">
	{{>partials/copyright}}
	<div class="col-xs-12">
		{{{menuPrincipal}}}
	</div>
	{{#content}}
    <div id="content" class="col-xs-12 {{#sidebar}}col-sm-9 col-md-9{{/sidebar}}">
        {{{content}}}
    </div>
	{{/content}}
	{{^content}}
		¿No  hay contenido asociado?
	{{/content}}
	
    {{#sidebar}}
    <div id="sidebar" class="col-xs-12 col-sm-3 col-md-3 text-center">
        {{{sidebar}}}
    </div>
    {{/sidebar}}
	
	{{{menuFooter}}}
	
	{{>partials/copyright}}
</section>

<a href="#" class="back-to-top">Volver arriba</a>