<section id="page" class="container">

	{{{menuPrincipal}}}

    <div id="content" class="col-xs-12 {{#sidebar}}col-sm-9 col-md-9{{/sidebar}}">
        {{{content}}}
    </div>

    {{#sidebar}}
    <div id="sidebar" class="col-xs-12 col-sm-3 col-md-3 ">
        {{{sidebar}}}
    </div>
    {{/sidebar}}	
	
	{{{menuFooter}}}

</section>z