<header id="top" class="container-fluid">
	<div class="site-title col-xs-12 col-sm-9 col-md-9 col-lg-8" title="{{blog_name}}">
		<a href="/" class=""><img src="{{template_url}}/public/img/NM_header.png"></a>
	</div>	
</header>
<div id="page-plugin" class="container-fluid">
	
	<div id="alertas"></div>
	
	<div class="col-xs-12">
		{{{ menuPrincipal }}}
	</div>

	{{#content}}
    <div id="content" class="col-xs-12 {{#sidebar}}col-sm-9 col-md-9{{/sidebar}}">
        {{{content}}}
    </div>
	{{/content}}
	{{^content}}
		¿No  hay contenido asociado?
	{{/content}}
	
    {{#sidebar}}
    <div id="sidebar" class="col-xs-12 col-sm-3 col-md-3 text-center">
        {{{sidebar}}}
    </div>
    {{/sidebar}}
	
	{{{menuFooter}}}
	
	{{!>partials/copyright}}
</div>

<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i> 
	{{#transu}}volver_arriba{{/transu}} 
</a>