{{< base }}
	{{$ content }}
	<div id="busqueda">
		{{# users }}
			{{> busqueda/_seccion_users }}
		{{/ users }}
		{{# total_posts }}
			{{> busqueda/_seccion }}
		{{/ total_posts }}
		{{^ total_posts }}
			<div class="row"><hr></div>
			<div class="row"><hr></div>
			<div class="col-xs-12 mensaje-busqueda-vacia">
				{{#transu}}resultado_busqueda_vacio [que:{{a_buscar}}]{{/transu}}
			</div>
		{{/ total_posts }}
	</div>
	{{/ content }}
{{/ base }}
