<section id="busqueda" class="text-center">
	{{#seccion}}
		{{#url}}
			<a href="{{url}}">
				<div class="header-seccion">
					<img src="{{template_url}}/public/img/{{seccion}}.jpg" alt="{{#transu}}{{seccion}}{{/transu}}"/>
				</div>
			</a>
		{{/url}}
		{{>home/_seccion}}
	{{/seccion}}
</section>