{{< base }}

	{{$ content }}
	<div class="col-xs-12 titular text-center">
		<h1 class="title">Error {{num}}</h1>
		<img class="img-responsive error-{{num}}"/>	
		<p>{{mensaje}}</p>
	</div>
	{{/ content }}
	
{{/ base }}