{{# user }}	
	<h1 class="titular">Tus favoritos {{ current_user.display_name }}</h1>
	{{#getTotalFavoritos}}
	<div class="col-xs-12 titular">Estas son las entradas que te gustan. En total: {{getTotalFavoritos}}</div>
	
		<!-- Nav tabs -->
		<ul class="nav nav-tabs titular" role="tablist">
		{{# getFavoritosTab }}
			<li {{#activo}}class="active"{{/activo}}><a href="#{{clave}}" role="tab" data-toggle="tab">{{valor}}</a></li>	  
		{{/ getFavoritosTab }}
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content posts">
		{{# getFavoritosAgrupados }}
	
			{{#bandas}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="bandas">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/bandas}}
	
			{{#videos}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="videos">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/videos}}
	
			{{#criticas}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="criticas">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/criticas}}
			
			{{#cronicas}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="cronicas">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/cronicas}}
	
			{{#noticias}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="noticias">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/noticias}}
	
			{{#conciertos}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="conciertos">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/conciertos}}
	
			{{#entrevistas}}
			<div class="tab-pane {{#activo}}active{{/activo}}" id="entrevistas">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{total_lista}}</h4>
				{{#lista}}
					{{> home/_post }}
				{{/lista}}
			</div>
			{{/entrevistas}}
	
		{{/ getFavoritosAgrupados }}
		</div>
	
	</div>
	{{/getTotalFavoritos}}
	{{^getTotalFavoritos}}
	<p>Aún no marcaste ninguna entrada como favorita. <br>
		Entra ya a una entrada y dale al botón de "<i class="fa fa-star"></i> Me gusta" 
		para ver el listado completo en esta sección.</p>
	
	{{/getTotalFavoritos}}
{{/ user }}
{{^ user }}
	{{> error }}
{{/ user }}