<!DOCTYPE html>
<html>
<head>
	<title>{{{blog_title}}}</title>
	
	<meta charset="{{charset}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- **************************************************************  -->
	<!-- ******                                                 *******  -->
	<!-- ******           ¡TODO EL METAL QUE BUSCAS!            *******  -->
	<!-- ******                                                 *******  -->
	<!-- **************************************************************  -->
	
	<!-- CSSs -->
	<!-- Bootstrap -->
	<link media="all" rel="stylesheet" href="{{template_directory}}/lib/bootstrap/css/bootstrap.min.css">
	<link media="all" rel="stylesheet" href="{{template_directory}}/lib/bootstrap/css/bootstrap-social.css">
	<link media="all" rel="stylesheet" href="{{template_directory}}/lib/font-awesome/css/font-awesome.min.css">
	<!-- Mios -->
	<link media="all" rel="stylesheet" href="{{template_directory}}/css/main.css">
	<link rel="icon" type="image/x-icon" href="{{template_directory}}/img/favicon.ico">
	<!-- !CSSs -->

	<!-- jQuery y Bootstrap -->
	<script src="{{template_directory}}/js/jquery.min.js"></script>
	<script src="{{template_directory}}/js/bootstrap.js"></script>
	<!-- !JAVASCRIPTs -->
	<script src="{{template_directory}}/js/nm.js"></script>
			
	