<section id="home">
	<ul class="pager">
	  {{#previous_posts_link}}<li class="previous">{{{previous_posts_link}}}</li>{{/previous_posts_link}}
	  {{#next_posts_link}}<li class="next">{{{next_posts_link}}}</li>{{/next_posts_link}}
	</ul>
	<article class="posts-bandas">
		<section>
			<header class="page-header col-xs-12">
				 <h2>
				 {{# header }} {{{header}}} {{/ header }}
				{{^ header }}
			     Últimas entradas <small>Discografías, videoclips, entrevistas, etc</small>
			    {{/ header }}
	      	</header>
			{{#posts}}
				{{>home/_post}}
			{{/posts}}
		</section>
	</article>
	<ul class="pager">
	  {{#previous_posts_link}}<li class="previous">{{{previous_posts_link}}}</li>{{/previous_posts_link}}
	  {{#next_posts_link}}<li class="next">{{{next_posts_link}}}</li>{{/next_posts_link}}
	</ul>
</section>