<section id="home" class="text-center">

	{{#bandas}}
		{{> home/_posts}}
	{{/bandas}}

	{{#videos}}
		{{> home/_posts}}
	{{/videos}}

	{{#entrevistas}}
		{{> home/_posts}}
	{{/entrevistas}}
	
</section>