{{# user }}
<div id="mensajes">
	<h1 class="titular">{{#transu}}mensajes{{/transu}}
		<small>{{#transu}}total{{/transu}}: <span class="cant">{{getTotalMensajesRecibidos}}</span></small>
	</h1>
	<p>Puedes enviar mensajes privados desde el perfil de aquel usuario al que quieras escribir.</p>
	{{# getTotalMensajesRecibidos }}
	<div class="row">
		<div class="col-xs-12">
		<h3>Mensajes recibidos.</h3>
		{{# getMensajesRecibidos }}
			<p class="row mensaje">
				<span class="col-xs-6 autor">De	{{getUser.display_name}}.</span>
				<span class="col-xs-6 fecha">El {{getDate}} ({{getTime}})</span>
				<span class="col-xs-10 texto">
					<i class="fa fa-quote-left fa-xs"></i> {{mensaje}} <i class="fa fa-quote-right fa-xs"></i>
				</span>
				<button class="col-xs-2 btn btn-sm btn-default borrar-mensaje" id="{{ID}}" 
					nonce="{{getNonceBorrarMensaje}}">{{#transu}}borrar{{/transu}}</button>
			</p>
		{{/ getMensajesRecibidos }}
		</div>
	</div>
	{{/ getTotalMensajesRecibidos }}
</div>
{{/ user }}