{{# user }}
<div id="mensajes">
	<h1 class="titular">{{#transu}}mensajes{{/transu}}</h1>
	<p>Puedes enviar mensajes privados desde el perfil de aquel usuario al que quieras escribir.</p>
	
	<!-- Nav tabs -->
	<ul class="nav nav-tabs titular" role="tablist">
		<li class="active"><a href="#recibidos" role="tab" data-toggle="tab">
			Recibidos (<span class="cant">{{getTotalMensajesRecibidos}}</span>)</a>
		</li>
		<li><a href="#enviados" role="tab" data-toggle="tab">
			Enviados (<span class="cant">{{getTotalMensajesEnviados}}</span>)</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	
		<div class="tab-pane active col-xs-12" id="recibidos">
			<h4 class="titular">{{#trans}}user.mensajes_recibidos{{/trans}}</h4>
		
			{{> autor/mensajes/_mensajes_recibidos }}
			
			<button class="btn btn-default text-center titular col-xs-12 mostrar-mas hidden">
					<i class="fa fa-refresh fa-spin fa-2x hidden"></i>
			</button>
		</div>
		
		<div class="tab-pane col-xs-12" id="enviados">
			<h4 class="titular">{{#trans}}user.mensajes_enviados{{/trans}}</h4>
		
			{{> autor/mensajes/_mensajes_enviados }}
			
			<button class="btn btn-default text-center titular col-xs-12 mostrar-mas hidden">
					<i class="fa fa-refresh fa-spin fa-2x hidden"></i>
			</button>
		</div>
		
	</div>
	
</div>
{{/ user }}