{{#post}}
<div class="post ">

	<h1 class="page-header">{{{title}}}</h1>
		
	{{>post/_info}}
	
	<div class="content text-center col-xs-12">
		{{{content}}}
	</div>
		
	{{>post/_tags}}
	{{>post/_meta}}
	
	{{{comment_form}}}
	
	{{#has_comments}}
	<div class="comments">
		{{#comments}}
			{{> post/_comment}}
		{{/comments}}
	</div>
	{{/has_comments}}
</div>
{{>post/_pager}}
{{/post}}