<div class="post">
{{#post}}
	<h1>{{{title}}}</h1>
	<p>{{time}} - {{author}}</p>
	<div class="info">
		{{#featured_image_url_medium}}
			<div class="thumbnail col-xs-2">
				<img src="{{featured_image_url_thumbnail}}" />
			</div>
		{{/featured_image_url_medium}}
	  	<div class="categories">
	    	{{> categories}}
	    </div>	
	</div>
	<div class="content">
		{{{content}}}
	</div>
	<div class="tags">
		{{> tags}}
	</div>
{{/post}}
</div>