{{< base }}

	{{$ content }}
		{{# post }}
		<div id="post" class="post-content" _id="{{ID}}">
			<div class="col-xs-12 col-sm-9 post categoria-{{getCategoria.slug}}" itemscope itemType="http://schema.org/BlogPosting">

				<h1 class="page-header titular" itemprop="headline">{{{getTitulo}}}</h1>

				<div class="info row">
					<div class="col-xs-12 col-sm-8 titular">
						<meta itemprop="datePublished" content="{{getFechaPublicacion | date.xmlschema}}"/>
						<i class="fa fa-calendar"></i> <span class="post-time">{{getFechaPublicacion | date.string}}</span>
						{{#trans}}por{{/trans}} 
						<span class="post-author"><a href="{{getAutor.getPerfilUrl}}">{{getAutor.display_name}}</a></span>
						{{# getTotalCategorias }}
							{{#trans}}en{{/trans}} <span class="categories">{{> post/_categories}}</span>
						{{/ getTotalCategorias }} 
					</div>
					<div class="col-xs-12 col-sm-4 text-right">		
						{{> post/_te_gusta_y_redes }}
					</div>
				</div>
				
				{{> post/_editor }}

				<div class="content text-center col-xs-12" itemprop="articleBody">
					{{{getContent}}}
				</div>

				{{> post/_tags }}
				
				{{> post/_siguiente_anterior_post }}

				{{> post/_meta_autor }}

				{{> post/_informar }}

				<div id="comment-form" class="col-xs-12"> 
					{{{getFormComentarios}}}
				</div>

				{{# getTotalComentarios }}
				<div id="comments" class="col-xs-12">
					<h3 class="col-xs-12 titular">{{#transu}}comentarios{{/transu}}</h3>
					{{#getComentarios}}				
						{{> post/_comment}}
					{{/getComentarios}}
				</div>
				{{/ getTotalComentarios }}
			</div>

			<div id="post-sidebar" class="col-xs-12 col-sm-3 text-center"> 
			    {{> post/_sidebar }}
			</div>
		</div>
		{{/ post }}
	{{/ content }}

	{{$ scripts }}
		<script>
			var ENTRADAS_SIMILARES = "{{ENTRADAS_SIMILARES}}";
			var ENTRADAS_RELACIONADAS = "{{ENTRADAS_RELACIONADAS}}";
		</script>
		<script src="{{template_url}}/public/js/post.js"></script>
	{{/ scripts }}

{{/ base }}
