<h2>¡Bienvenido!</h2>
<hr>

<div class="sidebar-item col-sm-12">
	{{>sidebar/_primero}}
</div>

<div class="sidebar-item col-sm-12">
	<h3>Informar <small>Enlaces o vídeos caídos, infracción, etc</small></h3>
	<div>
		<form type="POST" action="">
			<input type="hidden" name="post_id" value="{{post_id}}">
			<input type="hidden" name="user_id" value="{{user_id}}">
			<input type="submit" id="btn-notificar" name="submit" value="Notificar" class="btn btn-info">
		</form>
	</div>
</div>

{{#hay_similares}}
<div class="sidebar-item col-sm-12 similares">
	<h3>Entradas similares</h3>
	<section>
	{{#similares}}
		{{>sidebar/_post_similar}}
	{{/similares}}
	</section>
</div>
{{/hay_similares}}

<div class="sidebar-item text-center col-sm-12 login"> 
	{{#current_user}} {{! Si ya está logueado el user }}
		{{> sidebar/_ya_logueado }} 
	{{/current_user}}
	{{^current_user}} {{! Si NO está logueado el user }}
		{{> sidebar/_login }}
	{{/current_user}}
</div>

<div class="sidebar-item text-center col-sm-12"> 
	Si no quieres aparecer en NuevaMetal envíanos un correo a nuevametal[@]outlook.com 
	y borraremos el contenido relacionado con tu banda.
</div>
