<h2>{{#trans}}sidebar.bienvenido{{/trans}}</h2>
<hr>

<div class="sidebar-item col-sm-12">
	{{>sidebar/_primero}}
</div>

{{#hay_similares}}
<div class="sidebar-item col-sm-12 similares">
	<h3>{{#trans}}sidebar.entradas_similares{{/trans}}</h3>
	<section>
	{{#similares}}
		{{>sidebar/_post_similar}}
	{{/similares}}
	</section>
</div>
{{/hay_similares}}

<div class="sidebar-item text-center col-sm-12"> 
	<p>{{#trans}}sidebar.si_no_quieres_aparecer{{/trans}}
</div>
