<header class="container" id="top">
	<div class="col-xs-12 col-sm-4">
		<h1 class="site-title"><a href="/">{{blog_name}}</a></h1>	
	</div>
	<div class="col-xs-12 col-sm-8">
		<div class="header-img"></div>
	</div>
</header>