<div class="row principal-login">
	<div class="col-xs-12">	
		<form name="loginform" id="loginform" action="{{login_url}}"
			method="post" role="form" class="form">
				<div class="col-xs-12 ">
					<input type="text" name="log" id="user_login"
						class="form-control" value="" size="20" placeholder="User">
				</div>
				<div class="col-xs-12">
				 <input type="password" name="pwd" id="user_pass"
				 	class="form-control" value="" size="20"  placeholder="Password">
				</div>
				<div class="login-submit col-xs-12 ">
					<input type="submit" name="wp-submit" id="wp-submit"
						class="btn btn-danger form-control" value="Acceder" >
				</div>
				 <div class="checkbox col-xs-12 ">
				 	<label><input name="rememberme" type="checkbox" id="rememberme" 
				    	 value="forever"> Recuérdame</label>
				</div>
				<div class="col-xs-12 ">
					<a class="form-control btn btn-default" href="/wp-login.php?action=register" title="¡Registrate!">Registrarse</a>
				</div>
				<div class="col-xs-12 ">
					<a class="form-control btn btn-default" href="/wp-login.php?action=lostpassword" title="¿Has perdido tu contraseña?">¿Contraseña?</a>
				</div>
		</form>
	</div>
</div>