{{#current_user}}
<div class="row principal-login text-center">

	<div class="col-sm-12">
		<a href="{{getPerfilUrl}}" alt="{{display_name}}">
			<img alt="{{display_name}}" src="{{getAvatarPerfil}}" class="avatar">
		</a>
	</div>
	
	<div class="title col-sm-12">
		<h3>{{#transu}}bienvenido{{/transu}}
			<a href="{{getPerfilUrl}}">{{display_name}}</a>
		</h3>
	</div>

	<div class="title col-sm-12">
		<div class="list-group">
			{{#isSuscriptor}}
				{{^isSuscriptorRechazado}}
				  <a class="list-group-item" href="/tutorial#publica">
					<i class="fa fa-pencil"></i> {{#trans}}user.quieres_escribir{{/trans}}
				  </a>
				{{/isSuscriptorRechazado}}
			{{/isSuscriptor}}
			{{#canColaborador}}
			<a class="list-group-item" href="/wp-admin/edit.php" target="_blank">
				<i class="fa fa-files-o"></i> posts </a>
			<a class="list-group-item" href="/wp-admin/post-new.php" target="_blank">
				<i class="fa fa-pencil"></i> {{#transu}}nueva_entrada{{/transu}} </a>
			{{/canColaborador}}
			<a class="list-group-item" href="/favorites">		  	
				<i class="fa fa-star"></i> {{#transu}}favoritos{{/transu}}</a>
			<a class="list-group-item" href="/activity">
				<i class="fa fa-user"></i> {{#transu}}actividad{{/transu}} </a>
			<a class="list-group-item" href="/wp-login.php?action=logout&amp;redirect_to={{redirect_to}}">
				<i class="fa fa-exclamation-circle"></i> {{#transu}}cerrar_sesion{{/transu}} </a>
		</div>
	</div>
</div>
{{/current_user}}