{{#user}}
<table class="form-table">
	<tr>
		<th id="ubicacion"><label for="{{KEY_USER_UBICACION}}">{{#transu}}ubicacion{{/transu}}</label></th>
		<td>
			<input type="text" name="{{KEY_USER_UBICACION}}" value="{{getUbicacion}}" maxlength="100">
			<br><span class="description">{{#transu}}user.ubicacion{{/transu}}.</span>
		</td>
	</tr>
	<tr>
		<th id="bandas"><label for="{{KEY_USER_BANDAS_DESTACADAS}}">{{#trans}}user.bandas_destacadas{{/trans}}</label></th>
		<td>
			<textarea type="text" name="{{KEY_USER_BANDAS_DESTACADAS}}" maxlength="1000">{{getBandasDestacadas}}</textarea>
			<br><span class="description">{{#transu}}user.separa_por_comas{{/transu}}.</span>
		</td>
	</tr>
	<tr>
		<th id="generos"><label for="{{KEY_USER_GENEROS_DESTACADOS}}">{{#trans}}user.generos_destacados{{/trans}}</label></th>
		<td>
			<textarea type="text" name="{{KEY_USER_GENEROS_DESTACADOS}}" maxlength="1000">{{getGenerosDestacados}}</textarea>
			<br><span class="description">{{#transu}}user.separa_por_comas{{/transu}}.</span>
		</td>
	</tr>
</table>
{{/user}}