{{#user}}
<h3 id="idioma">{{#transu}}user.idioma{{/transu}}</h3>
<table class="form-table">
	<tr>
		<th><label for="{{KEY_USER_IDIOMA}}">{{#transu}}user.idioma{{/transu}}</label></th>
		<td>
			<select id="{{KEY_USER_IDIOMA}}" name="{{KEY_USER_IDIOMA}}">
				{{# idiomas }}
					<option value="{{value}}" {{#selected}}selected{{/selected}}>{{texto}}</option>
				{{/ idiomas }}
			</select>
			<br><span class="description">{{#transu}}user.idiomas_explicacion{{/transu}}.</span>
		</td>
		{{# getIdiomaTrans }}
		<td>{{#transu}}user.idioma_actual{{/transu}}: {{getIdiomaTrans}}</td>
		{{/ getIdiomaTrans }}
	</tr>	
</table>
{{/user}}