<h2> Reportes <small>Estado: {{ estado }}</small> </h2>
<table class=" table table-condensed table-responsive">
	<thead>
		<tr>
			<th class="col-xs-1">Nº</th>
			<th class="col-xs-3">Entrada</th>
			<th class="col-xs-7">Usuarios</th>
			<th class="col-xs-1">Acciones</th>
		</tr>
	</thead>
	<tbody>
	{{# reportes }}
		<tr>
	  		<td>{{ num }}</td>
			<td><a href="{{ permalink }}" target="_blank">{{ title }}</a></td>
			<td>{{> plugin/revisiones/_users_tabla }}</td>
			<td>
				{{# pendiente }}
					<button class="btn btn-success btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ estado }}" url="{{ template_url }}/ajax.php"> 
						{{#transu}}corregido{{/transu}}
					</button>
				{{/ pendiente }}
				{{^ pendiente }}
					<button class="btn btn-info btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ estado }}" url="{{ template_url }}/ajax.php">
						{{#transu}}pendiente{{/transu}}
					</button>
					<button class="btn btn-warning btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ estado_borrar }}" url="{{ template_url }}/ajax.php">
						{{#transu}}borrar{{/transu}}
					</button>
				{{/ pendiente }}
			</td>
		</tr>
   	{{/ reportes }}
   	</tbody>
</table>