<table class="table table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Total</th>
			<th>Último click</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>	
	{{# usuarios }}
	<tr>
		<form method="post">
		<input type="hidden" name="user_id" value="{{ user_id }}">
			<td> <a href="{{ user_posts_url }}" target="_blank"> 
				{{ user_user_login }}</a>
			</td>
			<td>{{ count }}</td>
			<td>{{ updated_at }}</td>
			<td>
			{{# baneado  }}
				<span class="label label-default label-block">Baneado</span>
			{{/ baneado  }}
			{{^ baneado  }}
				<input type="submit" name="submit" value="Banear"
					class="btn btn-danger btn-xs btn-block"
					title="El User no podrá volver a mandar revisiones">
			{{/ baneado  }}		
			</td>
			</form>
		</tr>
	{{/ usuarios }}
	</tbody>
</table>