<table class="table table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Total</th>
			<th>Último click</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>	
	{{# usuarios }}
	<tr>
		<td> <a href="{{ user_posts_url }}" target="_blank"> 
			{{ user_login }}</a>
		</td>
		<td>{{ count }}</td>
		<td>{{ updated_at }}</td>
		<td>
		{{# baneado  }}
			<span class="label label-default label-block">Baneado</span>
		{{/ baneado  }}
		{{^ baneado  }}
			<button class="btn btn-danger btn-xs btn-block dispara-revision"
					que_id="{{user_id}}" submit="revision-ban" estado="{{ estado }}" url="{{ url_accion }}">
				{{#transu}}banear{{/transu}}
			</button>
		{{/ baneado }}
		</td>
	</tr>
	{{/ usuarios }}
	</tbody>
</table>