<h4 class="titular">{{#transu}}estado{{/transu}}: {{ sEstado }}</h4>
<table class=" table table-condensed table-responsive">
	<thead>
		<tr>
			<th class="col-xs-1">Nº</th>
			<th class="col-xs-3">{{#transu}}entrada{{/transu}}</th>
			<th class="col-xs-3">{{#transu}}fecha{{/transu}}</th>
			<th class="col-xs-4">{{#transu}}usuarios{{/transu}}</th>
			<th class="col-xs-1">{{#transu}}acciones{{/transu}}</th>
		</tr>
	</thead>
	<tbody>
	{{# lista }}
		<tr>
	  		<td>{{ num }}</td>
			<td><a href="{{ getPost.getUrl }}" target="_blank">{{{ getPost.getTitulo }}}</a></td>
			<td>{{updated_at}}</td>
			<td> {{> pages/revisiones/_users_tabla }}</td>
			<td>
				{{# isPendiente }}
					<button class="btn btn-success btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ ESTADO_CORREGIDO }}"> 
						{{#transu}}corregido{{/transu}}
					</button>
				{{/ isPendiente }}
				{{^ isPendiente }}
					<button class="btn btn-info btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ ESTADO_PENDIENTE }}">
						{{#transu}}pendiente{{/transu}}
					</button>
					<button class="btn btn-warning btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ ESTADO_BORRADO }}">
						{{#transu}}borrar{{/transu}}
					</button>
				{{/ isPendiente }}
			</td>
		</tr>
   	{{/ lista }}
   	</tbody>
</table>