<h2> Reportes <small>Estado: {{ sEstado }}</small> </h2>
<table class=" table table-condensed table-responsive">
	<thead>
		<tr>
			<th class="col-xs-1">Nº</th>
			<th class="col-xs-3">Entrada</th>
			<th class="col-xs-3">Fecha</th>
			<th class="col-xs-4">Usuarios</th>
			<th class="col-xs-1">Acciones</th>
		</tr>
	</thead>
	<tbody>
	{{# lista }}
		<tr>
	  		<td>{{ num }}</td>
			<td><a href="{{ getPost.getUrl }}" target="_blank">{{ getPost.getTitulo }}</a></td>
			<td>{{updated_at}}</td>
			<td> {{> pages/revisiones/_users_tabla }}</td>
			<td>
				{{# isPendiente }}
					<button class="btn btn-success btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ ESTADO_CORREGIDO }}"> 
						{{#transu}}corregido{{/transu}}
					</button>
				{{/ isPendiente }}
				{{^ isPendiente }}
					<button class="btn btn-info btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ ESTADO_PENDIENTE }}">
						{{#transu}}pendiente{{/transu}}
					</button>
					<button class="btn btn-warning btn-sm btn-block dispara-revision" 
							que_id="{{post_id}}" submit="revision" estado="{{ ESTADO_BORRADO }}">
						{{#transu}}borrar{{/transu}}
					</button>
				{{/ isPendiente }}
			</td>
		</tr>
   	{{/ lista }}
   	</tbody>
</table>