<table class="table table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th>{{#transu}}nombre{{/transu}}</th>
			<th>{{#transu}}acciones{{/transu}}</th>
		</tr>
	</thead>
	<tbody>	
	{{# getUsers }}
	<tr>
		<td> <a href="{{ getPerfilUrl }}" target="_blank"> 
			{{ user_login }}</a>
		</td>
		<td>
		{{^ isAdmin }}
			{{# isRevisionBan }}
				<span class="label label-default label-block">{{#transu}}baneado{{/transu}}</span>
			{{/ isRevisionBan }}
			{{^ isRevisionBan }}
				<button class="btn btn-danger btn-xs btn-block dispara-revision"
						que_id="{{ID}}" submit="revision-ban" estado="{{ USER_BANEADO }}">
					{{#transu}}banear{{/transu}}
				</button>
			{{/ isRevisionBan }}
		{{/ isAdmin }}
		</td>
	</tr>
	{{/ getUsers }}
	</tbody>
</table>