<table class="table table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Total</th>
			<th>Último click</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>	
	{{# usuarios }}
	<tr>
		<td> <a href="{{ user.getPerfilUrl }}" target="_blank"> 
			{{ user.user_login }}</a>
		</td>
		<td>{{ count }}</td>
		<td>{{ updated_at }}</td>
		<td>
		{{^ user.isAdmin}}
			{{# user.isRevisionBan }}
				<span class="label label-default label-block">Baneado</span>
			{{/ user.isRevisionBan }}
			{{^ user.isRevisionBan }}
				<button class="btn btn-danger btn-xs btn-block dispara-revision"
						que_id="{{user.ID}}" submit="revision-ban" estado="{{ estado }}" url="{{ template_url }}/ajax.php">
					{{#transu}}banear{{/transu}}
				</button>
			{{/ user.isRevisionBan }}
		{{/ user.isAdmin}}
		</td>
	</tr>
	{{/ usuarios }}
	</tbody>
</table>