<div class="col-xs-12 col-sm-10 fila bs-callout bs-callout-danger">
	<span class="col-xs-12 col-sm-6 autor autor-de">
		De <a href="{{getUser.getPerfilUrl}}">{{getUser.display_name}}</a>
	</span>
	<span class="col-xs-12 col-sm-6 autor autor-para">Para <a href="{{getAQuien.getPerfilUrl}}">{{getAQuien.display_name}}</a></span>
	<span class="col-xs-12 fecha">
		<i class="fa fa-calendar fa-xs"></i> {{getDate}}. <i class="fa fa-clock-o fa-xs"></i> {{getTime}}
	</span>
	
	<div class="col-xs-12 texto bs-callout">
		<i class="fa fa-quote-left fa-xs"></i> {{mensaje}} <i class="fa fa-quote-right fa-xs"></i>
	</div>
	{{# getRespuesta }}		
	<span class="col-xs-12">
		<small>En respuesta a: <strong><i>"{{mensaje}}"</i></strong> </small>
	</span>
	{{/ getRespuesta }}
</div>