<div class="col-xs-12 col-sm-10 fila">
	<span class="col-xs-12 col-sm-6 autor">
		<i class="fa fa-terminal fa-xs"></i> De <a href="{{getUser.getPerfilUrl}}">{{getUser.display_name}}</a>
	</span>
	<span class="col-xs-12 col-sm-6 autor">A <a href="{{getAQuien.getPerfilUrl}}">{{getAQuien.display_name}}</a></span>
	<span class="col-xs-12 fecha">
		<i class="fa fa-calendar fa-xs"></i> El {{getDate}}. <i class="fa fa-clock-o fa-xs"></i> {{getTime}}
	</span>
	<span class="col-xs-12 col-sm-8  texto">
		<i class="fa fa-quote-left fa-xs"></i> {{mensaje}} <i class="fa fa-quote-right fa-xs"></i>
	</span>
</div>