{{# getMensajesRecibidos }}
	<div class="row mensaje">	
		{{> autor/mensajes/_mensaje_fila }}
		<button class="col-xs-6 col-sm-2 btn btn-default escribir-mensaje">
			<i class="fa fa-reply fa-xs"></i> {{#transu}}user.responder{{/transu}}</button>
		<button class="col-xs-6 col-sm-2 btn btn-default borrar-mensaje" mensaje_id="{{ID}}" 
			nonce="{{getNonceBorrarMensaje}}">
			<i class="fa fa-trash fa-xs"></i> {{#transu}}borrar{{/transu}}</button>
		<div class="row"></div>
		<form class="form hidden" nonce="{{current_user.getNonceEnviarMensaje}}">
			<textarea class="form-control" id="mensaje" maxlength="200"></textarea> 
			<button class="btn btn-danger enviar-mensaje col-xs-10" user_id="{{getUser.ID}}" respuesta_id="{{ID}}"
				nonce="{{getNonceResponderMensaje}}">
				<i class="fa fa-file-text-o"></i> {{#transu}}user.enviar_mensaje{{/transu}}
			</button>
			<button class="btn btn-default cancelar-enviar-mensaje col-xs-2">{{#transu}}cancelar{{/transu}}</button>
		</form>
	</div>
{{/ getMensajesRecibidos }}