<article class="post col-xs-12">

	<div class="thumbnail">
		<div class="caption">
	        <div class="col-xs-12">
				{{> home/_btn_estrella_me_gusta }}
			</div>
		</div>
		<a href="{{getUrl}}" title="{{{getTitulo}}}">
			{{> post/_thumbnail_medium }}
		</a>
    </div>
    <h2 class="post-title titular">
		<a href="{{getUrl}}" data-toggle="tooltip" data-placement="top" title="{{{getTitulo}}}">
			{{{getTitulo}}}
		</a>
    </h2>
</article>