<div class="post-meta page-header col-xs-12">
	<div class="col-sm-12 col-md-8">
	  <h1>{{{user_avatar}}}  {{display_name}} <small>Autor</small></h1>
	</div>
	{{#user_url}}
	<div class="col-sm-12 col-md-4">
		{{#edit_user_link}}<h1><a href="{{edit_user_link}}" class="btn btn-info">Editar perfil</a></h1>{{/edit_user_link}}
		{{#user_url}}<h1><a class="btn btn-info btn-md" role="button" href="{{user_url}}" target="_blank">Web</a></h1>{{/user_url}}
	</div>
	{{/user_url}}
	<div class="col-xs-12">
		<blockquote>
			<p>
				{{#description}}
					<small>Bio</small>
					{{{description}}}
				{{/description}}
				{{^description}}
					{{#edit_user_link}}<p><a href="{{{edit_user_link}}}" class="btn btn-warning">Editar perfil</a></p>{{/edit_user_link}}
					<footer>Este usuario no ha compartido ninguna información de perfil :(</footer>
				{{/description}}
			</p>			
		</blockquote>
	</div>
</div>