<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-12 definicion bs-callout bs-callout-default">
			<h4 class="titular">{{#transu}}definicion{{/transu}}: {{tag_trans}}</h4>
			{{{definicion}}}
		</div>
	</div>
</div>