{{# definicion }}
	{{> busqueda/_definicion }}
{{/ definicion }}
{{# seccion }}
	<div id="seccion-{{seccion}}" class="seccion-posts ">
		
		{{> home/_header_seccion }}
		
		{{> home/_seccion_contenido }}
	</div>
{{/ seccion }}