<article class="user text-center col-xs-12 col-sm-6 {{^reducido}}col-lg-3{{/reducido}}">	
	<a href="{{getPerfilUrl}}" title="{{getNombreCompleto}}" alt="{{display_name}}">
		<div class="nombre">
			{{display_name}}
		</div>
		<div class="row imagenes">
			<span class="header">
				{{# getHeaderPequena }}
				<img src="{{getHeaderPequena}}">
				{{/ getHeaderPequena }}
				{{^ getHeaderPequena }}
				<img class="sin-thumbnail">
				{{/ getHeaderPequena }}
			</span>
			
			<span class="avatar"><img src="{{getAvatar}}"></span>
			{{# getTotalPuntos }}
			<span class="total-puntos">{{getTotalPuntos}} {{#transu}}puntos{{/transu}}</span>
			{{/ getTotalPuntos }}
		</div>
	</a>
    <div class="descripcion">
    	{{# tieneDescripcion }}
			{{getDescripcionCorta}}
		{{/ tieneDescripcion }}
		{{^ tieneDescripcion }}
			{{getRol}}
		{{/ tieneDescripcion }}
	</div>
</article>