<div id="cookies" class="col-xs-12">
	Utilizamos cookies para mejorar tu experiencia. 
	Si continúas navegando es que aceptas nuestra 
	<a href="/legal/" target="_blank">política de cookies.</a>
	<a class="btn btn-xs btn-danger poner-cookie">OK</a>
</div>