<div id="happycookies" style="display:none">
    <div class="happycookies-close"><span>✖</span></div>
    <div class="happycookies-text">       
		<a href="#" class="buscamos-colaboradores" target="_blank">{{#trans}}banner.buscamos_colaboradores_aviso{{/trans}}</a><br>
		{{#trans}}banner.cookies_aviso{{/trans}}
    </div>
</div>