{{#user}}
<table class="form-table">
	<tr>
		<th id="ubicacion"><label for="{{KEY_USER_UBICACION}}">{{#transu}}user.ubicacion{{/transu}}</label></th>
		<td>
			<input type="text" name="{{KEY_USER_UBICACION}}" value="{{getUbicacion}}">
		</td>
	</tr>
</table>
{{/user}}