<div class="row">
	<div class="col-xs-12">		
		<h4 class="titular"><i class="fa fa-file"></i> {{#transu}}descripcion{{/transu}}</h4>		
		<blockquote>
			<p itemprop="description">
				{{getDescription}}
				{{^getDescription}}
					{{#transu}}user.no_hay_info_perfil{{/transu}}
				{{/getDescription}}
			</p>
			{{#isCurrentUser}}
				<a class="btn btn-default btn-xs" href="/wp-admin/profile.php#acerca-de-ti" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			{{/isCurrentUser}}
		</blockquote>
	</div>
</div>

{{#favoritos}}
	<div class="row">
		<div class="col-xs-12 titular">
			<h4><i class="fa fa-area-chart"></i> {{#transu}}user.entradas_publicadas_ano{{/transu}}</h4>
			<div id="entradas-publicadas" style="height:120px; margin-bottom:0px;"></div>
		</div>

		{{#getCountFavoritos}}
		<div class="col-xs-12 ">
			<h4 class="titular"><i class="fa fa-tags"></i> {{#transu}}user.etiquetas_destacadas_fav{{/transu}}</h4>			
			<ul class="tags text-center">
		        {{#user.getArrayEtiquetasFavoritas}}
		        <li><a href="{{tag_link}}" title="{{total}}">{{name}}</a></li>
		        {{/user.getArrayEtiquetasFavoritas}}
		    </ul>
		</div>
		{{/getCountFavoritos}}
		
		{{#getCountFavoritos}}
			<h4 class="ultimos-favoritos-dados titular col-xs-12 "><i class="fa fa-hand-o-right"></i> {{#transu}}user.ultimos_fav_dados{{/transu}}</h4>
			<div class="ultimos-favoritos col-xs-12">
				{{> autor/_seccion_fav}}
			</div>
		{{/getCountFavoritos}}
		
	</div>
{{/favoritos}}

<script src="{{template_url}}/public/third/raphael/raphael.min.js"></script>
<script src="{{template_url}}/public/third/morris/morris.js"></script>
<script src="{{template_url}}/public/js/user.js"></script>

<script>
	$(document).ready(function() {
		var url = "{{template_url}}/ajax.php?submit={{ANALITICA_PERFIL_POST_PUBLICADOS_MES}}&user={{user.ID}}&cant=30";
		pintarMorrisUser("entradas-publicadas", url);
	});
</script>