<div itemprop="author" itemscope itemtype="http://schema.org/Person">
	<div class="row img-avatar" >
		<span class="col-xs-12 user-avatar" itemprop="image">{{{getAvatarPerfil}}}</span>
		{{#isCurrentUser}}
			<div class="col-xs-12 btn-avatar">
				<a class="btn btn-default btn-xs" href="/wp-admin/profile.php#avatar" target="_blank">
					<i class="fa fa-image"></i> {{#transu}}cambiar{{/transu}}</a>
			</div>
		{{/isCurrentUser}}
	</div>
	
	<div class="row">
		<h3 class="col-xs-12 titular"><span itemprop="name">{{display_name}}</h3>
		<h4 class="col-xs-12"> {{getNombreCompleto}} <small itemprop="rolTitle">{{getRol}}</small></h4>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-12">
			{{#transu}}como{{/transu}}: <span class="tipo-usuario titular" itemprop="jobTitle">{{getTipoTrans}}</span>
			{{#isCurrentUser}}
				<a class="btn btn-xs btn-default btn-xs" href="/wp-admin/profile.php#tipo-usuario" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			{{/isCurrentUser}}
		</div>
	</div>
	
	<hr>
	
	<div class="row">

		{{#getUrl}}
		<div class="col-xs-3">			
			<a class="btn btn-default btn-md" role="button" href="{{getUrl}}" target="_blank">
				<i class="fa fa-globe"></i></a>
		</div>
		{{/getUrl}}

		{{#getTwitter}}
		<div class="col-xs-3">
			<a class="btn btn-default btn-md" role="button" href="{{getTwitter}}" target="_blank">
				<i class="fa fa-twitter"></i></a>			
		</div>
		{{/getTwitter}}

		{{#getFacebook}}
		<div class="col-xs-3">			
			<a class="btn btn-default btn-md" role="button" href="{{getFacebook}}" target="_blank">
				<i class="fa fa-facebook"></i></a>
		</div>
		{{/getFacebook}}

		{{#getGooglePlus}}
		<div class="col-xs-3">			
			<a class="btn btn-default btn-md" role="button" href="{{getGooglePlus}}" target="_blank">
				<i class="fa fa-google-plus"></i></a>
		</div>
		{{/getGooglePlus}}

		{{#getYoutube}}
		<div class="col-xs-3">			
			<a class="btn btn-default btn-md" role="button" href="{{getYoutube}}" target="_blank">
				<i class="fa fa-youtube"></i></a>
		</div>
		{{/getYoutube}}
		
		{{#getSoundcloud}}
		<div class="col-xs-3">			
			<a class="btn btn-default btn-md" role="button" href="{{getSoundcloud}}" target="_blank">
				<i class="fa fa-soundcloud"></i></a>
		</div>
		{{/getSoundcloud}}

		{{#isCurrentUser}}
			<div class="col-xs-4">
				<a class="btn btn-default btn-xs" href="/wp-admin/profile.php#redes-sociales" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</div>
		{{/isCurrentUser}}
			
	</div>
	<hr>
	<table class="table table-condensed text-center titular">
		<tr>
			<th colspan="2"><i class="fa fa-star"></i> {{#transu}}favoritos{{/transu}}</th>
		</tr>
		<tr class="active">
			<td>{{#transu}}dados{{/transu}}</td>
			<td>{{#transu}}recibidos{{/transu}}</td>
		</tr>
		<tr>
			<td>{{getCountFavoritos}}</td>
			<td>{{getCountFavoritosRecibidos}}</td>
		</tr>
	</table>
		
</div>