{{#user}}
<h3 id="redes-sociales">{{#transu}}img_header{{/transu}}</h3>
<table class="form-table">
	<tr>
		<td colspan="2"><img alt="{{display_name}}" src="{{{getImgHeader}}}" class="img-header"></td>
	</tr>
	<tr>
		<th><label for="{{KEY_USER_IMG_HEADER}}">Header</label></th>
		<td><input type="file" id="{{KEY_USER_IMG_HEADER}}" name="{{KEY_USER_IMG_HEADER}}"><br> 
			<span class="description">{{#transu}}introduce_tu [que:img_header]{{/transu}}</span>
		</td>
	</tr>
</table>
{{/user}}
