{{#user}}
<h3 id="redes-sociales">{{#transu}}redes_sociales{{/transu}}</h3>
<table class="form-table">
	<tr>
		<th><label for="{{KEY_USER_FACEBOOK}}">Facebook</label></th>
		<td>/ <input type="text" id="{{KEY_USER_FACEBOOK}}" name="{{KEY_USER_FACEBOOK}}"
			value="{{getFacebook}}" /><br /> <span class="description">
			{{#transu}}introduce_tu [que:Facebook]{{/transu}}</span></td>
	</tr>
	<tr>
		<th><label for="{{KEY_USER_TWITTER}}">Twitter</label></th>
		<td>@ <input type="text" id="{{KEY_USER_TWITTER}}" name="{{KEY_USER_TWITTER}}"
			value="{{getTwitter}}" /><br /> <span class="description">
			{{#transu}}introduce_tu [que:Twitter]{{/transu}}</span></td>
	</tr>
	<tr>
		<th><label for="{{KEY_USER_GOOGLE_PLUS}}">Google+</label></th>
		<td><input type="text" id="{{KEY_USER_GOOGLE_PLUS}}" name="{{KEY_USER_GOOGLE_PLUS}}"
			value="{{getGooglePlus}}" /><br /> <span class="description">
			{{#transu}}introduce_tu [que:Google+]{{/transu}}</span></td>
	</tr>
</table>
{{/user}}