{{#user}}
<h3 id="tipo-usuario">{{#transu}}user.tipo_usuario{{/transu}}</h3>
<table class="form-table">
	<tr>
		<th><label for="{{KEY_USER_TIPO}}">{{#transu}}user.tipo_usuario{{/transu}}</label></th>
		<td>
			<select id="{{KEY_USER_TIPO}}" name="{{KEY_USER_TIPO}}">
				{{#tipos}}
					<option value="{{value}}" {{#selected}}selected{{/selected}}>{{texto}}</option>
				{{/tipos}}
			</select>
		</td>
	</tr>	
</table>
{{/user}}