{{# user }}	
<div id="favoritos">
	<h1 class="titular">{{#transu}}favoritos{{/transu}} 
		<small>{{#transu}}total{{/transu}}: {{getTotalFavoritos}}</small>
	</h1>
	{{# getTotalFavoritos }}
	
		<!-- Nav tabs -->
		<ul class="nav nav-tabs titular" role="tablist">
			{{# getTotalFavoritosBandas }}
				<li class="active"><a href="#{{CATEGORY_BANDAS}}" role="tab" data-toggle="tab">{{#transu}}bandas{{/transu}}</a></li>
			{{/ getTotalFavoritosBandas }}
			
			{{# getTotalFavoritosConciertos }}
			<li ><a href="#{{CATEGORY_CONCIERTOS}}" role="tab" data-toggle="tab">{{#transu}}conciertos{{/transu}}</a></li>
			{{/ getTotalFavoritosConciertos }}
			
			{{# getTotalFavoritosCriticas }}
			<li ><a href="#{{CATEGORY_CRITICAS}}" role="tab" data-toggle="tab">{{#transu}}criticas{{/transu}}</a></li>
			{{/ getTotalFavoritosCriticas }}
			
			{{# getTotalFavoritosCronicas }}
			<li ><a href="#{{CATEGORY_CRONICAS}}" role="tab" data-toggle="tab">{{#transu}}cronicas{{/transu}}</a></li>
			{{/ getTotalFavoritosCronicas }}
			
			{{# getTotalFavoritosEntrevistas }}
			<li ><a href="#{{CATEGORY_ENTREVISTAS}}" role="tab" data-toggle="tab">{{#transu}}entrevistas{{/transu}}</a></li>
			{{/ getTotalFavoritosEntrevistas }}
			
			{{# getTotalFavoritosNoticias }}
			<li ><a href="#{{CATEGORY_NOTICIAS}}" role="tab" data-toggle="tab">{{#transu}}noticias{{/transu}}</a></li>
			{{/ getTotalFavoritosNoticias }}
			
			{{# getTotalFavoritosVideos }}
			<li ><a href="#{{CATEGORY_VIDEOS}}" role="tab" data-toggle="tab">{{#transu}}videos{{/transu}}</a></li>
			{{/ getTotalFavoritosVideos }}
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content posts">
			
			<div class="tab-pane active" id="{{CATEGORY_BANDAS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosBandas}}</h4>
				<div class="favoritos-content">
					{{# getFavoritosBandas }}
						{{> home/_post }}
					{{/ getFavoritosBandas }}
				</div>
				{{> user/actividad/_btn_mostrar_mas }}					
			</div>
			
			<div class="tab-pane {{#activo}}active{{/activo}}" id="{{CATEGORY_VIDEOS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosVideos}}</h4>
				<div class="favoritos-content">
					{{# getFavoritosVideos }}
						{{> home/_post }}
					{{/ getFavoritosVideos }}	
				</div>
				{{> user/actividad/_btn_mostrar_mas }}					
			</div>
	
			<div class="tab-pane {{#activo}}active{{/activo}}" id="{{CATEGORY_CONCIERTOS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosConciertos}}</h4>					
				<div class="favoritos-content">
					{{# getFavoritosConciertos }}
						{{> home/_post }}
					{{/ getFavoritosConciertos }}					
				</div>
				{{> user/actividad/_btn_mostrar_mas }}
			</div>
			
			<div class="tab-pane {{#activo}}active{{/activo}}" id="{{CATEGORY_CRONICAS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosCronicas}}</h4>
				<div class="favoritos-content">
					{{# getFavoritosCronicas }}
						{{> home/_post }}
					{{/ getFavoritosCronicas }}	
				</div>
				{{> user/actividad/_btn_mostrar_mas }}					
			</div>
			
			<div class="tab-pane {{#activo}}active{{/activo}}" id="{{CATEGORY_CRITICAS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosCriticas}}</h4>
				<div class="favoritos-content">
					{{# getFavoritosCriticas }}
						{{> home/_post }}
					{{/ getFavoritosCriticas }}	
				</div>
				{{> user/actividad/_btn_mostrar_mas }}
			</div>
	
			<div class="tab-pane {{#activo}}active{{/activo}}" id="{{CATEGORY_NOTICIAS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosNoticias}}</h4>
				<div class="favoritos-content">
					{{# getFavoritosNoticias }}
						{{> home/_post }}
					{{/ getFavoritosNoticias }}					
				</div>
				{{> user/actividad/_btn_mostrar_mas }}
			</div>
			
			<div class="tab-pane {{#activo}}active{{/activo}}" id="{{CATEGORY_ENTREVISTAS}}">
				<h4 class="titular">{{#transu}}total{{/transu}}: {{getTotalFavoritosEntrevistas}}</h4>
				<div class="favoritos-content">
					{{# getFavoritosEntrevistas }}
						{{> home/_post }}
					{{/ getFavoritosEntrevistas }}					
				</div>
				{{> user/actividad/_btn_mostrar_mas }}
			</div>
				
		</div>
	
	{{/ getTotalFavoritos }}
	{{^ getTotalFavoritos }}
	<p>Aún no marcaste ninguna entrada como favorita. <br>
		Entra ya a una entrada y dale al botón de "<i class="fa fa-star"></i> Me gusta" 
		para ver el listado completo en esta sección.</p>
	
	{{/ getTotalFavoritos }}
</div>
{{/ user }}
{{^ user }}
	{{> error }}
{{/ user }}