{{# user }}
<div id="mensajes" class="padre">
	<h1 class="titular">{{#transu}}mensajes{{/transu}}</h1>
	<p>{{#trans}}actividad.mensajes_titulo{{/trans}}.</p>
	
	<!-- Nav tabs -->
	<ul class="nav nav-tabs titular" role="tablist">
		<li class="active"><a href="#recibidos" role="tab" data-toggle="tab">
			{{#trans}}actividad.mensajes_recibidos{{/trans}} (<span class="cant">{{getTotalMensajesRecibidos}}</span>)</a>
		</li>
		<li><a href="#enviados" role="tab" data-toggle="tab">
			{{#trans}}actividad.mensajes_enviados{{/trans}} (<span class="cant">{{getTotalMensajesEnviados}}</span>)</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	
		<div class="tab-pane active col-xs-12" id="recibidos">
			<h4 class="titular">{{#trans}}actividad.mensajes_recibidos{{/trans}}</h4>
			
			<div class="mensajes-content">
				{{> user/mensajes/_mensajes_recibidos }}
			</div>
			
			{{> user/actividad/_btn_mostrar_mas }}	
		</div>
		
		<div class="tab-pane col-xs-12" id="enviados">
			<h4 class="titular">{{#trans}}actividad.mensajes_enviados{{/trans}}</h4>
		
			<div class="mensajes-content">
				{{> user/mensajes/_mensajes_enviados }}
			</div>
			
			{{> user/actividad/_btn_mostrar_mas }}	
		</div>
		
	</div>
	
</div>
{{/ user }}