{{#getUrl}}
<div class="col-xs-3 col-md-2">			
	<a class="btn btn-social-icon btn-github btn-lg" role="button" href="{{getUrl}}" target="_blank">
		<i class="fa fa-globe "></i></a>
</div>
{{/getUrl}}

{{#getTwitter}}
<div class="col-xs-3 col-md-2">
	<a class="btn btn-social-icon btn-twitter btn-lg" role="button" href="{{getTwitter}}" target="_blank">
		<i class="fa fa-twitter "></i></a>			
</div>
{{/getTwitter}}

{{#getFacebook}}
<div class="col-xs-3 col-md-2">			
	<a class="btn btn-social-icon btn-facebook btn-lg" role="button" href="{{getFacebook}}" target="_blank">
		<i class="fa fa-facebook "></i></a>
</div>
{{/getFacebook}}

{{#getGooglePlus}}
<div class="col-xs-3 col-md-2">			
	<a class="btn btn-social-icon btn-google-plus btn-lg" role="button" href="{{getGooglePlus}}" target="_blank">
		<i class="fa fa-google-plus"></i></a>
</div>
{{/getGooglePlus}}

{{#getSoundcloud}}
<div class="col-xs-3 col-md-2">			
	<a class="btn btn-social-icon btn-soundcloud btn-lg" role="button" href="{{getSoundcloud}}" target="_blank">
		<i class="fa fa-soundcloud fa-2x"></i></a>
</div>
{{/getSoundcloud}}

{{#getYoutube}}
<div class="col-xs-3 col-md-2">			
	<a class="btn btn-social-icon btn-pinterest btn-lg" role="button" href="{{getYoutube}}" target="_blank"
			style="border: 2px solid #CB2027;">
		<i class="fa fa-youtube"></i></a>
</div>
{{/getYoutube}}