{{< base }}
	{{$ content }}
		{{#user}}
			<div id="actividad" class="padre">
				<h1 class="titular">{{#transu}}actividad{{/transu}}</h1>
			
				<div class="col-xs-12 {{#conSidebar}}col-md-9{{/conSidebar}}">	
					<!-- Nav tabs -->
					<ul class="nav nav-tabs titular" role="tablist">
						<li class="active"><a href="#actividades" role="tab" data-toggle="tab">
							{{#transu}}actividades{{/transu}} (<span class="cant">{{getTotalActividades}}</span>)</a>
						</li>
						<li><a href="#actividades-propias" role="tab" data-toggle="tab">
							{{#transu}}tu_actividad{{/transu}} (<span class="cant">{{getTotalActividadesPropias}}</span>)</a>
						</li>
						<li><a href="#seguidores" role="tab" data-toggle="tab">
							{{#transu}}seguidores{{/transu}} (<span class="cant">{{getTotalSeguidores}}</span>)</a>
						</li>
						<li><a href="#siguiendo" role="tab" data-toggle="tab">
							{{#transu}}siguiendo{{/transu}} (<span class="cant">{{getTotalSiguiendo}}</span>)</a>
						</li>
						<li><a href="#puntos" role="tab" data-toggle="tab">
							{{#transu}}puntos{{/transu}} (<span class="cant">{{getTotalPuntos}}</span>)</a>
						</li>
					</ul>
		
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active col-xs-12" id="actividades">
							<h4 class="titular">{{#trans}}actividad.aqui_ver_actividad{{/trans}}</h4>
							
							<div class="actividad-content">
								{{# getActividades }}
									{{> user/actividad/_actividad_fila }}
								{{/ getActividades }}
								{{^ getActividades }}
									{{#trans}}actividad.sin_actividad{{/trans}}.
								{{/ getActividades }}
							</div>
							
							{{> user/actividad/_btn_mostrar_mas }}
						</div>
		
						<div class="tab-pane col-xs-12" id="actividades-propias">
							<h4 class="titular">{{#trans}}actividad.actividades_propias{{/trans}}</h4>
							
							<div class="actividad-content">
								{{# getActividadesPropias }}
									{{> user/actividad/_actividad_fila }}
								{{/ getActividadesPropias }}
								{{^ getActividadesPropias }}
									{{#trans}}actividad.sin_actividad{{/trans}}.
								{{/ getActividadesPropias }}
							</div>
						
							{{> user/actividad/_btn_mostrar_mas }}
						</div>
						
						<div class="tab-pane col-xs-12 seguidores" id="seguidores">
							<h4 class="titular">{{#trans}}actividad.usuarios_que_te_estan_siguiendo{{/trans}}</h4>
							
							<div class="actividad-content">
								{{# getSeguidores }}
									{{> user/actividad/_usuario_fila }}
								{{/ getSeguidores }}
							</div>
									
							{{> user/actividad/_btn_mostrar_mas }}
						</div>
		
						<div class="tab-pane col-xs-12" id="siguiendo">
							<h4 class="titular">{{#trans}}actividad.usuarios_que_estas_siguiendo{{/trans}}</h4>
							
							<div class="actividad-content">
								{{# getSiguiendo }}
									{{> user/actividad/_usuario_fila }}
								{{/ getSiguiendo }}
							</div>
							
							{{> user/actividad/_btn_mostrar_mas }}
						</div>
						
						<div class="tab-pane col-xs-12" id="puntos">
							<h4 class="titular">{{#trans}}actividad.aqui_ver_puntos{{/trans}}.</h4>					
							{{> user/actividad/_puntos }}
						</div>
		
					</div>
				</div>
				
				{{#conSidebar}}
				<div id="sidebar" class="col-xs-12 col-md-3">
					{{> user/actividad/_sidebar}}
				</div>
				{{/conSidebar}}
			</div>
		{{/user}}
		{{^user}}
			{{> error }}
		{{/user}}
	{{/ content }}
{{/ base }}