{{< base }}
	{{$ content }}
		<div class="autor">
		
			{{#current_user.canEditor}}
				{{> admin/_autor }}
			{{/current_user.canEditor}}
		
			<h1>{{#trans}}user.ha_sido_bloqueado [nombre:{{user.display_name}}]{{/trans}}.</h1>
		</div>
	{{/ content }}
{{/ base }}