{{< base }}
	{{$ content }}
		{{# user }}
		<div id="mensajes" class="col-xs-12 padre">
			<h1 class="titular">{{#transu}}mensajes{{/transu}}</h1>
			<p>{{#trans}}mensajes.titulo{{/trans}}.</p>
			
			<div class="col-xs-12 {{#conSidebar}}col-md-9{{/conSidebar}}">	
				<!-- Nav tabs -->
				<ul class="nav nav-tabs col-xs-12 titular" role="tablist">
					<li class="active"><a href="#recibidos" role="tab" data-toggle="tab">
						{{#trans}}mensajes.recibidos{{/trans}} (<span class="cant">{{getTotalMensajesRecibidos}}</span>)</a>
					</li>
					<li><a href="#enviados" role="tab" data-toggle="tab">
						{{#trans}}mensajes.enviados{{/trans}} (<span class="cant">{{getTotalMensajesEnviados}}</span>)</a>
					</li>
					<li><a href="#borrados" role="tab" data-toggle="tab">
						{{#trans}}mensajes.borrados{{/trans}} (<span class="cant">{{getTotalMensajesBorrados}}</span>)</a>
					</li>
				</ul>
			
				<!-- Tab panes -->
				<div class="tab-content col-xs-12">
				
					<div class="tab-pane active" id="recibidos">
						<h4 class="titular">{{#trans}}mensajes.recibidos{{/trans}}</h4>
						
						<div class="mensajes-content content">
							{{> user/mensajes/_mensajes_recibidos }}						
						</div>
						
						{{> user/actividad/_btn_mostrar_mas }}	
					</div>
					
					<div class="tab-pane" id="enviados">
						<h4 class="titular">{{#trans}}mensajes.enviados{{/trans}}</h4>
					
						<div class="mensajes-content content">
							
						</div>
						
						{{> user/actividad/_btn_mostrar_mas }}	
					</div>
					
					<div class="tab-pane" id="borrados">
						<h4 class="titular">{{#trans}}mensajes.borrados{{/trans}}</h4>
						
						<div class="mensajes-content content">
							
						</div>
						
						{{> user/actividad/_btn_mostrar_mas }}	
					</div>
				</div>
			{{#conSidebar}}
			<div id="sidebar" class="col-xs-12 col-md-3">
				{{> user/actividad/_sidebar}}
			</div>
			{{/conSidebar}}
		</div>
		{{/ user }}
		{{^user}}
			{{> error }}
		{{/user}}
	{{/ content }}
{{/ base }}