<article class="post col-xs-4 col-sm-2" 
	itemscope itemType="http://schema.org/BlogPosting">

	<div class="thumbnail">
	
        {{> home/_post_caption }}
        
		<a href="{{getUrl}}" title="{{{getTitulo}}}">			
			{{> post/_thumbnail_medium }}
		</a>
    </div>
    <h2 class="post-title titular">
		<a href="{{getUrl}}" title="{{getTitulo}}">{{{getTituloCorto}}}</a>
    </h2>
</article>