{{# isTipoEntradaEditada}}
	{{> actividad/_tipo_entrada_editada }}
{{/ isTipoEntradaEditada}}
{{# isTipoMeGusta}}
	{{> actividad/_tipo_me_gusta }}
{{/ isTipoMeGusta}}
{{# isTipoNuevaEntrada}}
	{{> actividad/_tipo_nueva_entrada }}
{{/ isTipoNuevaEntrada}}
{{# isTipoNuevoComentario}}
	{{> actividad/_tipo_nuevo_comentario }}
{{/ isTipoNuevoComentario}}
{{# isTipoSeguimientoUser}}
	{{> actividad/_tipo_seguimiento_user }}
{{/ isTipoSeguimientoUser}}