<div class="fila bs-callout bs-callout-success tipo-me-gusta">
	{{> actividad/_user }}
	<span class="texto col-xs-8">
		<span class="time col-xs-12 text-left">
			<i class="fa fa-thumbs-o-up"></i> {{> actividad/_time }}
		</span>
		{{#getUser.isCurrentUser}}
			{{#trans}}user.te_ha_gustado{{/trans}} <a href="{{getQue.getUrl}}">{{getQue.post_title}}</a>.
		{{/getUser.isCurrentUser}}
		{{^getUser.isCurrentUser}}
			A <a href="{{getUser.getPerfilUrl}}">{{getUser.display_name}}</a> 
			{{#trans}}user.le_ha_gustado{{/trans}} 
			<a href="{{getQue.getUrl}}">{{getQue.post_title}}</a>.
		{{/getUser.isCurrentUser}}		
	</span>
	<span class="post-thumbnail col-xs-2">
		<a href="{{getQue.getUrl}}">
			{{#getQue.getThumbnail}}
				<img src="{{.}}" alt="{{getQue.post_title}} thumbnail"/>
			{{/getQue.getThumbnail}}
			{{^getQue.getThumbnail}}
				<img class="sin-thumbnail" alt="{{getQue.post_title}} thumbnail"/>
			{{/getQue.getThumbnail}}
		</a>
	</span>
</div>