<div class="fila bs-callout bs-callout-warning tipo-seguimiento-user">
	{{> actividad/_user}}
	<span class="texto col-xs-1">
		<i class="fa fa-users fa-3x"></i>
	</span>
	<span class="texto col-xs-7">
		<span class="time col-xs-12 text-left">
			{{> actividad/_time }}
		</span>
		{{#getUser.isCurrentUser}}
			{{#trans}}user.has_empezado_a_seguir_a{{/trans}} <a href="{{getQue.getPerfilUrl}}">{{getQue.display_name}}</a>.
		{{/getUser.isCurrentUser}}
		{{^getUser.isCurrentUser}}
			<a href="{{getUser.getPerfilUrl}}">{{getUser.display_name}}</a> 
			{{#trans}}user.ha_empezado_a_seguir_a{{/trans}}
			<a href="{{getQue.getPerfilUrl}}">{{getQue.display_name}}</a>.
		{{/getUser.isCurrentUser}}
	</span>
	<span class="avatar2 col-xs-2">
		<a href="{{getQue.getPerfilUrl}}">
			<img src="{{getQue.getAvatar}}">
		</a>
	</span>
</div>