<div class="fila tipo-me-gusta">
	{{> actividad/_user}}
	<span class="texto col-xs-8">
		{{#isCurrentUser}}
			Te ha gustado <a href="{{getQue.getUrl}}">{{getQue.post_title}}</a>.
		{{/isCurrentUser}}
		{{^isCurrentUser}}
			A <a href="{{getUser.getPerfilUrl}}">{{getUser.display_name}}</a> 
			le ha gustado 
			<a href="{{getQue.getUrl}}">{{getQue.post_title}}</a>.
		{{/isCurrentUser}}
	</span>
	<span class="post-thumbnail col-xs-2">
		<a href="{{getQue.getUrl}}">
			{{#getQue.getThumbnail}}
				<img src="{{.}}" alt="{{getQue.post_title}} thumbnail"/>
			{{/getQue.getThumbnail}}
			{{^getQue.getThumbnail}}
				<img class="sin-thumbnail" alt="{{getQue.post_title}} thumbnail"/>
			{{/getQue.getThumbnail}}
		</a>
	</span>
</div>