<div class="fila bs-callout bs-callout-primary tipo-nuevo-comentario">
	{{> actividad/_user}}
	<span class="texto col-xs-8">
		<span class="time col-xs-12 text-left">
			<i class="fa fa-comment-o"></i> {{> actividad/_time }}
		</span>
		{{#getUser.isCurrentUser}}
			{{#trans}}user.has_comentado_una_entrada{{/trans}}
			<a href="{{getQue.getPost.getUrl}}#comment-{{que_id}}">{{getQue.getPost.post_title}}</a>.
		{{/getUser.isCurrentUser}}
		{{^getUser.isCurrentUser}}
			<a href="{{getUser.getPerfilUrl}}">{{getUser.display_name}}</a> 
			{{#trans}}user.ha_comentado_una_entrada{{/trans}}
			<a href="{{getQue.getPost.getUrl}}#comment-{{que_id}}">{{getQue.getPost.post_title}}</a>.
		{{/getUser.isCurrentUser}}
	</span>
	<span class="post-thumbnail col-xs-2">
		 <a href="{{getQue.getPost.getUrl}}#comment-{{que_id}}">
		 	{{#getQue.getPost}}
				{{#getThumbnail}}
					<img src="{{.}}" alt="{{post_title}} thumbnail"/>
				{{/getThumbnail}}
				{{^getThumbnail}}
					<img class="sin-thumbnail" alt="{{post_title}} thumbnail"/>
				{{/getThumbnail}}
			{{/getQue.getPost}}
		</a>
	</span>
</div>