#actividad {
	//* { border: 1px solid red; }
	#actividades, #actividades-propias, #seguidores, #siguiendo {
		.avatar, .avatar2, .post-thumbnail {
			padding: 0px;
			img {
				height: 55px;
				width: 55px;
			}
			height: auto;
			width: auto;
		}
		.avatar {
			float: left;
			margin-right: 10px;
		}
		.post-thumbnail, .avatar2 {
			float: right;
		}
		.fila {
			//border: 4px solid black;
			//border-radius: 10px;
			box-shadow: 10px 10px 5px #888888;
			margin: 16px 0;
			padding: 10px;
			height: auto;
			overflow: hidden;
		}
		.tipo-me-gusta {
			
		}
		.tipo-nueva-entrada {
			
		}
		.tipo-nuevo-comentario {
			
		}
		.tipo-seguimiento-user {
			
		}
		
		.time {
			font-size: 14px;
		}
		
		.texto {
			margin-left: 10px;
		}
	}
	
	#puntos {
		box-shadow: 10px 10px 5px #888888;
		margin: 16px 0;
		padding: 10px;
		height: auto;
		overflow: hidden;
	}
	
	#sidebar {
		.seguidores, .siguiendo{
			.row {
				//margin: 1px 0;
				padding: 2px 0;				
				&:hover {
					//border: 1px solid $rojo-danger;
					border-radius: 5px;
					@extend %negrita;
					.avatar {
						box-shadow: 1px 1px 5px #888;
					}
				}
				.avatar {
					height: 26px;
					width: 26px;
				}
			}
		}
	}
}