.autor {

	.body {
		@extend %ul-inline;
		.tags {
			padding-left: 0;
			//border: 1px solid red;
			ul {
				padding-left: 0;
			}
		}
		
		.etiquetas-favoritos {
			text-align: center;
		}
		
		.ultimos-favoritos{
			img {
				height: 100px; //xs
				@include col(sm) {
					height: 90px;	
				}
				@include col(lg) {
					height: 170px;
				}
			}
			/*@include col(lg) {
				overflow: hidden;
    			white-space: nowrap;
    			height: 215px;
			}*/
			.post-fav {
				padding: 0px;
				.titular {
					font-size: 16px;
					overflow: hidden;
					text-align: center;
    				white-space: nowrap;
    				margin-bottom: 6px;
				}
				.total-me-gustas {
					padding: 4px;
				}
			}
			.thumbnail {
				margin: 0px;
			}
		}
	}
	
	.header {
	
	}
	
}