.autor {

	.body {
		@extend %ul-inline;
		.tags {
			padding-left: 0;
			//border: 1px solid red;
			ul {
				padding-left: 0;
			}
		}
		
		.ultimos-favoritos{
			img {
				height: 65px; //xs
				@include col(sm) {
					height: 85px;	
				}
				@include col(lg) {
					height: 170px;
				}
			}
			@include col(lg) {
				overflow: hidden;
    			white-space: nowrap;
    			height: 215px;
			}
			margin: 0px;
			.post-fav {
				.titular {
					font-size: 16px;
					overflow: hidden;
    				white-space: nowrap;
				}
			}
			.thumbnail {
				margin: 0px;
			}
		}
	}
	
	.header {
	
	}
	
}