.autor {

	.estadisticas {
		margin: 10px 0;
	}
	
	.img-avatar {

		.avatar {
			position: absolute;
			border: 5px solid $body-background-color;
		}
		.btn-avatar {
			position: absolute;
			top: 10px;
			left: 20px;
		}
		margin-bottom: 180px;
		
		@include col(xs) {
			text-align:center;
			.user-avatar {
				left: -90px;
			}
			.btn-avatar {
				left: -40px;
			}
	    }
	}

	.col2 {
		@include col(sm) {
			margin-top: 195px;
	    }
	}

	@extend %ul-inline;
	.tags {
		padding-left: 0;
		ul {
			padding-left: 0;
		}
	}
	.img-header {		
		margin-top: 23px;
		img {
			position: absolute;
			height: 200px;
			width: 100%;
							
			opacity: 0.9;

	    	&:hover {
				opacity: 0.95;
			}

	    	@include col(sm) {
	    		height: 200px;
	    	}
	    	@include col(md) {
	    		height: 230px;
	    	}
	    	@include col(lg) {
	    		height: 270px;
	    	}
    	}
    	.btn-img-header {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	.content {
		margin-top: 40px;
		@include col(md) {
			margin-top: 70px;
		}
		@include col(lg) {
			margin-top: 120px;
		}
	}
	
	.ultimos-favoritos{
		img {
			height: 10px;		
		}			
		.caption {
			margin-top: 0;
						
		}
		.post{
			height: 100px;
			padding: 0px;
			.titular {
				font-size: 16px;
				overflow: hidden;
				text-align: center;
				white-space: nowrap;
				margin-bottom: 6px;
			}
			.total-me-gustas {
				padding: 4px;
			}
		}
		.thumbnail {
			margin: 0px;
			height: 100px;
		}
	}
	
	
	.tipo-usuario {
		font-size: 21px;
	}
	
	/*.seguir {
		//width: 90px;
		//padding: 5px 70px;
		//border: 1px solid black;
	}*/
	
}

.btn-me-gusta-y-editar {
	
	.login-necesario {
		margin-top: 5px ;
		a {
			color: #333 ;
			&:hover {
				color: #333;
			}
		}
	}
}