$banner-margin: 0; //$margin-top-titulo-content 0;

#banner-base-header {
	color: $body-background-color;
}

#banner-home-top {
}

#banner-menu-lateral {
}

#banner-post-sidebar {
}

.banner {
	//border: 1px solid red;
	margin: $banner-margin;
}
