$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;

$body-background-color: #fff;
$background-header-seccion: #404042;

$margin-top-titulo-content: 16px;

$rojo-danger: #d43f3a;
$rojo-danger-hover: #c2292f;

$rojo-nm: #b80c12;
$rojo-nm-hover: #cb0d14;

$rojo-yt: #CB2027;
$rojo-yt-hover: #dc232a;

$color-body: #333;

$color-primary: #428bca;
$color-success: #5cb85c;
$color-info:    #5bc0de;
$color-warning: #f0ad4e;
$color-danger:  #d9534f;

.borde-abajo-amarillo {
	border-bottom: 5px solid $color-warning;
	@include border-radius(10px);
}

@mixin col($media) {
	@if $media == xs {
		@media only screen and (max-width: $screen-xs-max) { @content; }
	}
	@else if $media == sm {
		@media only screen and (min-width: $screen-sm-min) { @content; }
	}
	@else if $media == md {
		@media only screen and (min-width: $screen-md-min) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $screen-lg-min) { @content; }
	}
	@else if $media == xl {
		@media only screen and (min-width: $screen-xl-min) { @content; }
	}
	@else {
		@media only screen and (min-width: $media) { @content; }
	}
}

%color-enlace {
	color: $rojo-danger;
	&:hover,&:focus,&.focus,&.active{
		color: $rojo-danger-hover;
	}
}

%enlace-negrita-rojo-hover {
	a:hover {
		@extend %negrita;
		&:hover {
			color: $rojo-danger;
		}
	}
}

%negrita {
	font-weight: bold;
}

%fila-sombreada {
	box-shadow: 10px 10px 5px #888888;
	margin: 16px 0;
	padding: 10px;
	height: auto;
	overflow: hidden;
}

%sombreado-semitransparente {
	padding: 5px;
	border-radius: 10px;
	background:rgba(0, 0, 0, 0.7);
	font-size: 21px;
}

%titular {
	font-family: 'ralewayextrabold';
	text-transform:uppercase;
}
%cursorPointer {
	cursor: pointer;
	cursor: hand;
}

.rojo-danger {
	color: $rojo-danger;
}
.rojo-danger-hover {
	color: $rojo-danger-hover;
}
.color-primary {
	color: $color-primary;
}
.color-success {
	color: $color-success;
}
.color-info {
	color: $color-info;
}
.color-warning {
	color: $color-warning;
}
.color-danger {
	color: $color-danger;
}

::selection {
  background: #ffb7b7; // WebKit/Blink Browsers
}
::-moz-selection {
  background: #ffb7b7; // Gecko Browsers
}


@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold-webfont.eot');
    src: url('fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg'),
         url('fonts/raleway-extrabold-webfont.woff') format('woff'),
         url('fonts/raleway-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

