$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;

$body-background-color: #fff;

@mixin col($media) {
	@if $media == xs {
		@media only screen and (max-width: $screen-xs-max) { @content; }
	}
	@else if $media == sm {
		@media only screen and (min-width: $screen-sm-min) { @content; }
	}
	@else if $media == md {
		@media only screen and (min-width: $screen-md-min) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $screen-lg-min) { @content; }
	}
	@else if $media == xl {
		@media only screen and (min-width: $screen-xl-min) { @content; }
	}
	@else {
		@media only screen and (min-width: $media) { @content; }
	}
}

%negrita {
	font-weight: bold;
}

%fila-sombreada {
	box-shadow: 10px 10px 5px #888888;
	margin: 16px 0;
	padding: 10px;
	height: auto;
	overflow: hidden;
}

%titular {
	font-family: 'ralewayextrabold';
	text-transform:uppercase;
}

$rojo-danger: #d43f3a;
$rojo-danger-hover: #c9302c;

.rojo-danger {
	color: $rojo-danger;
}
.rojo-danger-hover {
	color: $rojo-danger-hover;
}

::selection {
  background: #ffb7b7; // WebKit/Blink Browsers
}
::-moz-selection {
  background: #ffb7b7; // Gecko Browsers
}


@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold-webfont.eot');
    src: url('fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg'),
         url('fonts/raleway-extrabold-webfont.woff') format('woff'),
         url('fonts/raleway-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

