$altura-header-seccion-home-carousel: 180px;
$altura-header-seccion-home-carousel-xs: 180px;

#menu-perfil {
	margin-bottom: 10px;
}

#home-carousel {

	margin-top: 12px;
	a {
		color: $body-background-color;
	}
	.carousel-indicators{
		//bottom: 0px;	
	}
	.carousel-inner {
		@extend %background-nm;
		.item {
			//background-color: $body-background-color;
			height: $altura-header-seccion-home-carousel-xs;
			@include col(sm) {
				height: $altura-header-seccion-home-carousel;	
			}
			overflow: hidden;
			img.thumbnail {
				position: absolute;
				left: 0;
				height: 100%;
				width: auto;
				opacity: 1;
			    overflow: hidden;
			    text-align: center;
			    z-index: 3;
			}
			img.fondo {
				position: absolute;
				height: auto;
				width: 100%;
				opacity: .4;
			    overflow: hidden;
			    text-align: center;
			    z-index: 2;
			}
			.post {
				//background-color: $body-background-color;
				text-shadow: 1px 1px #000;
				.titulo {
					margin-top: 20px !important;
					.tipo {}
				}
				.excerpt {}
			}
		}
	}
	.left, .right {
		z-index: 3;
	}
}

h3.header {
	a {
		color: #333;
		text-decoration: none;
	}
}

.header-seccion {
	$altura-header-seccion: 55px;
	$font-size-header-seccion: 32px;
	
	background-color: $background-header-seccion;
	height: $altura-header-seccion;
	margin: 10px;
	margin-top: 34px;
	padding: 0 !important;
	font-size: $font-size-header-seccion;
	text-align:left;
	
	color: #fff;
	padding: 10px;

	img { 
		height: $altura-header-seccion;
	}
	a {
		color: $body-background-color;
	}
	&:hover {
		a {
			text-decoration: none;
			//font-size: $font-size-header-seccion + 2;
		}
	}
	@include col(xs) {
		width: 100%;
		img {
			height: $altura-header-seccion;
		}
	}
	.cantidad-total {
		//
	}
}

.posts{

	text-align: center;	
 	
	.post {
	
		&:hover img {
			 @include scale(1.05);
		}
	
		img {
			opacity: 0.9;
			min-height: 150px;
			&:hover {
				opacity: 1;
			}
		}
		
		word-wrap: break-word;
		overflow: hidden;
		border-bottom: 1px solid #ccc;
		
		padding: 0;
		a {
			&:hover{
		 		text-decoration: none;
		 	}
		}

		.post-title {
			font-size: 18px;
		}

		.post-title, .post-time, .post-author{
			@extend %negrita;
		}

		.info{
			font-size: 14px;
			white-space:nowrap;
			 a {
				font-size: 13px;
				color: #fff;
				&:hover {
					color: #ccc;	
				}
			}
		}

		.tags{
			white-space: normal;
			overflow: hidden;
			font-size: 13px;
		}

		@include col(sm) {
			height: 400px;
			max-height: 100%;
			img {
				height: 220px;
				width: auto;
			    overflow: hidden;
			    text-align: center;
			}
		}
	}
}

.seccion-posts, .posts {
	h1 {
 		font-size: 2em;;
 		text-align: left;
 	}
}

.thumbnail {
	overflow:hidden;
	border: 0;
	img {
		overflow:hidden;
		width:100% !important;
	}
}

.analitica {
	background: rgba(0, 0, 0, 0.6);
	position:absolute;
	top: 40px;	
	width: 92%;
	color: #fff;
	span:hover {
		text-decoration: underline;
		cursor: default;
	}
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:auto;
    margin-top: 35px;
    color:#fff !important;
    z-index:2;

	.total-comentarios, .total-me-gustas {
		@extend %sombreado-semitransparente;
		.cant {
			color: white !important;
		}
    }
}

.tus-propias-entradas {
	margin-bottom: 10px;
	margin-top: -20px;
}

// Estilo para los posts en la home
.thumbnail {
	background: #404042;
	border-radius: 0;
	color: #FFF;
	border-bottom: 0;
}
span.post-time{
	margin:0;
}
.info.titular {
	text-transform: initial;
}
h2.post-title.titular a {
	color: #fff;
}
h2.post-title.titular {
	background: #d43f3a;
	margin-top: 0;
	padding: 5px 8px;
}
.posts .post .post-title {
	//min-height: 60px;
	height: 60px;
	overflow: hidden;
	line-height: 150%;
}
.seccion .thumbnail {
	margin-bottom: 0;
}
.seccion .post {
	background: rgb(221, 221, 221);
}
.header-seccion {
	margin: 21px 0 10px;
}

.mostrar-mas {
	border-radius: 0 0 5px 5px;
}
