.navbar{
	
}
.perfil-login{

	margin-top: 6px;
	margin-bottom: 4px;
	
	img{
		width: 100px;
		height: 100px;
		
	}
	
	.acciones {
		@include col(md) {
			margin-top: 28px;
		}
	}
	
	.dropdown {
		list-style: none;
	}

	.pequeno a {
		width: 90%;
	}

}

.navbar-principal-login {
	background-color: #eee;
	.principal-login {
		margin: 5px;
		width: 200px;
	}
}

