.navbar{

}
.perfil-login {

	margin-top: 6px;
	margin-bottom: 4px;

	img{
		width: 100px;
		height: 100px;
		
	}

	.acciones {
		@include col(md) {
			margin-top: 28px;
		}
	}

	.dropdown {
		list-style: none;
	}

	.pequeno a {
		width: 90%;
	}

	.title {
		a {
			text-decoration: none;
			color: #333;
		}
	}
}

.navbar-principal-login {
	background-color: #eee;
	.principal-login {
		//margin: 5px;
		width: 200px;
	}
}

.navbar-principal-login-xs {
	margin: -14px;
	.dropdown-toggle {
		color: #333;
	}
}
