.navbar{

}

.navbar-brand {
	margin: -7px;
}

.perfil-login, .principal-login {

	margin-top: 6px;
	margin-bottom: 4px;

	img{
		width: 100px;
		height: 100px;
		
	}

	.menu-acciones{
		.acciones {
			@include col(md) {
				margin-top: 28px;
			}
		}
		
		.title {
			margin: 11px;
			.title-user-name{
				font-size: 21px;
			}
			a {
				text-decoration: none;
				color: #333;
			}
			@include col(md) {
				margin:0;
				margin-top: 12px;
			}
			.btn-salir {
				@include col(sm) {
					padding-left: 20px;
				}
				@include col(md) {
					padding-left: 0px;
				}
			}
		}
	}

	.dropdown {
		list-style: none;
	}

	.pequeno a {
		width: 90%;
	}	

	a:hover {
		@extend %negrita;
		&:hover {
			color: $rojo-danger;
		}
	}
}

.navbar-principal-login {
	background-color: #eee;
	.principal-login {
		width: 250px;
		.list-group {
			margin:0;
		}
	}
}

.navbar-principal-login-xs {
	margin: -14px;
	.dropdown-toggle {
		color: #333;
	}
}
