#analitica {
	#usuarios-registrados-dia {
		//border: 1px solid red;
	}
	#visitas-user {
		//border: 1px solid green;
	}
	#logueados-hoy,#logueados-ayer {
		//border: 1px solid brown;
	} 
	
	.tabla {
		height: 200px; 
		margin-bottom:50px;
	}
}

#tutorial {
	img {
		width: 100%;
	}
}
	
#redes {
	.titular a {
		color: #333;
	}
}
