// _posts.scss

%ul-inline {
	ul {
		padding-left: 15px;
		li {
			list-style: none;
			@include inline-block;
		}
	}
}

@mixin sombreado-color($bg-color: #ddd, $bg-hover: #222){
	li{
		background:  $bg-color;
		border-radius: 7px;
		padding: 0px 3px;
		&:hover{
			background: invert($bg-color);
			a {
				color: $bg-color; 
			}
		}
		a {
			color: $bg-hover;			
			text-decoration: none;			
		}
	}
}

.post {

	@extend %ul-inline;
	
	iframe {
		width: 100%;
	}
		
	// Ajustar la 
	&.categoria-videos {
		iframe {
			@include col(sm) {
				height: 288px !important;
			}
			@include col(md) {
				height: 380px !important;
			}
			@include col(lg) {
				height: 465px !important;
			}
		}
	}
	/*&.categoria-bandas, &.categoria-entrevistas, &.categoria-criticas, 
	&.categoria-cronicas, &.categoria-noticias, &.categoria-conciertos {
		iframe {
		}
	}*/

	#post-meta {
		border-top: 1px solid #bbb;

		margin-bottom: 10px;
		padding-top: 10px;
		word-wrap: break-word; 
		.avatar {
			//border: 1px solid green;
			padding:0;
			margin: 10px 0;
			img {
				//border: 1px solid red;
				@include col(sm){
					width: 100%;
					height: 100%;
				}
			}
		}

		.autor {
			//border: 1px solid red;
			//margin-top: 10px;
			overflow: hidden;
			* {margin-top: 0px;}
			a:hover {
				@extend %negrita;
			}
		}
		.descripcion {
			display: none;
		}
		@include col(xs) {
			text-align: center;
		}
		&:hover {
			.avatar img {
				box-shadow: 2px 2px 5px #888;
			}
			.descripcion {
				display: inline-block ;
				//margin-top: 5px;
			}
		}
	}
	
	#informar {
		//border: 1px solid green;
		border-top: 1px solid #bbb;
	}

	#commentform {
		textarea {
			width: 100%;
			height: 40px;
			max-height: 200px;
			min-height: 37px;
			resize: vertical;
		}
		&:hover textarea, textarea:focus {
			height: 100px;
		}
	}

	#comment-form {
		//border: 1px solid blue;
		border-top: 1px solid #ccc;
		margin-top: 20px;
	}

	#comments{
		//border: 1px solid pink;
		//border-top: 1px solid #ccc;
		.comment {
			margin: 5px 0;
			p {
				margin-top: 10px;
			}
			.author{
				.name{}
				.date{ text-align:right; }
			}			
		}
	}

	// Centrar las img de dentro de los posts
	p img {
		position: relative; // allows repositioning
		left: 100%; // move the whole width of the image to the right
		margin-left: -200%; // magic!		
	}

	.categories {
		@include sombreado-color(#fff, #333);
	}
	
	.editor {
		margin-bottom: 10px;
		padding: 0px;
		img {
			height: 34px;
			width: auto;
		}
	}

	.info {	
		margin-bottom: 10px;
	}

	.page-header {
		margin-top: $margin-top-titulo-content;
	}
	
	.siguiente-anterior-post {
		border-top: 1px solid #ccc;
		padding: 10px 0px;
		.post-siguiente {
			border-right: 1px solid #ccc;
		}
		img {
			max-height: 50px;
		}
	}
	
	
}

.total-me-gustas {
	cursor: pointer;
	cursor: hand;
}
.total-me-gustas.te-gusta i {
	color: $rojo-danger-hover;
}

.tags {
	@extend %ul-inline;
	@include sombreado-color(#ddd, #222);
}

#post-sidebar {
	margin-top: 23px;
	background-color: $body-background-color;
	//@include inline-block;

	.sidebar-item {
		margin: 3px 0px;
		padding:  15px 0;
		margin-top: -10px;
		border-bottom: 2px solid #ccc;
		.login {
			.avatar{
				height: auto;
				width: 100%;
				max-height: 160px;
				max-width: 160px;
			}
		}
		.refrescar {
			@extend %cursorPointer;
		}
	}
	
	.similares {
		//border: 1px solid red;
		//height: 250px;
		@extend %negrita;
		margin-bottom: 10px;
		
		.post {
			height: 130px;
			padding: 1px;
			overflow: hidden;
			img {
				height: 100px;
				width: 100%;
				&:hover {
					 @include scale(1.04);
				}
			}
			.titulo {
				//position: absolute;
				//bottom: 0px;
				margin: 5px;
			}
		}

		@include col(xs) {
			//height: 330px;
			.sidebar-post-similar {
				height: 220px;
				img {
					height: 185px;
					width: 100%;
				}
			}
			
		}
	}

	.users-gustan{
		.row {
		
			margin: 5px 0;
			padding: 2px 0;
			
			&:hover {
				//border: 1px solid $rojo-danger;
				border-radius: 5px;
				@extend %negrita;
				.avatar {
					box-shadow: 3px 3px 10px #888;
				}
			}
					
			.avatar {
				height: 35px;
				width: 35px;
			}
		}

		.otros-mas {
			.otros {
				//border: 1px solid red;
				@extend %fila-sombreada;
				background-color: $body-background-color;
				position: absolute; 
				display:none;
				left: -245px;
				top: -220px;
				width: 240px;
				padding: 0;
			}
			.texto{
				@extend %color-enlace;
			 	&:hover {
					@extend %cursorPointer;
					@extend %negrita;
				}
			}
		}
	}
	
}