// _posts.scss

%ul-inline {
	ul {
		padding-left: 15px;
		li {
			list-style: none;
			@include inline-block;
		}
	}
}

@mixin sombreado-color($bg-color: #ddd, $bg-hover: #222){
	li{
		background:  $bg-color;
		border-radius: 7px;
		padding: 0px 3px;
		&:hover{
			background: invert($bg-color);
			a {
				color: $bg-color; 
			}
		}
		a {
			color: $bg-hover;			
			text-decoration: none;			
		}
	}
}

.post {

	@extend %ul-inline;

	// Centrar las img de dentro de los posts
	p img {
		position: relative; // allows repositioning
		left: 100%; // move the whole width of the image to the right
		margin-left: -200%; // magic!
	}
	
	.page-header {
		margin-top: 25px;
	}
	
	.btn-me-gusta-y-editar  {
		margin: 10px;
	}
	.categories {
		@include sombreado-color(#fff, #333);
	}
	.comment-form {
		margin-bottom: 10px;
	}
	
	.comments{
		.comment {
			.author{
				.name{}
				.date{text-align:right}
			}
			p {
				margin-top: 10px;
			}
		}
	}
	.info {
		margin: 6px 0;
	}

	.post-time{
		margin-left: 20px;
	}
	
	.post-meta{
		h1 {
			@include inline-block;
		}
	}
	
	.total-me-gustas {
		border: 0px;
		cursor: default;
		padding: 5px;
		text-align: center;
	}
}

.tags {
	@extend %ul-inline;
	@include sombreado-color(#ddd, #222);
}