// _posts.scss

%ul-inline {
	ul {
		padding-left: 15px;
		li {
			list-style: none;
			@include inline-block;
		}
	}
}

@mixin sombreado-color($bg-color: #ddd, $bg-hover: #222){
	li{
		background:  $bg-color;
		border-radius: 7px;
		padding: 0px 3px;
		&:hover{
			background: invert($bg-color);
			a {
				color: $bg-color; 
			}
		}
		a {
			color: $bg-hover;			
			text-decoration: none;			
		}
	}
}

.post {

	@extend %ul-inline;
	
	iframe {
		width: 100%;
	} 
		
	// Ajustar la 
	&.categoria-videos {
		iframe {
			@include col(sm) {
				height: 288px !important;
			}
			@include col(md) {
				height: 380px !important;
			}
			@include col(lg) {
				height: 465px !important;
			}
		}
	}
	/*&.categoria-bandas, &.categoria-entrevistas, &.categoria-criticas, 
	&.categoria-cronicas, &.categoria-noticias, &.categoria-conciertos {
		iframe {
		}
	}*/
	
	#post-meta {
		border-top: 1px solid #bbb;
		
		margin-top: 10px;
		padding-top: 10px;
		word-wrap: break-word; 
		.avatar {
			//border: 1px solid green;
			padding:0;
			margin: 10px 0;
			img {
				//border: 1px solid red;				
				@include col(sm){
					width: 100%;
					height: 100%;
				}				
				&:hover {
					box-shadow: 2px 2px 5px #888;
				}
			}
		}
		.autor{			
			//border: 1px solid red;
			//margin-top: 10px;
			overflow: hidden;
			* {margin-top: 0px;}
			a:hover {
				@extend %negrita;
			}			
		}		
		.descripcion {
			display: none;
		}
		@include col(xs) {
			text-align: center;
		}
		&:hover {
			.descripcion {
				display: inline-block ;
				margin-bottom: 10px;
			}
		}
	}
	
	#informar {
		//border: 1px solid green;
		border-top: 1px solid #bbb;
	}
	
	#comment-form {
		//border: 1px solid blue;
		border-top: 1px solid #ccc;
		margin-top: 20px;
	}

	#comments{
		//border: 1px solid pink;
		//border-top: 1px solid #ccc;
		.comment {
			margin: 5px 0;
			p {
				margin-top: 10px;
			}
			.author{
				.name{}
				.date{ text-align:right; }
			}			
		}
	}

	// Centrar las img de dentro de los posts
	p img {
		position: relative; // allows repositioning
		left: 100%; // move the whole width of the image to the right
		margin-left: -200%; // magic!		
	}
	
	.page-header {
		margin-top: 25px;
	}
	
	.btn-me-gusta-y-editar  {
		margin: 10px;
	}
	.categories {
		@include sombreado-color(#fff, #333);
	}

	.info {
		margin: 6px 0;
	}

	.post-time{
		margin-left: 20px;
	}	
	
	.total-me-gustas {
		border: 0px;
		cursor: default;
		padding: 5px;
		text-align: center;
	}
	
}

.tags {
	@extend %ul-inline;
	@include sombreado-color(#ddd, #222);
}