#sidebar{
	margin-top: 23px;
	background-color: $body-background-color;
	//@include inline-block;

	.sidebar-item {
		margin: 3px 0px;
		padding:  15px 0;
		margin-top: -10px;
		border-bottom: 2px solid #ccc;
		.login {
			.avatar{
				height: auto;
				width: 100%;
				max-height: 160px;
				max-width: 160px;
			}
		}
	}
	
	.similares {		
		//border: 1px solid red;
		//height: 250px;
		@extend %negrita;
		margin-bottom: 10px;
		.sidebar-post-similar {
			height: 130px;
			padding: 1px;
			overflow: hidden;
			img {			
				height: 100px;
				width: 100%;
			}
			
			.sidebar-post-similar-title{
				//position: absolute;
				//bottom: 0px;				
				margin:5px;
			}
		}

		@include col(xs) {
			//height: 330px;
			.sidebar-post-similar {
				height: 220px;			
				img {
					height: 185px;
					width: 100%;
				}
			}
			
		}
	}

	.users-gustan{
		.avatar {
			height: 26px;
			width: 26px;
		}
	}
	
}

.login-necesario {
	color: #333;
	&:hover{
		color: #ccc;
		cursor: pointer;
	}
}