#sidebar{
	.sidebar-item {
	
		margin: 3px 0px;
		padding:  20px 0;
		border-bottom: 2px solid #ccc;
		.login {
			.avatar{
				height: auto;
				width: 100%;
				max-height: 160px;
				max-width: 160px;
			}
		}
			
		.sidebar-post-similar {
			height: 75px;
			overflow: hidden;
			padding: 1px;
			img {
				height: 100%;
				width: 100%;
			}
		}	
	}
	
	.similares {		
		//padding-bottom: 10px;
	}
	
	.login {
	}
}