/* 
* Autor: José María Valera Reales <@Chemaclass>
*/
//@import "libs/html5boilerplate/normalize.scss";
//@import "libs/html5boilerplate/main.scss";
@import "compass/css3/inline-block";

@import "base.scss";
@import "home.scss";
@import "posts.scss";
@import "sidebar.scss";
@import "navbar.scss";

.site-title {
	@include col(sm) {
		padding-top: 40px;
	}
	@include col(md) {
		font-size: 50px;
		padding-top: 28px;
	}
	@include col(lg) {
		font-size: 60px;
		padding-top: 0px;
	}
	font-size: 40px;
	text-align: center;	
	a {
		color: #E6E6E6;
		&:hover {
			text-decoration: none;
		}
	}
}

#content{
	overflow: hidden;
	*{
		//border: 1px solid red; 
	}
}

#sidebar{
	
}

body {
  	background-color: #000;
	background: url(../img/nm_back.jpg);
	background-repeat: fixed;
	background-attachment: fixed;
	background-position: center;
	color: #333;
	font-family: "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 16px ;
	//margin: 0px;
}

.header-img {
	//background-position: center;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
	background-image: url('../img/nm_head.jpg');
	color: transparent;
	min-height: 150px;
	width: 100%;
}

#page{
  	background-color: #fff;  	
}
.pager{
	margin: 0px;
	a {
		//color: red;
	}
}

#footer{
	margin-top: 10px;	
}

.page-header {
	margin: 0px;
	a {
		color: #333;
		text-decoration: none;
	}
}

.post.thumbnail {
	height: 350px;
}

.sin-thumbnail{
	background-position:center; 
	background-size: cover;
	background-image: url('../img/sin_thumbnail.jpg');
}

.aumentar-padding-top-content{
	padding-top: 155px;
}


/* ******************************************************************/
/* 								IDs 								*/
/* ******************************************************************/
#buscador {
	margin-top: 20px;
}

#logeo {
	/* margin-left: 20px;*/
	//padding: 20px;
	//padding-bottom: 0;
}

#logeo .login .acciones{	
	//display: inline-block;
}

#mostrar-login-form:hover {
	cursor: pointer;
}

#subheader #loginform .btn-ayuda{	
	padding-top: 5px;
	
}

/* ******************************************************************/
/* 							 Clases 								*/
/* ******************************************************************/

