/* 
* Autor: José María Valera Reales <@Chemaclass>
*/
@import "libs/html5boilerplate/normalize.scss";
@import "libs/html5boilerplate/main.scss";
@import "compass/css3/inline-block";

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin col($media) {
	@if $media == xs {
		@media only screen and (max-width: $screen-xs-max) { @content; }
	}
	@else if $media == sm {
		@media only screen and (min-width: $screen-sm-min) { @content; }
	}
	@else if $media == md {
		@media only screen and (min-width: $screen-md-min) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $screen-lg-min) { @content; }
	}
}

.site-title {
	@include col(sm) {
		padding-top: 40px;
	}
	@include col(md) {
		font-size: 50px;
		padding-top: 28px;
	}
	@include col(lg) {
		font-size: 60px;
		padding-top: 0px;
	}	
	font-size: 40px;
	text-align: center;	
	a {
		color: #E6E6E6;
		&:hover {
			text-decoration: none;
		}
	}
}


$maxWidth: 1200px; //960px;

#content{
	overflow: hidden;
	*{
		//border: 1px solid red; 
	}
}

#sidebar{
	
}

body {
  	background-color: #000;
	background: url(../img/nm_back.jpg);
	background-repeat: fixed;
	background-attachment: fixed;
	background-position: center;
	color: #333;
	font-family: "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 16px ;
	margin: 0px;
}



.header-img {
	//background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
	background-image: url('../img/nm_head.jpg');
	color: transparent;
	min-height: 150px;
	width: 100%;
}

#page{
  	background-color: #fff;  	
}

.post {
	height: 430px;
	word-wrap: break-word;
	overflow: hidden;
	.info a {
		color: #999;
	}
}

/* ******************************************************************/
/* 								IDs 								*/
/* ******************************************************************/
#buscador {
	margin-top: 20px;
}

#logeo {
	/* margin-left: 20px;*/
	//padding: 20px;
	//padding-bottom: 0;
}

#logeo .login .acciones{	
	//display: inline-block;
}

#mostrar-login-form:hover {
	cursor: pointer;
}

#subheader #loginform .btn-ayuda{	
	padding-top: 5px;
	
}

/* ******************************************************************/
/* 							 Clases 								*/
/* ******************************************************************/
ul {
	padding-left: 15px;
	li {
		list-style: none;
		@include inline-block;
	}
}

@mixin sombreado-color($bg-color: #ddd, $bg-hover: #222){
	li{
		background:  $bg-color;
		border-radius: 7px;
		padding: 0px 3px;
		&:hover{
			background: invert($bg-color);
			a {
				color: $bg-color; 
			}
		}
		a {
			color: $bg-hover;			
			text-decoration: none;			
		}
	}
}

.categories{
	@include sombreado-color(#fff, #333);
}

.tags {
	@include sombreado-color(#ddd, #222);
}

.home-title a {
	color: #333;
	text-decoration: none;
}

.pagination {
	display: block;
	border-radius: 4px;
}
