<div class="body col-xs-12">
	<h2 class="titular">Esdísticas varias</h2>
	
	<div class="col-xs-6">
		<h4 class="titular">Favoritos dados: {{total_fav_dados}}</h4>		
	</div>
	<div class="col-xs-6">
		<h4 class="titular">Favoritos recibidos: {{total_fav_recibidos}}</h4>		
	</div>
	
	{{#total_fav_dados}}
	<div class="col-xs-12 col-sm-6 etiquetas-favoritos">
		<h4 class="titular">Etiquetas destacadas en base a sus favoritos: </h4>			
		<ul class="tags">
	        {{#the_tags}}
	        <li><a href="{{tag_link}}" title="{{total}}">{{name}}</a></li>
	        {{/the_tags}}
	    </ul>		
	</div>
	{{/total_fav_dados}}
	
	<div class="col-xs-12 col-sm-6 ultimos-favoritos">
		<h4 class="titular">Últimos favoritos: </h4>
		<ul>
		{{#favoritos}}
			{{> autor/_post_fav }}
		{{/favoritos}}
		</ul>
	</div>
</div>