<div class="body col-xs-12">	
	<div class="col-xs-6">
		<h4 class="titular">Favoritos dados: {{total_fav_dados}}</h4>		
	</div>
	<div class="col-xs-6">
		<h4 class="titular">Favoritos recibidos: {{total_fav_recibidos}}</h4>		
	</div>
	
	{{#total_fav_dados}}
	<div class="col-xs-12 col-sm-6 col-md-4 etiquetas-favoritos">
		<h4 class="titular">Etiquetas destacadas en base a sus favoritos: </h4>			
		<ul class="tags">
	        {{#the_tags}}
	        <li><a href="{{tag_link}}" title="{{total}}">{{name}}</a></li>
	        {{/the_tags}}
	    </ul>		
	</div>
	{{/total_fav_dados}}
	
	<div class="col-xs-12 col-sm-6 ">
		<h4 class="titular">Últimos favoritos: </h4>
	</div>
	<div class="ultimos-favoritos">
	{{#favoritos}}
		<div class="post-fav col-xs-6 col-md-4" >
			<div class="thumbnail">
				<a href="{{permalink}}" title="{{{title}}}">
					{{#featured_image_url_medium}}
						<img class="img-responsive" src="{{featured_image_url_medium}}" />
					{{/featured_image_url_medium}}
					{{^featured_image_url_medium}}
						<img class="img-responsive sin-thumbnail"/>
					{{/featured_image_url_medium}}
				</a>
		    </div>
		    <h2 class="post-title titular">
				<a href="{{permalink}}" title="{{{title}}}">{{{title_corto}}}</a>
		    </h2>
		</div>
	{{/favoritos}}		
	</div>
</div>