{{#current_user}}
	{{#user}}
		{{#isCurrentUser}}
			<a class="btn btn-danger col-xs-12" href="/messages">
				<i class="fa fa-file-text-o"></i> {{#transu}}Mensajes{{/transu}}
			</a>
		{{/isCurrentUser}}
		{{^isCurrentUser}}
			<span class="nuevo-mensaje">
				<button class="btn btn-default escribir-mensaje col-xs-12">
					<i class="fa fa-file-text-o"></i> {{#transu}}user.escribir_mensaje{{/transu}}
				</button>
				<form class="form hidden" nonce="{{current_user.getNonceEnviarMensaje}}">
					<textarea class="form-control" id="mensaje" maxlength="200"></textarea> 
					<button class="btn btn-danger enviar-mensaje col-xs-12" id="{{ID}}">
						<i class="fa fa-file-text-o"></i> {{#transu}}user.enviar_mensaje{{/transu}}
					</button>
				</form>
			</span>
		{{/isCurrentUser}}
	{{/user}}
{{/current_user}}
{{^current_user}}
	<a class="btn btn-default col-xs-12" href="/wp-login.php">
		<i class="fa fa-file-text-o"></i> {{#transu}}user.enviar_mensaje{{/transu}}
	</a>
{{/current_user}}