{{#user}}
	<button class="col-xs-12 btn btn-default seguir" id="{{ID}}" url="{{template_url}}/ajax.php" tipo="{{TIPO}}">
		<i class="fa fa-plus-square"></i> {{#transu}}seguir{{/transu}}
	</button>
{{/user}}