<div itemprop="author" itemscope itemtype="http://schema.org/Person">
	<div class="row img-avatar" >
		<span class="col-xs-12 user-avatar" itemprop="image">
			<img alt="{{display_name}} avatar" src="{{getAvatarPerfil}}" class="avatar">		
		</span>

		{{#isCurrentUserOrAdmin}}
			<div class="col-xs-12 btn-avatar hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#avatar" target="_blank">
					<i class="fa fa-image"></i> {{#transu}}cambiar{{/transu}}</a>
			</div>
		{{/isCurrentUserOrAdmin}}
	</div>

	<div class="row">
		<h3 class="col-xs-12 titular"><span itemprop="name">{{display_name}}</h3>
		
		<span class="col-xs-12 col-lg-10">
			{{> autor/_btn_seguir }}
		</span>
		
		<h4 class="col-xs-12"> {{getNombreCompleto}}
			<small itemprop="rolTitle">{{getRol}}</small>
			{{#isCurrentUserOrAdmin}}
			<span class="hidden">
				<a class="btn btn-default btn-xs " href="{{getEditUrl}}#nombre" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUserOrAdmin}}
		</h4>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			{{#transu}}como{{/transu}}: <span class="tipo-usuario titular" itemprop="jobTitle">{{getTipoTrans}}</span>
			{{#isCurrentUserOrAdmin}}
			<span class="hidden">
				<a class="btn btn-xs btn-default btn-xs" href="{{getEditUrl}}#tipo-usuario" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUserOrAdmin}}
		</div>
	</div>
	
	<div class="row">
		{{# getMesYAnoRegistro }}
			<h4 class="col-xs-12">
				<i class="fa fa-clock-o"></i> <small>{{#trans}}user.se_unio_en [mes:{{mes}},ano:{{ano}}]{{/trans}}</small>
			</h4>
		{{/ getMesYAnoRegistro }}
	</div>
	
	<div class="row">		
		{{# getUbicacion }}
			<h4 class="col-xs-12"><i class="fa fa-globe"></i> <small>{{.}}</small>
				{{#isCurrentUserOrAdmin}}
					<span class="hidden">
						<a class="btn btn-default btn-xs " href="{{getEditUrl}}#ubicacion" target="_blank">
							<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
					</span>
					{{/isCurrentUserOrAdmin}}
			</h4>
		{{/ getUbicacion }}
	</div>
	
	<div class="row">
		{{# getIdiomaTrans }}
			<h4 class="col-xs-12"><i class="fa fa-language"></i> <small>{{.}}</small>
				{{#isCurrentUserOrAdmin}}
					<span class="hidden">
						<a class="btn btn-default btn-xs " href="{{getEditUrl}}#ubicacion" target="_blank">
							<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
					</span>
					{{/isCurrentUserOrAdmin}}
			</h4>
		{{/ getIdiomaTrans }}
	</div>	

	{{# tieneRedes }}
	<div class="row">
		<h4 class="col-xs-12 titular">{{#transu}}contacto{{/transu}}</h4>
		{{> autor/_redes_sociales}}
		{{#isCurrentUserOrAdmin}}
			<span class="col-xs-4 hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#redes-sociales" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
		{{/isCurrentUserOrAdmin}}
	</div>
	{{/ tieneRedes }}
	
	{{# getTotalGenerosDestacados }}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="titular">{{#trans}}user.generos_destacados{{/trans}}</h4>
			<ul class="tags text-center">
			{{# getArrayGenerosDestacados }}
	       		<li><a href="/?s={{.}}">{{.}}</a></li>
			{{/ getArrayGenerosDestacados }}
   			</ul>
		</div>
	</div>
	{{/ getTotalGenerosDestacados }}
	
	{{# getTotalBandasDestacadas }}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="titular">{{#trans}}user.bandas_destacadas{{/trans}}</h4>
			<ul class="tags text-center">
			{{# getArrayBandasDestacadas }}
	       		<li><a href="/?s={{.}}">{{.}}</a></li>
			{{/ getArrayBandasDestacadas }}
   			</ul>
		</div>
	</div>
	{{/ getTotalBandasDestacadas }}
</div>