<div itemprop="author" itemscope itemtype="http://schema.org/Person">
	<div class="row img-avatar" >
		<span class="col-xs-12 user-avatar" itemprop="image">
			<img alt="{{display_name}} avatar" src="{{getAvatarPerfil}}" class="avatar">		
		</span>

		{{#isCurrentUserOrAdmin}}
			<div class="col-xs-12 btn-avatar hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#avatar" target="_blank">
					<i class="fa fa-image"></i> {{#transu}}cambiar{{/transu}}</a>
			</div>
		{{/isCurrentUserOrAdmin}}
	</div>

	<div class="row">
		<h3 class="col-xs-12 titular"><span itemprop="name">{{display_name}}</h3>
		
		<span class="col-xs-12 col-md-9 col-lg-8">
			{{> autor/_btn_seguir }}
		</span>
		
		<h4 class="col-xs-12"> {{getNombreCompleto}}
			<small itemprop="rolTitle">{{getRol}}</small>
			{{#isCurrentUserOrAdmin}}
			<span class="hidden">
				<a class="btn btn-default btn-xs " href="{{getEditUrl}}#nombre" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUserOrAdmin}}
		</h4>
	</div>
		{{# getMesYAnoRegistro}}
			<h4><i class="fa fa-clock-o"></i> <small>{{#trans}}user.se_unio_en [mes:{{mes}},ano:{{ano}}]{{/trans}}</small></h4>
		{{/ getMesYAnoRegistro}}
	<hr>

	<div class="row">
		<div class="col-xs-12">
			{{#transu}}como{{/transu}}: <span class="tipo-usuario titular" itemprop="jobTitle">{{getTipoTrans}}</span>
			{{#isCurrentUserOrAdmin}}
			<span class="hidden">
				<a class="btn btn-xs btn-default btn-xs" href="{{getEditUrl}}#tipo-usuario" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUserOrAdmin}}
		</div>
	</div>
	<hr>

	{{# tieneRedes }}
	<div class="row">
		<div class="col-xs-12 titular">{{#transu}}contacto{{/transu}}</div>
		{{> autor/_redes_sociales}}
		{{#isCurrentUserOrAdmin}}
			<span class="col-xs-4 hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#redes-sociales" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
		{{/isCurrentUserOrAdmin}}
	</div>
	<hr>
	{{/ tieneRedes }}

	<table class="table table-condensed text-center titular">
		<tr>
			<th colspan="2"><i class="fa fa-star"></i> {{#transu}}favoritos{{/transu}}</th>
		</tr>
		<tr class="active">
			<td>{{#transu}}dados{{/transu}}</td>
			<td>{{#transu}}recibidos{{/transu}}</td>
		</tr>
		<tr>
			<td>{{getCountFavoritos}}</td>
			<td>{{getCountFavoritosRecibidos}}</td>
		</tr>
	</table>
		
</div>