<div itemprop="author" itemscope itemtype="http://schema.org/Person">
	<div class="row img-avatar" >
		<span class="col-xs-12 user-avatar" itemprop="image">
			<img alt="{{display_name}} avatar" src="{{getAvatarPerfil}}" class="avatar">		
		</span>

		{{#isCurrentUser}}
			<div class="col-xs-12 btn-avatar hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#avatar" target="_blank">
					<i class="fa fa-image"></i> {{#transu}}cambiar{{/transu}}</a>
			</div>
		{{/isCurrentUser}}
	</div>

	<div class="row">
		<h3 class="col-xs-12 titular"><span itemprop="name">{{display_name}}</h3>
		<h4 class="col-xs-12"> {{getNombreCompleto}}
			<small itemprop="rolTitle">{{getRol}}</small>
			{{#isCurrentUser}}
			<span class="hidden">
				<a class="btn btn-default btn-xs " href="{{getEditUrl}}#nombre" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUser}}
		</h4>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-12">
			{{#transu}}como{{/transu}}: <span class="tipo-usuario titular" itemprop="jobTitle">{{getTipoTrans}}</span>
			{{#isCurrentUser}}
			<span  class="hidden">
				<a class="btn btn-xs btn-default btn-xs" href="{{getEditUrl}}#tipo-usuario" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUser}}
		</div>
	</div>
	<hr>

	{{# tieneRedes }}
	<div class="row">
		<div class="col-xs-12 titular">{{#transu}}contacto{{/transu}}</div>
		{{> autor/_redes_sociales}}
		{{#isCurrentUser}}
			<span class="col-xs-4 hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#redes-sociales" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
		{{/isCurrentUser}}
	</div>
	<hr>
	{{/ tieneRedes }}

	<table class="table table-condensed text-center titular">
		<tr>
			<th colspan="2"><i class="fa fa-star"></i> {{#transu}}favoritos{{/transu}}</th>
		</tr>
		<tr class="active">
			<td>{{#transu}}dados{{/transu}}</td>
			<td>{{#transu}}recibidos{{/transu}}</td>
		</tr>
		<tr>
			<td>{{getCountFavoritos}}</td>
			<td>{{getCountFavoritosRecibidos}}</td>
		</tr>
	</table>
		
</div>