<div class="header col-xs-12">

	<div itemprop="author" itemscope itemtype="http://schema.org/Person">
		<h2>
		<div class="col-xs-12 col-sm-10" >
			<span itemprop="image">{{{user.getAvatar}}}</span>
			<a href="{{user_posts_url}}" itemprop="name">{{user.display_name}}</a>
			<small itemprop="jobTitle">{{user_rol}}</small>
		</div>
		</h2>
		{{#user.getUrl}}
		<div class="col-sm-2 text-right">			
			{{#user.getUrl}}<a class="btn btn-default btn-md" role="button" href="{{user.getUrl}}" target="_blank">
				<i class="fa fa-globe"></i>{{#transu}}web{{/transu}}</a>
			{{/user.getUrl}}
		</div>
		{{/user.getUrl}}
		<div class="col-xs-12">
			<blockquote>
				{{#user.getDescription}}
					<small>{{#transu}}biografia{{/transu}}</small>
				{{/user.getDescription}}
				<p itemprop="description">
					{{user.getDescription}}
					{{^user.getDescription}}
						{{#transu}}user.no_hay_info_perfil{{/transu}}
					{{/user.getDescription}}
				</p>
			</blockquote>
		</div>
	</div>
</div>