<div class="body col-xs-12">
	
	<h4 class="col-xs-12 col-sm-6 col-md-4 titular">Favoritos dados: {{user.getCountFavoritos}}</h4>
	<h4 class="col-xs-12 col-sm-6 col-md-4 titular">Favoritos recibidos: {{user.getCountFavoritosRecibidos}}</h4>
			
	<div class="col-xs-12">
		<h3><i class="fa fa-area-chart"></i> Entradas publicadas este mes: </h3>
		<div id="entradas-publicadas" style="height:150px; margin-bottom:0px;"></div>
	</div>
	
	{{#user.getCountFavoritos}}
	<div class="col-xs-12 ">
		<h4 class="titular">Etiquetas destacadas según sus favoritos: </h4>			
		<ul class="tags text-center">
	        {{#user.getArrayEtiquetasFavoritas}}
	        <li><a href="{{tag_link}}" title="{{total}}">{{name}}</a></li>
	        {{/user.getArrayEtiquetasFavoritas}}
	    </ul>
	</div>
	{{/user.getCountFavoritos}}
		
	<h4 class="ultimos-favoritos-dados titular col-xs-12 ">Últimos favoritos dados: </h4>
	<div class="ultimos-favoritos ">
		{{> autor/_seccion_fav}}
	</div>
	
</div>

<script src="{{template_url}}/public/third/raphael/raphael.min.js"></script>
<script src="{{template_url}}/public/third/morris/morris.js"></script>
<script src="{{template_url}}/public/js/analitica.js"></script>

<script>
	$(document).ready(function() {
		var url = "{{template_url}}/ajax.php?submit=analitica&tabla={{user.ID}}&cant=30";
		pintarMorris("entradas-publicadas", url);
	});
</script>