<article class="post col-xs-12 col-sm-6" 
	itemscope itemType="http://schema.org/BlogPosting">

	<div class="thumbnail">
        <div class="caption text-left">
		{{# getTotalMeGustas }}
			<span class="total-me-gustas titular">
				<i class=" fa fa-star"></i> <span class="cant">{{ getTotalMeGustas }}</span>
			</span>
		{{/ getTotalMeGustas }}

		{{# getAnalitica }}
			<a href="{{getUrl}}" title="{{{getTitulo}}}">
				<div class="analitica">
					{{#visitas_totales}}
					<span class=" total-visitas">
						<span class="col-xs-12 col-md-6 col-lg-12">{{#transu}}totales{{/transu}}: {{ totales }}</span>
						<span class="col-xs-12 col-md-6 col-lg-12">T. {{#transu}}hoy{{/transu}}: {{ totales_hoy }}</span>
					</span>
					{{/visitas_totales}}
		
					{{#visitas_user}}
					<span class=" unicas-por-user">
						<span class="col-xs-12 col-md-6 col-lg-12">{{#transu}}unicas{{/transu}}: {{ unicas }}</span>
						<span class="col-xs-12 col-md-6 col-lg-12">U. {{#transu}}hoy{{/transu}}: {{ unicas_hoy }}</span>
					</span>
					{{/visitas_user}}
				</div>
			</a>
		{{/ getAnalitica }}
        </div>
        
		<a href="{{getUrl}}" title="{{{getTitulo}}}">			
			{{#getThumbnails}}
				{{#medium}}
					<img class="img-responsive" src="{{medium}}" />
				{{/medium}}
				{{^medium}}
					<img class="img-responsive sin-thumbnail"/>
				{{/medium}}
			{{/getThumbnails}}
			{{^getThumbnails}}
				<img class="img-responsive sin-thumbnail"/>
			{{/getThumbnails}}
		</a>
    </div>
    <h2 class="post-title titular">
		<a href="{{getUrl}}" title="{{{getTitulo}}}">{{{getTituloCorto}}}</a>
    </h2>	
</article>