{{#favoritos}}
	<div class="posts">
		<span class="hidden cant">{{cant}}</span>
		<span class="hidden tipo">{{tipo}}</span>
		<div class="seccion {{a_buscar}}">		
			{{> autor/_favoritos }}
		</div>
		{{> home/_btn_mostrar_mas }}
	</div>
{{/favoritos}}