<div class="row estadisticas titular">
	<span class="col-xs-6 col-sm-4 col-md-2">{{#transu}}puntos{{/transu}}<br>	
		<i class="fa fa-check"></i> 
		{{#isCurrentUser}}<a href="/activity?active=puntos"><span class="rojo total-puntos">{{getTotalPuntos | formatear_numero}}</span></a>{{/isCurrentUser}}
		{{^isCurrentUser}}<span class="rojo total-puntos">{{getTotalPuntos | formatear_numero}}</span>{{/isCurrentUser}}
	</span>
	
	<span class="col-xs-6 col-sm-4 col-md-2">{{#transu}}posts{{/transu}}<br>	
		<i class="fa fa-files-o"></i> <a href="#posts"><span class="rojo total-posts">{{getTotalPosts | formatear_numero}}</span></a>
	</span>	
	
	<span class="col-xs-6 col-sm-4 col-md-2">{{#transu}}seguidores{{/transu}}<br>
		<i class="fa fa-users"></i> 
		{{#isCurrentUser}}<a href="/activity?active=seguidores"><span class="rojo total-seguidores">{{getTotalSeguidores | formatear_numero}}</span></a>{{/isCurrentUser}}
		{{^isCurrentUser}}<span class="rojo total-seguidores">{{getTotalSeguidores | formatear_numero}}</span>{{/isCurrentUser}}
	</span>
		
	<span class="col-xs-6 col-sm-4 col-md-2">{{#transu}}siguiendo{{/transu}}<br>
		<i class="fa fa-users"></i> 
		{{#isCurrentUser}}<a href="/activity?active=siguiendo"><span class="rojo total-siguiendo">{{getTotalSiguiendo | formatear_numero}}</span></a>{{/isCurrentUser}}
		{{^isCurrentUser}}<span class="rojo total-siguiendo">{{getTotalSiguiendo | formatear_numero}}</span>{{/isCurrentUser}}
	</span>
	
	<span class="col-xs-6 col-sm-4 col-md-2">{{#transu}}dados{{/transu}}<br>
		<i class="fa fa-star"></i> 
		{{#isCurrentUser}}<a href="/favorites"><span class="rojo total-favoritos">{{getTotalFavoritos | formatear_numero}}</span></a>{{/isCurrentUser}}
		{{^isCurrentUser}}<span class="rojo total-favoritos">{{getTotalFavoritos | formatear_numero}}</span>{{/isCurrentUser}}
	</span>
	
	<span class="col-xs-6 col-sm-4 col-md-2">{{#transu}}recibidos{{/transu}}<br>
		<i class="fa fa-star"></i> <span class="rojo total-favoritos-recibidos">{{getTotalFavoritosRecibidos | formatear_numero}}</span>
	</span>
</div>

<div class="row">
	<div class="col-xs-12">		
		<h4 class="titular"><i class="fa fa-file-o"></i> {{#transu}}descripcion{{/transu}}</h4>		
		<div class="bs-callout bs-callout-danger descripcion" itemprop="description">		
				{{getDescripcion}}
				{{^getDescripcion}}
					{{#transu}}user.no_hay_info_perfil{{/transu}}
				{{/getDescripcion}}			
			{{#isCurrentUserOrAdmin}}
			<span class="hidden">
				<a class="btn btn-default btn-xs" href="{{getEditUrl}}#acerca-de-ti" target="_blank">
					<i class="fa fa-edit"></i> {{#transu}}cambiar{{/transu}}</a>
			</span>
			{{/isCurrentUserOrAdmin}}
		</div>
	</div>
</div>

{{#favoritos}}
	<div class="row">
		{{# getTotalPosts }}
			<div class="col-xs-12 titular">
				<h4><i class="fa fa-area-chart"></i> {{#transu}}user.entradas_publicadas_ano{{/transu}}</h4>
				<div id="entradas-publicadas" style="height:120px; margin-bottom:0px;"></div>
			</div>
		{{/ getTotalPosts }}
		
		{{#getTotalFavoritos}}
		<div class="col-xs-12 ">
			<h4 class="titular"><i class="fa fa-tags"></i> {{#transu}}user.etiquetas_destacadas_fav{{/transu}}</h4>			
			<ul class="tags text-center">
		        {{#user.getArrayEtiquetasFavoritas}}
		        <li><a href="{{tag_link}}" title="{{total}}">{{name}}</a></li>
		        {{/user.getArrayEtiquetasFavoritas}}
		    </ul>
		</div>
		{{/getTotalFavoritos}}
		
		{{#getTotalFavoritos}}
			<h4 class="ultimos-favoritos-dados titular col-xs-12 "><i class="fa fa-hand-o-right"></i> {{#transu}}user.ultimos_fav_dados{{/transu}}</h4>
			<div class="ultimos-favoritos col-xs-12">
				{{> user/perfil/_seccion_favoritos }}
			</div>
		{{/getTotalFavoritos}}
		
	</div>
{{/favoritos}}
