<section class="col-xs-12">
<h3>Informar</h3>
{{#current_user}}
	<p><small> Reportar enlaces o vídeos caídos para esta entrada.</small></p>
	<div class="formulario">
		<form action="{{template_url}}/ajax.php">
			<input type="hidden" name="post" value="{{post_id}}">
			<input type="hidden" name="user" value="{{user_id}}">
			<i class="fa fa-spinner fa-spin fa-2x hidden"></i>
			<input type="submit" id="btn-notificar" name="submit" value="Reportar" class="btn btn-danger">
		</form>
	</div>
{{/current_user}}
{{^current_user}}
	<p><small> Reportar enlaces o vídeos caídos para esta entrada.</small></p>
	<p><span class="login-necesario">Para ello es necesario estar logueado</span></p>
{{/current_user}}
</section>