<article class="col-xs-6 col-sm-12 col-md-6 text-center sidebar-post-similar">
    <a href="{{permalink}}" title="{{title}}">
		{{#featured_image_url_medium}}
			<img class="img-responsive" src="{{featured_image_url_medium}}" />
		{{/featured_image_url_medium}}
		{{^featured_image_url_medium}}
			<img class="img-responsive sin-thumbnail"/>
		{{/featured_image_url_medium}}
	</a>
	<p class="sidebar-post-similar-title titular">{{title_corto}}</p>
</article>