<p>{{#trans}}sidebar.te_gusta_lo_que_ves{{/trans}}</p>
<p>{{#trans}}sidebar.unete{{/trans}}</p>
<p><a href="/tutorial" class="btn btn-default btn-sm hidden-sm">
	<i class="fa fa-check"></i>{{#trans}}sidebar.empieza_a_publicar_largo{{/trans}}</a>
</p>
<p><a href="/tutorial" class="btn btn-default btn-sm visible-sm">
	<i class="fa fa-check"></i> {{#trans}}sidebar.empieza_a_publicar{{/trans}}</a>
</p>