<p>
	¿Te gusta lo que ves?<br>
	¿Tienes una banda y quieres difusión?<br>
	¿Te gustaría publicar tus bandas preferidas? <br>
	¿Te gusta escribir críticas de los nuevos álbumes?
</p>
<p>¡Únete a la comundidad nuevametalera!</p>
<p><a href="/tutorial" class="btn btn-primary btn-sm hidden-sm">Empieza a publicar tu música metal</a></p>
<p><a href="/tutorial" class="btn btn-primary btn-sm visible-sm">¡Empieza a publicar!</a></p>