<div class="sidebar-item login col-xs-12 text-center">
	
	<div class="avatar">
		{{{user_avatar}}}
	</div>
	<div class="">
		<div class="title">
			<h3>Bienvenido {{display_name}}</h3>
		</div>
		<div>
			<ul class="list-group ">
				<li class="list-group-item"><a class="dashboard" href="/wp-admin/">Escritorio</a></li>
				<li class="list-group-item"><a class="write" href="/wp-admin/post-new.php">Escribir</a></li>
				<li class="list-group-item"><a class="profile" href="/wp-admin/profile.php">Perfil</a></li>
				<li class="list-group-item"><a class="log-out last" id="wp-logout" href="/wp-login.php?action=logout&amp;redirect_to={{home_url}}">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</div>
